<template>
    <v-app light>
        <side-bar></side-bar>
        <nav-bar></nav-bar>
        <v-main>
            <v-container
                fluid
            >
                <router-view></router-view>
            </v-container>
        </v-main>
        <employee-form></employee-form>
        <single-employee></single-employee>
        <category-form></category-form>
        <product-form></product-form>
        <referral-form></referral-form>
        <customer-form></customer-form>
        <vendor-form></vendor-form>
        <material-form></material-form>
        <project-form></project-form>
        <project-detail-form></project-detail-form>
        <unit-form></unit-form>
        <equipment-category-form></equipment-category-form>
        <equipment-form></equipment-form>
        <stock-form></stock-form>
        <process></process>
        <attendance-form></attendance-form>
        <add-product-process></add-product-process>
        <view-product-process></view-product-process>
        <contract-form></contract-form>
        <project-detail-edit></project-detail-edit>
        <manufacture-form></manufacture-form>
        <phase-attendance-form></phase-attendance-form>
        <edit-phase-attendance-form></edit-phase-attendance-form>
        <phase-attendance-job-end-form></phase-attendance-job-end-form>
        <shade-card-form></shade-card-form>
        <room-shade-form></room-shade-form>
        <surface-shade-form></surface-shade-form>
        <pack-type-form></pack-type-form>
        <material-group-form></material-group-form>
        <material-group-list></material-group-list>
        <shade-palette-form></shade-palette-form>
        <raw-material-quotation-form></raw-material-quotation-form>
        <requisition-form></requisition-form>
        <purchase-order-form></purchase-order-form>
        <receipt-form></receipt-form>
        <material-receipt-transfer-form></material-receipt-transfer-form>
    </v-app>
</template>

<script>
    import SideBar from './partials/_side-bar'
    import NavBar from './partials/_nav'
    import EmployeeForm from '../components/Employee/_form'
    import SingleEmployee from '../components/Employee/_single-employee'
    import CategoryForm from '../components/Category/_form'
    import ProductForm from '../components/Product/_form'
    import ReferralForm from '../components/Referral/_form'
    import CustomerForm from '../components/Customer/_form'
    import VendorForm from '../components/Vendor/_form'
    import MaterialForm from '../components/Material/_form'
    import ProjectForm from '../components/Project/_form'
    import ProjectDetailForm from '../components/ProjectDetail/_form'
    import UnitForm from '../components/Unit/_form'
    import EquipmentCategoryForm from "../components/EquipmentCategory/_form"
    import EquipmentForm from "../components/Equipment/_form"
    import StockForm from "../components/Stock/_form"
    import Process from "../components/Process/_form"
    import AttendanceForm from "../components/Attendance/_form"
    import AddProductProcess from "../components/Product/_add-process"
    import ViewProductProcess from "../components/Product/_view-process"
    import ContractForm from "../components/Contract/_form"
    import ProjectDetailEdit from "../components/ProjectDetail/_edit-form"
    import ManufactureForm from "../components/Manufacture/_form"
    import PhaseAttendanceForm from "../components/Attendance/_phase-attendance_form"
    import EditPhaseAttendanceForm from "../components/Attendance/_edit_phase_attendance_form"
    import PhaseAttendanceJobEndForm from "../components/Attendance/_phase-attendance-job-end-form"
    import ShadeCardForm from "../components/Shade/_form"
    import RoomShadeForm from "../components/Project/_room-shade-form"
    import SurfaceShadeForm from "../components/Project/_surface-shade-form"
    import PackTypeForm from "../components/PackType/_form"
    import MaterialGroupForm from "../components/MaterialName/_form"
    import MaterialGroupList from "../components/MaterialName/_list"
    import ShadePaletteForm from "../components/ShadePalette/_form"
    import RawMaterialQuotationForm from "../components/Project/_raw-material-quotation-form"
    import RequisitionForm from "../components/Project/_requisition-form"
    import PurchaseOrderForm from "../components/Project/_purchase-order-form"
    import ReceiptForm from "../components/Project/_material-receipt-form"
    import MaterialReceiptTransferForm from "../components/Project/_material-receipt-transfer-form"
    export default {
        props: {
            source: String,
        },
        components: {
            SideBar,
            NavBar,
            EmployeeForm,
            SingleEmployee,
            CategoryForm,
            ProductForm,
            ReferralForm,
            CustomerForm,
            VendorForm,
            MaterialForm,
            ProjectForm,
            ProjectDetailForm,
            UnitForm,
            EquipmentCategoryForm,
            EquipmentForm,
            StockForm,
            Process,
            AttendanceForm,
            AddProductProcess,
            ViewProductProcess,
            ContractForm,
            ProjectDetailEdit,
            ManufactureForm,
            PhaseAttendanceForm,
            EditPhaseAttendanceForm,
            PhaseAttendanceJobEndForm,
            ShadeCardForm,
            RoomShadeForm,
            SurfaceShadeForm,
            PackTypeForm,
            MaterialGroupForm,
            MaterialGroupList,
            ShadePaletteForm,
            RawMaterialQuotationForm,
            RequisitionForm,
            PurchaseOrderForm,
            ReceiptForm,
            MaterialReceiptTransferForm
        },
        data: () => ({
            drawer: null,
        }),
    }
</script>
<style lang="scss">
    .v-dialog__content--active{
        z-index:20200 !important;
    }
    a{
        text-decoration: none;
        color:unset !important;
    }
    .nav__bar {
        height: 60px !important;
        box-shadow: rgb(206 206 206) 0px 0px 5px !important;
        z-index: 1500 !important;
        position: fixed !important;
        background-color: white !important;
    }
    .primary-button {
        cursor: pointer;
        background-color: rgb(44, 56, 126);
        color: #ffff;
        border-radius: 4px;
        padding: 6px 10px;
        text-transform: uppercase;
    }
    .secondary-button {
        cursor: pointer;
        background-color: #8c668b;
        color: #ffff;
        border-radius: 4px;
        padding: 3px;
        font-size:14px;
    }

    .page{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        .page-header{
            padding: 30px 0;
            display:flex;
            justify-content: flex-start;
            .page-header-button {
                margin-right: 10px;
            }
        }
    }

    /*    dialog scss */
    .dialog-card {
        .v-card-text{
            padding: .8rem !important;
        }
        .dialog-checkbox-group{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            .dialog-checkbox{
                .v-input__slot{
                    background: #ffffff !important;
                    border: unset !important;
                }
            }
        }
    }
    .headline{
        background-color: #1976d2;
        padding: unset !important;
        height: 50px;
        > span {
            color: #ffffff;
            padding-left: 12px !important;
            font-size: 1rem !important;
        }
    }
    .dialog-text {
        padding-bottom: unset !important;
    }
    .dialog-action {
        padding-top: unset !important;
    }
    .dialog-form-wrapper{
        .col-12 {
            padding-top: unset;
            padding-bottom: unset;
        }
        .v-input {
            .v-input__control {
                .v-input__slot{
                    border: 1px solid #ccd;
                    padding: 0 5px;
                    background: #f5f5f5;
                    border-radius: 2.5px;
                }
                .v-input__slot::after{
                    border-style:unset;
                }
                .v-input__slot::before{
                    border-style: unset;
                }
            }
        }
        .v-text-field{
            .v-label{
                font-size: 0.85rem;
                color: #565656;
                letter-spacing: 0.02rem;
            }
            .v-label--active{
                top: -3px !important;
                font-size: 0.85rem !important;
                color: #565656 !important;
                letter-spacing: 0.02rem !important;
            }
        }
        .v-text-field__details .v-messages__message {
            color: #ff5252 !important;
        }
    }
    .close-button {
        background: #ff00009e !important;
        color: #ffffff !important;
        height: 30px !important;
        font-size: .85rem;
        text-transform: capitalize;
    }
    .save-button {
        background: #00800094 !important;
        color: #ffffff !important;
        height: 30px !important;
        font-size: .85rem;
        text-transform: capitalize;
    }
    .action-button{
        color: #1976d2 !important;
        cursor: pointer;
    }

    .filter-table{
        padding: 3px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /*background: #dcdbdb;*/
        margin-bottom: 20px;
        .filter-table-child {
            display: flex;
            align-items: center;
            align-self: center;
            font-size: 14px;
            font-weight: 400;
            padding-right: 25px;
            cursor: pointer;
        }
    }

    .v-toolbar__content {
        height:60px !important;
    }

    .v-overlay{
        z-index: 2020 !important;
    }

</style>
