<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent scrollable max-width="800px">
            <v-card class="dialog-card">
                <v-card-title class="headline">
                    <span>Add Product Work Process</span>
                </v-card-title>
                <v-card-text class="dialog-text" style="margin-top: 20px;">
                    <v-row>
                            <v-list>
                                <v-list-item
                                    v-for="(process,index) in processes"
                                    :key="index"
                                >
                                    <v-checkbox
                                        @click="clicked(process)"
                                    >
                                    </v-checkbox>
                                    {{ process.name }}
                                    <h4 style="margin-left:5px;">( {{  process.code }} )</h4>
                                </v-list-item>
                            </v-list>
                    </v-row>
                </v-card-text>
                <v-card-actions class="dialog-action">
                    <v-spacer></v-spacer>
                    <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                    <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                           :disabled="$store.getters.buttonLoader">Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
    export  default {
        data() {
            return{
                dialog: false,
                processes: [],
                productId: null,
                processArray:[],
                formData: {}
            }
        },
        created() {
            this.$bus.$on('add-product-process', data => {
                this.formData = {};
                this.processArray = [];
                this.productId = data;
                this.dialog = true;
            });
        },
        async mounted() {
          await this.$store.dispatch('getAllProcesses').then((res) => {
                this.processes = res;
          })
        },
        methods: {
            submit() {
                this.formData.productId = this.productId;
                this.$store.dispatch('syncProductProcess', this.formData).then(() => {
                    this.formData = {};
                    this.dialog = false;
                })
            },
            clicked(process) {
                this.processArray.push(process.id);
                this.formData.processIds = this.processArray;
            }
        }
    }
</script>
