<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent scrollable max-width="800px">
            <v-card class="dialog-card">
                <v-card-title >
                    <span>{{title}}</span>
                </v-card-title>
                <v-card-text  style="margin-top: 20px;">
                    <v-row class="dialog-form-wrapper" style="margin-top:20px;">
                        <v-col cols="12">
                            <div style="display:flex;flex-direction:column;">
                                <label>Select Category *</label>
                                <select v-model="formData.product_type_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;height:33px;margin-bottom:10px;"
                                >
                                    <option v-for="(category, index) in categories" :key="index"
                                            :value="category.id">{{ category.name  }}
                                    </option>
                                </select>
                                <span style="color:red" v-if="validation && validation.product_type_id"> {{validation.product_type_id}}</span>
                            </div>

                            <v-text-field
                                label="Name"
                                v-model="formData.name"
                                :error-messages="validation.name">
                            </v-text-field>
                            <v-text-field
                                label="Code"
                                v-model="formData.code"
                                :error-messages="validation.code">
                            </v-text-field>
                            <v-text-field
                                label="Description"
                                v-model="formData.description"
                                :error-messages="validation.description">
                            </v-text-field>
                            <v-text-field
                                label="Price"
                                v-model="formData.price"
                                :error-messages="validation.price">
                            </v-text-field>
                            <div style="display:flex;flex-direction:column;">
                                <label>Select Unit</label>
                                <select v-model="formData.unit_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;height:33px;margin-bottom:10px;"
                                >
                                    <option v-for="(unit, index) in units" :key="index"
                                            :value="unit.id">{{ unit.code  }}
                                    </option>
                                </select>
                                <span style="color:red" v-if="validation && validation.unit"> {{validation.unit}}</span>
                            </div>

                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions class="dialog-action">
                    <v-spacer></v-spacer>
                    <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                    <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                           :disabled="$store.getters.buttonLoader">Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
    export default {
        data: () => ({
            dialog: false,
            formData: {},
            validation: {},
            menu: false,
            title: 'Add Product',
            categories: [],
            units: []

        }),
        created() {
            this.$bus.$on('add-product', data => {
                this.validation = {};
                this.formData = {};
                this.categories = [];
                this.title = 'Add Product';
                this.$store.dispatch('getAllCategories',{page :'',search:'',type:''}).then((res) => {
                    this.categories = res.data;
                });
                this.$store.dispatch('getAllUnits').then((res) => {
                    this.units = res;
                });
                if (data) {
                    this.formData = data;
                    this.title = "Edit Product";
                }
                this.dialog = true;
            })
        },
        watch: {

        },
        methods: {
            submit() {
                this.$store.dispatch('addProduct', this.formData).then((res) => {
                    this.dialog = false;
                    this.$bus.$emit('refresh-product-list');
                }).catch((err) => {
                    this.validation = this.$store.getters.validation
                })
            },
        }
    }
</script>
