<template>
    <v-card>
        <v-card-title style="display: flex; justify-content: space-between; align-items:center;">
            <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                @keydown.enter="searchData()"
                style="max-width:50%;"
            ></v-text-field>
            <v-pagination
                v-if="totalPage > 1"
                v-model="page"
                :length="totalPage"
                :total-visible="5"
            ></v-pagination>
        </v-card-title>
        <v-data-table
            :headers="headers"
            :items="products"
            class="elevation-1"
            :loading="loading"
            loading-text="Loading... Please wait"
        >
            <template slot="item" slot-scope="props">
                <tr>
                    <td>{{props.item.category.name}}</td>
                    <td>{{props.item.name}}</td>
                    <td>{{props.item.code}}</td>
                    <td>{{props.item.description}}</td>
                    <td>{{props.item.price}}</td>
                    <td v-if="props.item.units">{{props.item.units.code}}</td>
                    <td v-else>N/a</td>
                    <td>
                        <v-menu
                            bottom
                            origin="center center"
                            transition="scale-transition"
                        >
                            <template v-slot:activator="{on, attrs}">
                                <i class="material-icons" v-bind="attrs" v-on="on" style="margin-right: 20px;">more_horiz</i>
                            </template>
                            <v-list>
                                <v-list-item @click="editProduct(props.item)">Edit</v-list-item>
                                <v-list-item @click="deleteProduct(props.item.id)">Delete</v-list-item>
                                <v-list-item @click="viewProcess(props.item)">View Process</v-list-item>
                                <v-list-item @click="addProcess(props.item)">Add Process</v-list-item>
                            </v-list>
                        </v-menu>
                    </td>
                </tr>
            </template>
        </v-data-table>
        <v-pagination
            v-if="totalPage > 1"
            v-model="page"
            :length="totalPage"
            :total-visible="5"
            style="float:right; padding:10px;"
        ></v-pagination>
    </v-card>
</template>
<script>
    export default {
        data() {
            return {
                headers: [
                    {text: 'Category', align: 'left', sortable:false, value:'category'},
                    {text: 'Product', align: 'left', sortable: false, value: 'name'},
                    {text: 'Code', align: 'left', sortable: false, value: 'code'},
                    {text: 'Description', align: 'left', sortable: false, value: 'description'},
                    {text: 'Price', align: 'left', sortable: false, value: 'price'},
                    {text: 'Unit', align: 'left', sortable:false, value: 'unit.name'},
                    {text: 'Actions', align: 'left', sortable: false, value: 'action'},

                ],
                products: [],
                loading: true,
                page: 1,
                totalPage: 1,
                search: '',
                type: 'all'
            }
        },
        created() {
            this.$bus.$on('refresh-product-list', () => {
                this.loading = true;
                this.getProductsLists();
            })
        },
        destroyed() {
            this.$bus.$off('refresh-product-list');
        },
        mounted() {
            this.getProductsLists();
        },
        watch: {
            page(val) {
                this.page = val;
                this.getProductsLists();
            },
        },

        methods: {
            viewProcess(product) {
                this.$bus.$emit('view-product-process', product);
            },
            addProcess(product) {
                this.$bus.$emit('add-product-process', product.id);
            },
            searchData() {
                this.getProductsLists();
            },
            getProductsLists() {
                this.loading = true;
                this.$store.dispatch('getAllProducts',{page: this.page, search: this.search, type: this.type}).then((res) => {
                    this.products = res.data;
                    this.totalPage = res.last_page;
                    this.loading = false;
                })
            },
            editProduct(item) {
                this.$bus.$emit('add-product', item);
            },
            deleteProduct(id) {
                let r = confirm('Are you sure want to delete?');
                if(r) {
                    this.$store.dispatch('deleteProduct', id).then(() => {
                        this.$bus.$emit('refresh-product-list');
                    })
                }
            }
        }
    }
</script>
<style lang="scss" scoped>
    .expansion-wrapper{
        display: flex;
        flex-direction: column;
        height: 100%;
        width:100%;
        .question-wrapper{
            margin:1rem;
        }
        .answer-wrapper{
            display: flex;
            margin:.5rem 3rem;
        }
        .hint-wrapper{
            margin:1rem;
        }
    }


</style>
