<template>
    <v-row justify="center">
        <v-dialog v-model="dialog"  scrollable max-width="800px">
            <v-card class="dialog-card">
                <v-card-title class="headline">
                    <span>Product Work Process</span>
                </v-card-title>
                <v-card-text class="dialog-text" style="margin-top: 20px;">
                    <v-row>
                        <v-list v-if="processes.length > 0">
                            <v-list-item
                                v-for="(process,index) in processes"
                                :key="index"
                            >
                                {{ process.name }}
                                <h4 style="margin-left:5px;">( {{  process.code }} )</h4>
                            </v-list-item>
                        </v-list>
                        <v-list v-else>
                            <v-list-item>No process available. Please Add</v-list-item>
                        </v-list>
                    </v-row>
                </v-card-text>
                <v-card-actions class="dialog-action">
                    <v-spacer></v-spacer>
                    <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
    export  default {
        data() {
            return{
                dialog: false,
                processes: [],
            }
        },
        created() {
            this.$bus.$on('view-product-process', data => {
                this.processes = data.process;
                this.dialog = true;
            });
        },
    }
</script>
