<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent scrollable max-width="800px">
            <v-card >
                <v-card-title>
                    <span>{{title}}</span>
                </v-card-title>
                <v-card-text style="margin-top: 20px;">
                    <v-row class="dialog-form-wrapper">
                        <v-col cols="12">
                            <v-text-field
                                label="Name"
                                v-model="formData.name"
                                :error-messages="validation.name">
                            </v-text-field>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions class="dialog-action">
                    <v-spacer></v-spacer>
                    <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                    <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                           :disabled="$store.getters.buttonLoader">Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
    export default {
        data: () => ({
            dialog: false,
            formData: {},
            validation: {},
            title: 'Add Material Group',


        }),
        created() {
            this.$bus.$on('add-material-name', data => {
                this.validation = {};
                this.formData = {};
                this.title = 'Add Material Group';
                if (data) {
                    this.formData = data;
                    this.title = "Edit Material Group";
                }
                this.dialog = true;
            })
        },
        methods: {
            submit() {
                this.$store.dispatch('addMaterialName', this.formData).then((res) => {
                    this.dialog = false;
                    this.$bus.$emit('refresh-material-name-list');
                }).catch((err) => {
                    this.validation = this.$store.getters.validation
                })
            },
        }
    }
</script>
