<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" scrollable max-width="400px">
            <v-card>
                <v-data-table
                    :headers="headers"
                    :items="materialNames"
                    class="elevation-1"
                    :loading="loading"
                    loading-text="Loading... Please wait"
                >
                    <template slot="item" slot-scope="props">
                        <tr>
                            <td>{{props.item.name}}</td>
                            <td>
                                <v-icon small class="action-button" @click="editMaterialName(props.item)">mdi-pencil
                                </v-icon>
                                <v-icon small class="action-button" @click="deleteMaterialName(props.item.id)">
                                    mdi-delete
                                </v-icon>
                            </td>
                        </tr>
                    </template>
                </v-data-table>
                <v-card-actions class="dialog-action">
                    <v-spacer></v-spacer>
                    <v-btn class="close-button" style="margin-top:20px;" @click="dialog = false">Close</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
    export default {
        data() {
            return {
                headers: [
                    {text: 'Material Name', align: 'left', sortable: false, value: 'name'},
                    {text: 'Actions', align: 'left', sortable: false, value: 'action'},
                ],
                materialNames: [],
                loading: true,
                dialog: false,
            }
        },
        created() {
            this.$bus.$on('view-material-name', () => {
                this.dialog = true;
                this.getMaterialNames();

            });
            this.$bus.$on('refresh-material-name-list', () => {
                this.loading = true;
                this.getMaterialNames();
            })
        },
        destroyed() {
            this.$bus.$off('refresh-unit-list');
            this.$bus.$off('view-material-name');
        },
        mounted() {
        },
        methods: {
            getMaterialNames() {
                this.loading = true;
                this.$store.dispatch('getAllMaterialNames').then((res) => {
                    this.materialNames = res;
                });
                this.loading = false;
            },
            editMaterialName(item) {
                this.dialog= false;
                this.$bus.$emit('add-material-name', item);
            },
            deleteMaterialName(id) {
                let r = confirm('Are you sure want to delete?');
                if (r) {
                    this.$store.dispatch('deleteMaterialName', id).then(() => {
                        this.$bus.$emit('refresh-material-name-list');
                    });
                }
            }
        }
    }
</script>
