<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent scrollable max-width="800px">
            <v-card class="dialog-card">
                <v-card-title>
                    <span>{{ title }}</span>
                </v-card-title>
                <v-card-text style="margin-top: 20px;">
                    <v-row class="dialog-form-wrapper">
                        <v-col cols="12">
                            <v-text-field
                                label="Customer Name*"
                                v-model="formData.name"
                                :error-messages="validation.name">
                            </v-text-field>
                            <v-text-field
                                label="Address*"
                                v-model="formData.address"
                                :error-messages="validation.address">
                            </v-text-field>
                            <v-text-field
                                label="Phone*"
                                v-model="formData.phone"
                                :error-messages="validation.phone">
                            </v-text-field>
                            <h3>Referred By:</h3><br/>
                                <input type="radio" v-model="isCustomer" value="true" id = "one">
                                <label for="one">Old Customer</label>
                                <input type="radio" v-model="isCustomer" value="false" id = "two">
                                <label for="two">New Referral</label><br>
                                <input type="radio" v-model="isCustomer" value="none" id = "none">
                                <label for="none">None</label><br>
                            <v-select
                                v-show="isCustomer === 'true'"
                                :items="old_customers.map(function(customer) {
                                    return {text: customer.name, value: customer.id}
                                })"
                                v-model="formData.parent_id"
                                label="Select Referral from old customers*"
                                id="selectCustomer"

                            >
                            </v-select>
                            <v-select
                                v-show="isCustomer === 'false'"
                                :items="referrals.map(function(referral) {
                                    return {text: referral.name, value: referral.id}
                                })"
                                v-model="formData.referral_id"
                                label="Select Referral*"
                                id="selectReferral"
                            >
                            </v-select>

                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions class="dialog-action">
                    <v-spacer></v-spacer>
                    <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                    <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                           :disabled="$store.getters.buttonLoader">Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
export default {
    data: () => ({
        dialog: false,
        formData: {},
        validation: {},
        menu: false,
        title: 'Add Customer',
        referrals: [],
        old_customers: [],
        isCustomer: 'true',
        isReferral: false

    }),
    created() {
        this.$bus.$on('add-customer', data => {
            this.validation = {};
            this.formData = {};
            this.referrals = [];
            this.title = 'Add Customer';
            this.$store.dispatch('getAllReferrals',{page:'',search:'',type:''}).then((res) => {
                this.referrals = res.data;
            });
            this.$store.dispatch('getAllCustomers',{page:'',search:'',type:''}).then((res) => {
                this.old_customers = res.data;
            });
            this.isEdit = false;
            if (data) {
                this.formData = data;
                this.title = "Edit Customer";
            }
            this.dialog = true;
        })
    },
    methods: {
        submit() {
            this.$store.dispatch('addCustomer', this.formData).then((res) => {
                this.dialog = false;
                this.$bus.$emit('refresh-customer-list');
            }).catch((err) => {
                this.validation = this.$store.getters.validation
            })
        },


    }
}
</script>
