html,body{
    margin: 0;
    padding: 0;
    /*background-color: #242229;*/
}

.form-wrapper{
    text-align: center;
    margin: 10rem auto;
    width: 20rem;
    height: 300;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3c9;
    border: 1px solid #00000029;
    border-radius: 1%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.form-wrapper .form-header{
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
    color: #222d18;
}

.form-wrapper .form-input-wrapper{
    margin-top:5px;
    display: flex;
    flex-direction: column;
}

.form-wrapper .form-input-wrapper input {
    height: 40px;
    margin-top: 20px;
    border: 1px solid;

}

.form-input-wrapper input:last-child {
    border-radius: 10px;
    background: #451d92;
    color: #fff;
    cursor: pointer;
}
.session-msg {
    color: red;
    margin-bottom: -5%;
    margin-top: 2%;
}
