<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent scrollable max-width="800px">
            <v-card>
                <v-card-title>
                    <span>{{title}}</span>
                </v-card-title>
                <v-card-text style="margin-top: 20px;">
                    <v-row class="dialog-form-wrapper material-form" style="margin-top:20px;">
                        <div style="display:flex;flex-direction:column;">
                            <label>Uses for</label>
                            <select v-model="formData.category_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;margin-right:100px;width:250px;height:33px;"
                            >
                                <option v-for="(category, index) in categories" :key="index"
                                        :value="category.id">{{ category.name }}
                                </option>
                            </select>
                        </div>

                        <v-text-field
                            label="Brand Name *"
                            v-model="formData.brand_name"
                            :error-messages="validation.brand_name"
                            style="max-width: 250px;"
                        >
                        </v-text-field>
                    </v-row>
                    <v-row class="dialog-form-wrapper material-form">
                        <div style="display:flex;flex-direction:column;">
                            <label>Select Material Group *</label>
                            <select v-model="formData.material_group_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;margin-right:100px;width:250px;height:33px;"
                            >
                                <option v-for="(group, index) in materialGroups" :key="index"
                                        :value="group.id">{{ group.name }}
                                </option>
                            </select>
                            <span style="color:red;" v-if="validation.material_group_id">{{validation.material_group_id}}</span>
                        </div>
                        <div style="display:flex;flex-direction:column;">
                            <label>Select Manufacture *</label>
                            <select v-model="formData.manufacture_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;width:250px;height:33px;"
                            >
                                <option v-for="(manufacture, index) in manufactures" :key="index"
                                        :value="manufacture.id">{{ manufacture.name }}
                                </option>
                            </select>
                            <span style="color:red;" v-if="validation.manufacture_id">{{validation.manufacture_id}}</span>
                        </div>

                    </v-row>
                    <v-row class="dialog-form-wrapper material-form">
                        <v-text-field
                            label="Code"
                            v-model="formData.code"
                            :error-messages="validation.code"
                            style="margin-right:100px;margin-top:25px;max-width:250px;"
                        >
                        </v-text-field>
                        <div style="display:flex;flex-direction:column;margin-top:20px;">
                            <label>Select Unit *</label>
                            <select v-model="formData.unit_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;width:250px;height:33px;"
                            >
                                <option v-for="(unit, index) in units" :key="index"
                                        :value="unit.id">{{ unit.code }}
                                </option>
                            </select>
                            <span style="color:red;" v-if="validation.unit_id">{{validation.unit_id}}</span>
                        </div>
                    </v-row>
                    <v-checkbox
                        v-model="showAlternative"
                        label="Add Alternative Unit"
                        style="margin-left:25px;"
                    >
                    </v-checkbox>
                    <v-row class="dialog-form-wrapper" v-if="showAlternative" style="padding:36px;">
                        <table>
                            <tr>
                                <td>Package Type</td>
                                <td>MOU</td>
                            </tr>
                            <tr v-for="(tableData, index) in tableDatas" :key="index">
                                <td style="width:50%;">
                                    <label>Select Pack</label>
                                    <select v-model="tableData.pack_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;width:100%;height:33px;"
                                    >
                                        <option v-for="(packType, index) in packTypes" :key="index"
                                                :value="packType.id">{{ packType.name }}
                                        </option>
                                    </select>
                                </td>
                                <td style="width:50%;">
                                    <v-text-field
                                        label="MOU"
                                        type="number"
                                        v-model="tableData.multiple_of_unit"
                                        @keydown.enter="addNewRow()"
                                        style="margin-top:25px;"
                                    >
                                    </v-text-field>
                                </td>
                                <span style="cursor:pointer;display: flex;align-items: center;justify-content:
                            flex-start;font-size: 30px;margin-right: 5px;margin-left:5px;margin-top:25px;"
                                      @click="deleteNewRow(index)" v-if="index > 0">x</span>
                            </tr>
                        </table>
                    </v-row>

                </v-card-text>
                <v-card-actions class="dialog-action">
                    <v-spacer></v-spacer>
                    <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                    <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                           :disabled="$store.getters.buttonLoader">Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
    export default {
        data: () => ({
            dialog: false,
            formData: {},
            validation: {},
            title: 'Add Material',
            categories: [],
            units: [],
            manufactures: [],
            tableDatas: [
                {
                    'pack_id': '',
                    'multiple_of_unit': '',
                    // 'pack_size': '',
                    // 'pack_code': '',
                },
                {
                    'pack_id': '',
                    'multiple_of_unit': '',
                    // 'pack_size': '',
                    // 'pack_code': '',
                }
            ],
            packTypes: [],
            showAlternative: false,
            materialGroups: [],
        }),
        created() {
            this.$bus.$on('add-material', data => {
                this.validation = {};
                this.formData = {};
                this.vendors = [];
                this.title = 'Add Material';
                this.showAlternative = false;
                this.$store.dispatch('getAllCategories', {page: '1', search: ''}).then((res) => {
                    this.categories = res.data;
                });
                this.$store.dispatch('getAllUnits').then((res) => {
                    this.units = res;
                });
                this.$store.dispatch('getAllManufactures').then((res) => {
                    this.manufactures = res;
                });
                this.$store.dispatch('getAllPackTypes').then((res) => {
                    this.packTypes = res;
                });
                this.$store.dispatch('getAllMaterialNames').then((res) => {
                    this.materialGroups = res;
                });
                this.tableDatas = [
                    {
                        'pack_id': '',
                        'multiple_of_unit': '',
                        // 'pack_size': '',
                        // 'pack_code': '',
                    },
                    {
                        'pack_id': '',
                        'multiple_of_unit': '',
                        // 'pack_size': '',
                        // 'pack_code': '',
                    }
                ];
                if (data) {
                    this.formData = data;
                    if (data.alternative_units.length > 0) {
                        this.showAlternative = true;
                        this.tableDatas = data.alternative_units.map((unit) => {
                            return {
                                'pack_id': unit.pack_id,
                                'multiple_of_unit': unit.multiple_of_unit
                            };
                        })
                    }
                    this.title = "Edit Material";
                }
                this.dialog = true;
            })
        },
        methods: {
            submit() {
                this.validation = {};
                if (!this.formData.material_group_id) {
                    this.validation.material_group_id = "Material Group is required"
                }
                if (!this.formData.manufacture_id) {
                    this.validation.manufacture_id = "Manufacture  is required"
                }
                if (!this.formData.unit_id) {
                    this.validation.unit_id = "Unit is required"
                }
                if (!this.formData.brand_name) {
                    this.validation.brand_name = "Brand Name is required"
                }
                if (Object.keys(this.validation).length > 0) {
                    return false;
                }
                let data = {};
                data.formData = this.formData;
                data.tableDatas = this.tableDatas;
                this.$store.dispatch('addMaterial', data).then((res) => {
                    this.dialog = false;
                    this.$bus.$emit('refresh-material-list');
                }).catch((err) => {
                    this.validation = this.$store.getters.validation
                })
            },
            addNewRow() {
                this.tableDatas.push({
                    'pack_id': '',
                    'multiple_of_unit': '',
                    // 'pack_size': '',
                    // 'pack_code': '',
                })
            },
            deleteNewRow(index) {
                this.tableDatas.splice(index, 1);
            },
        }
    }
</script>
<style scoped>
    .material-form {
        padding: 0 40px;

    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 2px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>
