<template>
    <v-card>
        <v-card-title style="display: flex; justify-content: space-between; align-items:center;">
            <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                @keydown.enter="searchData()"
                style="max-width:50%;"
            ></v-text-field>
<!--            <v-pagination-->
<!--                v-if="totalPage > 1"-->
<!--                v-model="page"-->
<!--                :length="totalPage"-->
<!--                :total-visible="5"-->
<!--            ></v-pagination>-->
        </v-card-title>
        <v-data-table
            :headers="headers"
            :items="materials"
            class="elevation-1"
            :loading="loading"
            loading-text="Loading... Please wait"
        >
            <template slot="item" slot-scope="props">
                <tr>
                    <td v-if="props.item.category">{{props.item.category.name}}</td>
                    <td v-else>{{ 'N/a' }}</td>
                    <td v-if="props.item.group">{{props.item.group.name}}</td>
                    <td v-else>{{ 'N/a' }}</td>
                    <td>{{props.item.code}}</td>
                    <td>{{props.item.brand_name}}</td>
                    <td v-if="props.item.manufacture">{{props.item.manufacture.code}}</td>
                    <td v-else>{{ 'N/a' }}</td>
                    <td>{{props.item.unit.code}}</td>
                    <td>
                        <v-icon small class="action-button" @click="editProduct(props.item)">mdi-pencil</v-icon>
                        <v-icon small class="action-button" @click="deleteProduct(props.item.id)">mdi-delete</v-icon>
                    </td>
                </tr>
            </template>
        </v-data-table>
<!--        <v-pagination-->
<!--            v-if="totalPage > 1"-->
<!--            v-model="page"-->
<!--            :length="totalPage"-->
<!--            :total-visible="5"-->
<!--            style="float:right; padding:10px;"-->
<!--        ></v-pagination>-->
    </v-card>
</template>
<script>
    export default {
        data() {
            return {
                headers: [
                    {text: 'Uses For', align: 'left', sortable:false, value:'category.name'},
                    {text: 'Material Group', align: 'left', sortable: false, value: 'group.name'},
                    {text: 'Code', align: 'left', sortable: false, value: 'code'},
                    {text: 'Brand Name', align: 'left', sortable: false, value: 'brand_name'},
                    {text: 'Manufacture', align: 'left', sortable: false, value: 'manufacture.name'},
                    {text: 'Unit', align: 'left', sortable: false, value: 'unit.name'},
                    {text: 'Actions', align: 'left', sortable: false, value: 'action'},

                ],
                materials: [],
                loading: true,
                page: 1,
                totalPage: 1,
                search: '',
                type: 'all'
            }
        },
        created() {
            this.$bus.$on('refresh-material-list', () => {
                this.loading = true;
                this.getAllMaterials();
            })
        },
        destroyed() {
            this.$bus.$off('refresh-material-list');
        },
        mounted() {
            this.getAllMaterials();
        },
        // watch: {
        //     page(val) {
        //         this.page = val;
        //         this.getAllMaterials();
        //     }
        // },

        methods: {
            /*filterEmployee(data){
                this.type = data;
                this.page = 1;
                this.getAllMaterials();
            },*/
            searchData() {
                this.getAllMaterials();
            },
            getAllMaterials() {
                this.loading = true;
                this.$store.dispatch('getAllMaterials').then((res) => {
                    this.materials = res;
                    // this.totalPage = res.last_page;
                    this.loading = false;
                })
            },
            editProduct(item) {
                this.$bus.$emit('add-material', item);
            },
            deleteProduct(id) {
                let r = confirm('Are you sure want to delete?');
                if(r) {
                    this.$store.dispatch('deleteMaterial', id).then(() => {
                        this.$bus.$emit('refresh-material-list');
                    })
                }
            }
        }
    }
</script>
<style lang="scss" scoped>
    .expansion-wrapper{
        display: flex;
        flex-direction: column;
        height: 100%;
        width:100%;
        .question-wrapper{
            margin:1rem;
        }
        .answer-wrapper{
            display: flex;
            margin:.5rem 3rem;
        }
        .hint-wrapper{
            margin:1rem;
        }
    }


</style>
