<template>
    <v-data-table
        :headers="headers"
        :items="equipmentCategories"
        class="elevation-1"
        :loading="loading"
        loading-text="Loading... Please wait"
    >
        <template slot="item" slot-scope="props">
            <tr>
                <td>{{props.item.name}}</td>
                <td>{{props.item.code}}</td>
                <td>
                    <v-icon small class="action-button" @click="editEquipmentCategory(props.item)">mdi-pencil</v-icon>
                    <v-icon small class="action-button" @click="deleteEquipmentCategory(props.item.id)">mdi-delete</v-icon>
                </td>
            </tr>
        </template>
    </v-data-table>

</template>
<script>
    export default {
        data() {
            return {
                headers: [
                    {text: 'Name', align: 'left', sortable: false, value: 'name'},
                    {text: 'Code', align: 'left', sortable: false, value: 'code'},
                    {text: 'Actions', align: 'left', sortable: false, value: 'action'},
                ],
                equipmentCategories: [],
                loading: true,
            }
        },
        created() {
            this.$bus.$on('refresh-equipment-category-list', () => {
                this.loading = true;
                this.getEquipmentCategories();
            })
        },
        destroyed() {
            this.$bus.$off('refresh-equipment-category-list');
        },
        mounted() {
            this.getEquipmentCategories();
        },
        methods: {
            getEquipmentCategories() {
                this.loading = true;
                this.$store.dispatch('getAllEquipmentCategories').then((res) => {
                    this.equipmentCategories = res;
                });
                this.loading = false;
            },
            editEquipmentCategory(item) {
                this.$bus.$emit('add-equipment-category', item);
            },
            deleteEquipmentCategory(id) {
                let r = confirm('Are you sure want to delete?');
                if (r) {
                    this.$store.dispatch('deleteEquipmentCategory', id).then(() => {
                        this.$bus.$emit('refresh-equipment-category-list');
                    });
                }
            }
        }
    }
</script>
