<template>
    <div class="page">
        <div class="page-header">
            <div class="page-header-button primary-button" @click="$bus.$emit('add-attendance', false)">Add Attendance</div>
        </div>
        <div class="page-list">
            <attendance-list></attendance-list>
        </div>
    </div>
</template>
<script>
    import AttendanceList from '../components/Attendance/_list'
    export default {
        data() {
            return {
            };
        },
        components:{
            AttendanceList
        },
    }
</script>
