<template>
    <div class="page">
        <div class="page-header">
            <div class="page-header-button primary-button" @click="$bus.$emit('add-category', false)">Add Category</div>
        </div>
        <div class="page-list">
            <category-list></category-list>
        </div>
    </div>
</template>
<script>
    import CategoryList from '../components/Category/_list'
    export default {
        data() {
            return {
            };
        },
        components:{
            CategoryList
        },
    }
</script>
