<template>
    <div class="page">
        <div class="page-header">
            <div class="page-header-button primary-button" @click="$bus.$emit('add-contract', false)">Add Contract</div>
        </div>
        <div class="page-list">
            <contract-list></contract-list>
        </div>
    </div>
</template>
<script>
    import ContractList from '../components/Contract/_list'
    export default {
        data() {
            return {
            };
        },
        components:{
            ContractList
        },
    }
</script>
