<template>
    <div class="page">
        <div class="page-header">
            <div class="page-header-button primary-button" @click="$bus.$emit('add-customer', false)">Add Customer</div>
        </div>
        <div class="page-list">
            <customer-list></customer-list>
        </div>
    </div>
</template>
<script>
    import CustomerList from '../components/Customer/_list'
    export default {
        data() {
            return {
            };
        },
        components:{
            CustomerList
        },
    }
</script>
