<template>
    <div class="page">
        <div class="primary-button" style="display:flex; align-self:flex-start;margin-bottom:30px;" @click="addProjectAttendance()">Add
            Attendance
        </div>
        <div style="display:flex;flex-direction:column;">
            <span style="margin-bottom:10px;">Today's Attendance</span>
            <div
                v-for="(attendance, i) in attendances"
                :key="i"
            >
                <div style="display:flex;justify-content:space-between;padding:10px;border-bottom:1px solid grey;width:40%;">
                    <div style="display:flex;justify-content:center;align-items:center;">
                        <div>
                            <v-avatar size="36px" style="margin-right:10px;">
                                <img
                                    v-if="attendance.employee && attendance.employee.profile_image"
                                    alt="Avatar"
                                    :src="attendance.employee.profile_image"
                                >
                                <img
                                    v-else
                                    alt="Avatar"
                                    src="https://fakeimg.pl/200x200/?text=Employee"
                                >
                            </v-avatar>
                        </div>
                        <div
                            class="hidden-xs-only"
                        >
                            <strong
                                v-if="attendance.employee">{{attendance.employee.first_name}}</strong>
                            <strong v-if="attendance.employee && attendance.employee.middle_name">{{attendance.employee.middle}}</strong>
                            <strong
                                v-if="attendance.employee">{{attendance.employee.last_name}}</strong>

                            <span
                                class="grey--text"
                            >&nbsp;
                                        ({{ attendance.job_start }})
                                    </span>
                        </div>
                    </div>
                    <div>
                        <div class="grey--text text-truncate hidden-sm-and-down">
                            <v-chip
                                style="background: #068406;color: #fff6f6 !important;cursor:pointer"
                                class="ml-0 mr-2 black--text"
                                label
                                small
                                @click="addAttendanceEndTime(attendance)"
                            >
                                Add Job End Time
                            </v-chip>
                            <v-icon small class="action-button" @click="editAttendance(attendance)">
                                mdi-pencil
                            </v-icon>
                            <v-icon small class="action-button" @click="deleteAttendance(attendance)">
                                mdi-delete
                            </v-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: () => ({
            attendances: [],
            absentAttendances: [],
        }),
        created() {
            this.$bus.$on('refresh-today-attendance', () => {
                this.$store.dispatch('getTodayAttendance').then((res) => {
                    this.attendances = res;
                });
            });
        },
        mounted() {
            this.$store.dispatch('getTodayAttendance').then((res) => {
                this.attendances = res;
            });
            this.$store.dispatch('getTodayAbsentAttendance').then((res) => {
                this.asbsentAttendances = res;
            })
        },
        methods: {
            addProjectAttendance() {
                this.$bus.$emit('phase-attendance-form');
            },
            addAttendanceEndTime(attendance) {
                this.$bus.$emit('attendance-job-end-form', attendance);
            },
            editAttendance(attendance) {
                this.$bus.$emit('edit-phase-attendance-form', attendance);
            },
            deleteAttendance(attendance) {
                let r = confirm('Are you sure?');
                if(r) {
                    this.$store.dispatch('deleteAttendance', attendance.id).then((res) => {
                        this.$store.dispatch('getTodayAttendance').then((res) => {
                            this.attendances = res;
                        });
                    })
                }
            }
        }
    }
</script>
<style scoped lang="scss">
    /*.v-application--is-ltr .v-expansion-panel-header__icon{*/
    /*    display:none !important;*/
    /*}*/

    /*.theme--light.v-expansion-panels .v-expansion-panel-header .v-expansion-panel-header__icon .v-icon {*/
    /*    display: none !important;*/
    /*}*/
</style>
