<template>
    <v-row justify="center" v-if="employee">
            <v-card tile>
                <div style="display:flex; justify-content:space-between; align-items:center;">
                    <v-card class="mx-auto" width="500" height="700" style="margin:20px !important;">
                        <v-card-title>
                            General Info
                        </v-card-title>
                        <img v-for="image in employee.profile_image"
                             v-if="image.name === 'profile_image'" :src="image.path" alt="Employee Profile" style="height:150px; width:100%;object-fit:contain;"/>
                        <v-list-item>
                            <v-list-item-subtitle>First Name: {{employee.first_name}}</v-list-item-subtitle>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-subtitle>Middle Name: {{employee.middle_name}}</v-list-item-subtitle>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-subtitle>Last Name: {{employee.last_name}}</v-list-item-subtitle>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-subtitle>Date Of Join: {{employee.date_of_join}}</v-list-item-subtitle>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-subtitle v-if="employee.is_active">Status: {{'Active'}}</v-list-item-subtitle>
                            <v-list-item-subtitle v-else>Status: {{'InActive'}}</v-list-item-subtitle>

                        </v-list-item>
                        <v-list-item>
                            <v-list-item-subtitle>Address: {{employee.address}}</v-list-item-subtitle>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-subtitle>State: {{employee.state}}</v-list-item-subtitle>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-subtitle>District: {{employee.district}}</v-list-item-subtitle>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-subtitle>Municipality Name: {{employee.municipality}}
                            </v-list-item-subtitle>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-subtitle>Ward No: {{employee.ward_no}}</v-list-item-subtitle>
                        </v-list-item>
                        <v-list-item v-if="employee.resign_date.length > 0">
                            <v-list-item-subtitle>Resign Date: <span v-for="date in employee.resign_date" :key="date.id" style="display:flex;margin-left:80px;">{{date.resign_date}}</span></v-list-item-subtitle>
                        </v-list-item>
                    </v-card>
                    <v-card class="mx-auto" width="500" height="700" style="margin:20px !important;">
                        <v-card-title>
                            Personal Info
                        </v-card-title>
                        <v-list-item>
                            <v-list-item-subtitle>Citizenship Name: {{employee.citizenship_name}}
                            </v-list-item-subtitle>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-subtitle>Date Of Birth: {{employee.date_of_birth}}</v-list-item-subtitle>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-subtitle>Mobile: {{employee.mobile}}</v-list-item-subtitle>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-subtitle>Phone: {{employee.phone}}</v-list-item-subtitle>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-subtitle>Father Name: {{employee.father_name}}</v-list-item-subtitle>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-subtitle>Mother Name: {{employee.mother_name}}</v-list-item-subtitle>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-subtitle>Grand Father Name: {{employee.grand_father_name}}
                            </v-list-item-subtitle>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-subtitle>Citizenship No:
                                <a
                                    v-for="image in employee.profile_image"
                                    v-if="image.name === 'citizenship_image'"
                                    :href="image.path"
                                    target="_blank"
                                    style="text-decoration:underline;color:blue !important;"
                                >
                                    {{employee.citizenship_no}}
                                </a>
                            </v-list-item-subtitle>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-subtitle v-if="employee.issued_date">Issued Date: {{employee.issued_date.slice(0,10)}}</v-list-item-subtitle>
                            <v-list-item-subtitle v-else>Issued Date: {{employee.issued_date}}</v-list-item-subtitle>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-subtitle>Issued Place: {{employee.issued_palace}}</v-list-item-subtitle>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-subtitle>Driving License No:
                                <a
                                    v-for="image in employee.profile_image"
                                    v-if="image.name === 'license_image'"
                                    :href="image.path"
                                    target="_blank"
                                    style="text-decoration:underline;color:blue !important;"
                                >
                                    {{employee.license_no}}
                                </a>
                            </v-list-item-subtitle>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-subtitle v-if="employee.license_issued_date">License Issued date: {{employee.license_issued_date.slice(0,10)}}</v-list-item-subtitle>
                            <v-list-item-subtitle v-else>License Issued date: {{employee.license_issued_date}}</v-list-item-subtitle>
                        </v-list-item>
                    </v-card>
                    <v-card class="mx-auto" width="500" height="700" style="margin:20px !important;">
                        <v-card-title>
                            Official Info
                        </v-card-title>
                        <v-list-item>
                            <v-list-item-subtitle>PAN Card No:
                                <a
                                    v-for="image in employee.profile_image"
                                    v-if="image.name === 'pan_image'"
                                    :href="image.path"
                                    target="_blank"
                                    style="text-decoration:underline;color:blue !important;"
                                >
                                    {{employee.pan_no}}
                                </a>
                            </v-list-item-subtitle>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-subtitle>Bank Account No: {{employee.bank_acc_no}}</v-list-item-subtitle>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-subtitle>Bank Name: {{employee.bank_name}}</v-list-item-subtitle>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-subtitle>Bank Branch: {{employee.bank_branch}}</v-list-item-subtitle>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-subtitle>Designation: {{employee.designation}}</v-list-item-subtitle>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-subtitle>Description: {{employee.description}}</v-list-item-subtitle>
                        </v-list-item>
                    </v-card>
                    <v-card class="mx-auto" width="500" height="700" style="margin:20px !important;">
                        <v-card-title>
                            Grading Info
                        </v-card-title>
                        <v-list-item>
                            <v-list-item-subtitle>Work Experience: {{employee.work_experience}}
                            </v-list-item-subtitle>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-subtitle>Management Skill: {{employee.management_skills}}
                            </v-list-item-subtitle>
                        </v-list-item>
                    </v-card>
                </div>
            </v-card>
    </v-row>
</template>
<script>
    export default {
        data() {
            return {
                dialog: false,
                employee: null
            }
        },
        created() {
            // this.$bus.$on('view-employee', data => {
            //     this.dialog = true;
            //     this.employee = data;
            //     console.log(this.employee)
            // })
            this.$store.dispatch('getSingleEmployee', this.$route.params.id).then((res) => {
                this.employee = res;
            })
        }

    }
</script>
