<template>
    <div class="page">
        <div class="page-header">
            <div class="page-header-button primary-button" @click="$bus.$emit('add-employee', false)">Add Employee</div>
        </div>
        <div class="page-list">
            <employee-list></employee-list>
        </div>
    </div>
</template>
<script>
    import EmployeeList from '../components/Employee/_list'
    export default {
        data() {
            return {
            };
        },
        components:{
            EmployeeList
        },
    }
</script>
