<template>
    <div class="page">
        <div class="page-header">
            <div class="page-header-button primary-button" @click="$bus.$emit('add-equipment', false)">Add Equipment</div>
        </div>
        <div class="page-list">
            <equipment-list></equipment-list>
        </div>
    </div>
</template>
<script>
    import EquipmentList from '../components/Equipment/_list'
    export default {
        data() {
            return {
            };
        },
        components:{
            EquipmentList
        },
    }
</script>
