<template>
    <div class="page">
        <div class="page-header">
            <div class="page-header-button primary-button" @click="$bus.$emit('add-equipment-category', false)">Add Equipment Category</div>
        </div>
        <div class="page-list">
            <equipment-category-list></equipment-category-list>
        </div>
    </div>
</template>
<script>
    import EquipmentCategoryList from '../components/EquipmentCategory/_list'
    export default {
        data() {
            return {
            };
        },
        components:{
            EquipmentCategoryList
        },
    }
</script>
