<template>
    <div class="page">
        <div class="page-header">
            <div class="page-header-button primary-button" @click="$bus.$emit('add-manufacture', false)">Add Manufacture</div>
        </div>
        <div class="page-list">
            <manufacture-list></manufacture-list>
        </div>
    </div>
</template>
<script>
    import ManufactureList from '../components/Manufacture/_list'
    export default {
        data() {
            return {
            };
        },
        components:{
            ManufactureList
        },
    }
</script>
