<template>
    <div class="page">
        <div class="page-header">
            <div class="page-header-button primary-button" @click="$bus.$emit('add-material', false)">Add Material</div>
            <div class="page-header-button primary-button" @click="$bus.$emit('add-material-name', false)">Add Material Name</div>
            <div class="page-header-button primary-button" @click="$bus.$emit('view-material-name', false)">View Material Name</div>
        </div>
        <div class="page-list">
            <material-list></material-list>
        </div>
    </div>
</template>
<script>
    import MaterialList from '../components/Material/_list'
    export default {
        data() {
            return {
            };
        },
        components:{
            MaterialList
        },
    }
</script>
