<template>
    <div class="page">
        <div class="page-header">
            <div class="page-header-button primary-button" @click="$bus.$emit('add-process', false)">Add Process</div>
        </div>
        <div class="page-list">
            <process-list></process-list>
        </div>
    </div>
</template>
<script>
    import ProcessList from '../components/Process/_list'
    export default {
        data() {
            return {
            };
        },
        components:{
            ProcessList
        },
    }
</script>
