<template>
    <div class="page">
        <div class="page-header">
            <div class="page-header-button primary-button" @click="$bus.$emit('add-product', false)">Add Product</div>
        </div>
        <div class="page-list">
            <product-list></product-list>
        </div>
    </div>
</template>
<script>
    import ProductList from '../components/Product/_list'
    export default {
        data() {
            return {
            };
        },
        components:{
            ProductList
        },
    }
</script>
