<template>
    <div class="page">
        <div class="page-content">
            <div class="primary-button" style="width: 120px;margin-bottom:10px;margin-left:auto;" @click="viewAttendance()">
                Attendance
            </div>
            <v-card style="width:100%;">
                <v-card-title class="project-profile-title">
                    <div>Project Details</div>
                    <div>
                        <v-icon small class="action-button" @click="editProject(project)">mdi-pencil</v-icon>
                    </div>
                </v-card-title>
                <v-card-text>
                    <div class="project-profile-wrapper">
                        <div class="project-list-wrapper">
                            <div class="project-list">
                                <span>Project Name : {{project.name}}</span>
                            </div>
                            <div class="project-list">
                                <span v-if="project.customer">Owner Name : {{project.customer.name}}</span>
                                <span v-else>Owner Name: N/a</span>
                            </div>
                            <div class="project-list">
                                <span v-if="project.referral">Referral Name : {{project.referral.name}}</span>
                                <span v-else-if="project.customer_referral">Referral Name: {{ project.customer_referral.name}}</span>
                                <span v-else>Referral Name: N/a</span>
                            </div>
                            <div class="project-list">
                                <span v-if="project.employee">Leader : {{project.employee.first_name + project.employee.last_name}}</span>
                                <span v-else> Leader : N/a</span>
                            </div>
                            <div class="project-list">
                                <span>Project Description : {{project.work_process}}</span>
                            </div>
                        </div>
                        <div class="project-list-wrapper">
                            <div class="project-list">
                                <span>Code : {{project.code}}</span>
                            </div>
                            <div class="project-list">
                                <span>Status : {{project.status}}</span>
                            </div>
                            <div class="project-list">
                                <span>Address : {{project.address}}</span>
                            </div>
                        </div>
                        <div class="project-list-wrapper">
                            <div class="project-list">
                                <span>Sampling Start Date : {{project.sample_start_date}}</span>
                            </div>
                            <div class="project-list">
                                <span>Project Start Date : {{project.start_date}}</span>
                            </div>
                            <div class="project-list">
                            <span>Project Handover Date :
                                <span v-for="date in project.hand_over_date" :key="date.id" style="display:flex;margin-left:160px;">{{date.handover_date}}</span>
                                </span>
                        </div>
                        </div>
                        <div class="project-list-wrapper">

                        </div>
                    </div>
                </v-card-text>
            </v-card>
        </div>
        <div class="page-content">
            <v-card style="width: 100%;margin-bottom:30px;">
                <v-card-title class="project-profile-title">
                    <div>Project Work Details</div>
                    <div class="primary-button" @click="addProjectDetails()">Add Details</div>
                </v-card-title>
                <v-spacer></v-spacer>
                <v-card-text>
                    <project-details></project-details>
                </v-card-text>
            </v-card>
        </div>
        <div class="page-content">
            <v-card style="width:100%; margin-bottom:30px;">
                <v-card-title class="project-profile-title">
                    <div>Project Room Shades</div>
                    <div class="primary-button" @click="addProjectRoomShade()">Add Room Shade</div>
                </v-card-title>
                <v-spacer></v-spacer>
                <v-card-text>
                    <project-room-shade-details></project-room-shade-details>
                </v-card-text>
            </v-card>
        </div>
        <div class="page-content">
            <v-card style="width:100%; margin-bottom:30px;">
                <v-card-title class="project-profile-title">
                    <div>Raw Material Quotation</div>
                    <div class="primary-button" @click="addRawMaterialQuotation()">Add Quotation</div>
                </v-card-title>
                <v-spacer></v-spacer>
                <v-card-text>
                    <raw-material-quotation-details></raw-material-quotation-details>
                </v-card-text>
            </v-card>
        </div>
        <div class="page-content">
            <v-card style="width:100%; margin-bottom:30px;">
                <v-card-title class="project-profile-title">
                    <div>Requisition</div>
                    <div class="primary-button" @click="addRequisition()">Add Requisition</div>
                </v-card-title>
                <v-spacer></v-spacer>
                <v-card-text>
                    <requisition-details></requisition-details>
                </v-card-text>
            </v-card>
        </div>
        <div class="page-content">
            <v-card style="width:100%; margin-bottom:30px;">
                <v-card-title class="project-profile-title">
                    <div>Purchase Order</div>
                    <div class="primary-button" @click="addPurchaseOrder()">Add Purchase Order</div>
                </v-card-title>
                <v-spacer></v-spacer>
                <v-card-text>
                    <purchase-orders></purchase-orders>
                </v-card-text>
            </v-card>
        </div>
        <div class="page-content">
            <v-card style="width:100%; margin-bottom:30px;">
                <v-card-title class="project-profile-title">
                    <div>Material Receipt</div>
                    <div class="primary-button" @click="addReceipt()">Add Material Receipt</div>
                </v-card-title>
                <v-spacer></v-spacer>
                <v-card-text>
                    <material-receipt></material-receipt>
                </v-card-text>
            </v-card>
        </div>
    </div>
</template>
<script>
    import ProjectDetails from '../components/Project/_detail-lists';
    import ProjectRoomShadeDetails from '../components/Project/_room-shade-list';
    import ProjectSurfaceShadeDetails from '../components/Project/_surface-shade-list';
    import RawMaterialQuotationDetails from '../components/Project/_raw-material-list';
    import RequisitionDetails from '../components/Project/_requisition-list'
    import PurchaseOrders from '../components/Project/_purchase-order-list'
    import MaterialReceipt from '../components/Project/_material-receipt-list'
    export default {
        data() {
            return {
                project: []
            }
        },
        components: {
            ProjectDetails,
            ProjectRoomShadeDetails,
            ProjectSurfaceShadeDetails,
            RawMaterialQuotationDetails,
            RequisitionDetails,
            PurchaseOrders,
            MaterialReceipt
        },
        created() {
          this.$bus.$on('refresh-single-project', () => {
              this.$store.dispatch('getSingleProject', this.$route.params.project_id).then((res) => {
                  this.project = res;
              })
          });
        },
        mounted() {
            this.$store.dispatch('getSingleProject', this.$route.params.project_id).then((res) => {
                this.project = res;
            })
        },
        methods: {
            editProject(item) {
                this.$bus.$emit('add-project', item);
            },
            addProjectDetails() {
                this.$bus.$emit('add-project-detail');
            },
            addProjectAttendance() {
                this.$bus.$emit('phase-attendance-form');
            },
            addProjectRoomShade() {
                this.$bus.$emit('add-project-room-shade');
            },
            addProjectSurfaceShade() {
                this.$bus.$emit('add-project-surface-shade');
            },
            addRawMaterialQuotation() {
                this.$bus.$emit('add-raw-material-quotation');
            },
            addRequisition() {
                this.$bus.$emit('add-requisition');
            },
            addPurchaseOrder() {
                this.$bus.$emit('add-purchase-order');
            },
            addReceipt(){
                this.$bus.$emit('add-receipt');
            },
            viewAttendance() {
                this.$router.push()
            },
        }
    }
</script>
<style>
    .project-profile-title {
        display: flex;
        justify-content: space-between;
    }

    .project-profile-wrapper {
        display: flex;
        justify-content: space-between;
        /*flex-direction: column;*/
    }

    .project-list {
        display: flex;
        /*padding: 10px;*/
        margin-right:10px;
        margin-bottom:20px;
        font-weight: 500;

    }

    .project-list-wrapper{
        display:flex;
        flex-direction:column;
        max-width: 100%;
    }
</style>
