<template>
    <div class="page">
        <div class="page-header" style="display:flex; justify-content:space-between;">
            <div class="page-header-button primary-button" @click="$bus.$emit('add-project', false)">Add Project</div>
            <div class="text-center">
                <v-menu offset-y>
                    <template v-slot:activator="{on, attrs}">
                        <div class="page-header-button primary-button"
                             v-bind="attrs"
                             v-on="on"
                            style="color: white;padding-left:25px;padding-right:25px;"
                        >Filter
                        </div>
                    </template>
                    <v-list>
                            <v-list-item class="filter__list__item" @click="filterProject('Sampling')">Sampling</v-list-item>
                            <v-list-item class="filter__list__item" @click="filterProject('OnGoing')">On Going</v-list-item>
                            <v-list-item class="filter__list__item" @click="filterProject('HandOver')">HandOver</v-list-item>
                            <v-list-item class="filter__list__item" @click="filterProject('all')">All</v-list-item>
                        </v-list>
                </v-menu>
            </div>
        </div>
        <div class="page-list">
            <project-list></project-list>
        </div>
    </div>
</template>
<script>
    import ProjectList from '../components/Project/_list'

    export default {
        data() {
            return {};
        },
        components: {
            ProjectList
        },
        methods: {
            filterProject(data){
                this.$bus.$emit('refresh-project-list', data);
            }
        }
    }
</script>
<style lang="scss">
    .filter__list__item {
        cursor:pointer;
    }
    .filter__list__item:hover {
        background-color:#e5e5e5 !important;
    }
</style>
