<template>
    <div class="page">
        <div class="page-header">
            <div class="page-header-button primary-button" @click="$bus.$emit('add-referral', false)">Add Referral</div>
        </div>
        <div class="page-list">
            <referral-list></referral-list>
        </div>
    </div>
</template>
<script>
    import ReferralList from '../components/Referral/_list'
    export default {
        data() {
            return {
            };
        },
        components:{
            ReferralList
        },
    }
</script>
