<template>
    <div class="page">
        <div class="page-header">
            <div class="page-header-button primary-button" @click="$bus.$emit('add-shade', false)">Add Shade Card</div>
        </div>
        <div class="page-list">
            <shade-list></shade-list>
        </div>
    </div>
</template>
<script>
    import ShadeList from '../components/Shade/_list'
    export default {
        data() {
            return {
            };
        },
        components:{
            ShadeList
        },
    }
</script>
