<template>
    <div class="page">
        <div class="page-header">
            <div class="page-header-button primary-button" @click="$bus.$emit('add-shade-palette', false)">Add Shade Palette</div>
        </div>
        <div class="page-list">
            <shade-palette-list></shade-palette-list>
        </div>
    </div>
</template>
<script>
    import ShadePaletteList from '../components/ShadePalette/_list'
    export default {
        data() {
            return {
            };
        },
        components:{
            ShadePaletteList
        },
    }
</script>
