<template>
    <div class="page">
        <div class="page-header">
            <div class="page-header-button primary-button" @click="$bus.$emit('add-stock', false)">Add Stock</div>
        </div>
        <div class="page-list">
            <stock-list></stock-list>
        </div>
    </div>
</template>
<script>
    import StockList from '../components/Stock/_list'
    export default {
        data() {
            return {
            };
        },
        components:{
            StockList
        },
    }
</script>
