<template>
    <div style="display: flex;justify-content: space-around;">
        <div class="page">
            <div class="page-header">
                <div class="page-header-button primary-button" @click="$bus.$emit('add-unit', false)">Add Unit</div>
            </div>
            <div class="page-list">
                <unit-list></unit-list>
            </div>
        </div>
        <div class="page">
            <div class="page-header">
                <div class="page-header-button primary-button" @click="$bus.$emit('add-pack-type', false)">Add Pack Type</div>
            </div>
            <div class="page-list">
                <pack-type-list></pack-type-list>
            </div>
        </div>
    </div>
</template>
<script>
    import UnitList from '../components/Unit/_list'
    import PackTypeList from '../components/PackType/_list'

    export default {
        data() {
            return {};
        },
        components: {
            UnitList,
            PackTypeList
        },
    }
</script>
