<template>
    <div class="page">
        <div class="page-header">
            <div class="page-header-button primary-button" @click="$bus.$emit('add-vendor', false)">Add Vendor</div>
        </div>
        <div class="page-list">
            <vendor-list></vendor-list>
        </div>
    </div>
</template>
<script>
    import VendorList from '../components/Vendor/_list'
    export default {
        data() {
            return {
            };
        },
        components:{
            VendorList
        },
    }
</script>
