<template>
    <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app class="nav__bar">
        <v-app-bar-nav-icon @click.stop="toggleSidebar"></v-app-bar-nav-icon>
        <v-img
            lazy-src="../img/Exin.jpg"
            max-height="40"
            max-width="40"
            src="../img/Exin.jpg"
        ></v-img>
        <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
            <span class="hidden-sm-and-down">Ultimate EX-IN painting solution</span>
        </v-toolbar-title>

        <v-spacer></v-spacer>
        <div class="text-center" style="margin-right: unset">
            <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                    <v-icon
                        v-bind="attrs"
                        v-on="on"
                    >
                        settings
                    </v-icon>
                </template>
                <v-list>
                    <v-list-item>
                        <v-list-item-title>Change Password</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="logout">
                        <v-list-item-title>Logout</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
        </div>
    </v-app-bar>

</template>
<script>
    export default {
        data() {
            return{
            }
        },
        methods: {
            toggleSidebar() {
                this.$bus.$emit('toggle-sidebar');
            },
            logout() {
                let r = confirm('Are you sure?');
                if(r) {
                    this.$store.dispatch('logout').then(() => {
                        location.reload();
                    });
                }
            },

        }
    }
</script>
