<template>
    <v-navigation-drawer
        v-model="drawer"
        :clipped="$vuetify.breakpoint.lgAndUp"
        width="240"
        app
    >
        <div class="sidebar-wrapper">

            <div class="sidebar-list" @click="activeList('dashboard')"
                 :class="(activeKey === 'dashboard') ? 'sidebar-active' : ''">
                <router-link to="/dashboard" class="side-menu">
                    <span class="material-icons sidebar-icon">home</span>
                    <span>Dashboard</span>
                </router-link>
            </div>
            <div class="sidebar-list" @click="activeList('project')"
                 :class="(activeKey === 'project') ? 'sidebar-active' : ''">
                <router-link to="/project" class="side-menu">
                    <span class="material-icons sidebar-icon">source</span>
                    <span>Project</span>
                </router-link>
            </div>
            <div class="sidebar-list" @click="activeList('employees')"
                 :class="(activeKey === 'employees') ? 'sidebar-active' : ''">
                <router-link to="/employees" class="side-menu">
                    <span class="material-icons sidebar-icon">account_circle</span>
                    <span>Employees</span>
                </router-link>
            </div>
            <div class="sidebar-list" @click="activeList('customer')"
                 :class="(activeKey === 'customer') ? 'sidebar-active' : ''">
                <router-link to="/customer" class="side-menu">
                    <span class="material-icons sidebar-icon">supervised_user_circle</span>
                    <span>Customers</span>
                </router-link>
            </div>
            <v-divider style="width:100%;"></v-divider>
            <v-list-group prepend-icon="filter_3">
                <template v-slot:activator>
                    <v-list-item-title class="side-text">Product Process</v-list-item-title>
                </template>
                <div class="sidebar-list inner-list" @click="activeList('category')"
                     :class="(activeKey === 'category') ? 'sidebar-active' : ''">
                    <router-link to="/category" class="side-menu">
                        <span class="material-icons sidebar-icon">category</span>
                        <span class="side-text">Category</span>
                    </router-link>
                </div>
                <div class="sidebar-list inner-list" @click="activeList('product')"
                     :class="(activeKey === 'product') ? 'sidebar-active' : ''">
                    <router-link to="/product" class="side-menu">
                        <span class="material-icons sidebar-icon">inventory</span>
                        <span class="side-text">Product</span>
                    </router-link>
                </div>
                <div class="sidebar-list inner-list" @click="activeList('process')"
                     :class="(activeKey === 'process') ? 'sidebar-active' : ''">
                    <router-link to="/process" class="side-menu">
                        <span class="material-icons sidebar-icon">memory</span>
                        <span class="side-text">Process</span>
                    </router-link>
                </div>
            </v-list-group>
            <div class="sidebar-list" @click="activeList('referral')"
                 :class="(activeKey === 'referral') ? 'sidebar-active' : ''">
                <router-link to="/referral" class="side-menu">
                    <span class="material-icons sidebar-icon">settings_accessibility</span>
                    <span>Referrals</span>
                </router-link>
            </div>

            <div class="sidebar-list" @click="activeList('material')"
                 :class="(activeKey === 'material') ? 'sidebar-active' : ''">
                <router-link to="/material" class="side-menu">
                    <span class="material-icons sidebar-icon">home_repair_service</span>
                    <span>Materials</span>
                </router-link>
            </div>

            <div class="sidebar-list" @click="activeList('stock')"
                 :class="(activeKey === 'stock') ? 'sidebar-active' : ''">
                <router-link to="/stock" class="side-menu">
                    <span class="material-icons sidebar-icon">source</span>
                    <span>Stock</span>
                </router-link>
            </div>

            <v-divider style="width:100%;"></v-divider>
            <v-list-group prepend-icon="mdi-cog-outline">
                <template v-slot:activator>
                    <v-list-item-title class="side-text">Settings</v-list-item-title>
                </template>
                <div class="sidebar-list inner-list" @click="activeList('vendor')"
                     :class="(activeKey === 'vendor') ? 'sidebar-active' : ''">
                    <router-link to="/vendor" class="side-menu">
                        <span class="material-icons sidebar-icon">assignment_ind</span>
                        <span class="side-text">Vendors</span>
                    </router-link>
                </div>
                <div class="sidebar-list inner-list" @click="activeList('unit')"
                     :class="(activeKey === 'unit') ? 'sidebar-active' : ''">
                    <router-link to="/unit" class="side-menu">
                        <span class="material-icons sidebar-icon">ad_units</span>
                        <span class="side-text">Unit</span>
                    </router-link>
                </div>
                <div class="sidebar-list inner-list" @click="activeList('contract')"
                     :class="(activeKey === 'contract') ? 'sidebar-active' : ''">
                    <router-link to="/contract" class="side-menu">
                        <span class="material-icons sidebar-icon">gavel</span>
                        <span class="side-text">Contract</span>
                    </router-link>
                </div>
                <div class="sidebar-list inner-list" @click="activeList('manufacture')"
                     :class="(activeKey === 'manufacture') ? 'sidebar-active' : ''">
                    <router-link to="/manufacture" class="side-menu">
                        <span class="material-icons sidebar-icon">precision_manufacturing</span>
                        <span class="side-text">Manufacture</span>
                    </router-link>
                </div>
            </v-list-group>
            <v-list-group prepend-icon="construction">
                <template v-slot:activator>
                    <v-list-item-title class="side-text">Equipments</v-list-item-title>
                </template>
                <div class="sidebar-list inner-list" @click="activeList('equipment-category')"
                     :class="(activeKey === 'equipment-category') ? 'sidebar-active' : ''">
                    <router-link to="/equipment-category" class="side-menu">
                        <span class="material-icons sidebar-icon">category</span>
                        <span class="side-text">Equipment Category</span>
                    </router-link>
                </div>
                <div class="sidebar-list inner-list" @click="activeList('equipment')"
                     :class="(activeKey === 'equipment') ? 'sidebar-active' : ''">
                    <router-link to="/equipment" class="side-menu">
                        <span class="material-icons sidebar-icon">source</span>
                        <span class="side-text">Equipment</span>
                    </router-link>
                </div>
            </v-list-group>
            <v-list-group prepend-icon="mdi-cog-outline">
                <template v-slot:activator>
                    <v-list-item-title class="side-text">Shade</v-list-item-title>
                </template>
                <div class="sidebar-list inner-list" @click="activeList('shade')"
                     :class="(activeKey === 'shade') ? 'sidebar-active' : ''">
                    <router-link to="/shade" class="side-menu">
                        <span class="material-icons sidebar-icon">assignment_ind</span>
                        <span class="side-text">Shade Card</span>
                    </router-link>
                </div>
                <div class="sidebar-list inner-list" @click="activeList('shade-palette')"
                     :class="(activeKey === 'shade-palette') ? 'sidebar-active' : ''">
                    <router-link to="/shade-palette" class="side-menu">
                        <span class="material-icons sidebar-icon">assignment_ind</span>
                        <span class="side-text">Shade Palette</span>
                    </router-link>
                </div>
            </v-list-group>

        </div>
    </v-navigation-drawer>
</template>
<script>
    export default {
        data() {
            return {
                drawer: true,
                activeKey: this.$route.name,
            }
        },
        created() {
            this.$bus.$on('toggle-sidebar', () => {
                this.drawer = !this.drawer;
            });
        },
        methods: {
            activeList(key) {
                if (key === this.activeKey) return true;
                this.activeKey = key;
                // this.$router.push({name: `${key}`})
            }
        }
    }
</script>
<style lang="scss" scoped>
    .side-menu{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width:100%;
    }
    .sidebar-wrapper {
        overflow-x: hidden;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 10px;

        > div {
            padding: .1rem 0;
            width: 100%;
            cursor: pointer;
            /*padding-left: 15px;*/

            > span {
                font-size: 1rem !important;
                /*color: #888;*/
                align-self: center !important;
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                font-weight: 400 !important;
                line-height: 1.5 !important;
                letter-spacing: 0.00938em !important;
            }
        }

        > div:hover {
            background: rgb(0 0 0 / 5%);

            > span {
                color: #15101073;
            }
        }

        .sidebar-list {
            display: flex;
            justify-content: flex-start;
            width: 100%;

            .sidebar-icon {
                min-width: 50px;
                font-size: 25px;
                color: #15101073;
                padding: 10px 20px 10px 10px;
            }
        }
        .inner-list{
            padding-left:20px;
        }
    }

    .sidebar-active {
        background: rgba(0, 0, 0, 0.08);

        > span {
            color: #15101073 !important;
        }
    }
    .side-text{
        color: #484848 !important;

    }

</style>
