<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent scrollable max-width="800px">
            <v-card class="dialog-card">
                <v-card-title>
                    <span>{{title}}</span>
                </v-card-title>
                <v-card-text style="margin-top: 20px;">
                    <v-row class="dialog-form-wrapper" v-if="!isEdit">
                        <v-col cols="12">
                            <v-text-field
                                label="First Name*"
                                v-model="formData.first_name"
                                :error-messages="validation.first_name">
                            </v-text-field>
                            <v-text-field
                                label="Middle Name*"
                                v-model="formData.middle_name"
                                :error-messages="validation.middle_name">
                            </v-text-field>
                            <v-text-field
                                label="Last Name*"
                                v-model="formData.last_name"
                                :error-messages="validation.last_name">
                            </v-text-field>
                        </v-col>
                        <v-col cols="12">
                            <v-menu
                                v-model="menu"
                                :close-on-content-click="false"
                                :nudge-right="40"
                                transition="scale-transition"
                                offset-y
                                min-width="auto"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                        v-model="formData.date_of_join"
                                        label="Date Of Join"
                                        prepend-icon="mdi-calendar"
                                        readonly
                                        v-bind="attrs"
                                        v-on="on"
                                        :error-messages="validation.date_of_join"
                                    ></v-text-field>
                                </template>
                                <v-date-picker
                                    v-model="formData.date_of_join"
                                    @input="menu = false"
                                ></v-date-picker>
                            </v-menu>

                        </v-col>
                    </v-row>
                    <div v-else>
                        <v-row class="dialog-form-wrapper">
                            <v-col>
                                <v-text-field
                                    label="First Name*"
                                    v-model="formData.first_name"
                                    :error-messages="validation.first_name">
                                </v-text-field>
                            </v-col>
                            <v-col>
                                <v-text-field
                                    label="Middle Name*"
                                    v-model="formData.middle_name"
                                    :error-messages="validation.middle_name">
                                </v-text-field>
                            </v-col>
                            <v-col>
                                <v-text-field
                                    label="Last Name*"
                                    v-model="formData.last_name"
                                    :error-messages="validation.last_name">
                                </v-text-field>
                            </v-col>
                        </v-row>
                        <v-row class="dialog-form-wrapper">
                            <v-col>
                                <v-menu
                                    v-model="menu"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="auto"
                                >
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-text-field
                                            v-model="formData.date_of_join"
                                            label="Date Of Join"
                                            prepend-icon="mdi-calendar"
                                            readonly
                                            v-bind="attrs"
                                            v-on="on"
                                        ></v-text-field>
                                    </template>
                                    <v-date-picker
                                        v-model="formData.date_of_join"
                                        @input="menu = false"
                                    ></v-date-picker>
                                </v-menu>

                            </v-col>
                            <v-col>
                                <v-text-field
                                    label="Citizenship Name"
                                    v-model="formData.citizenship_name"
                                    :error-messages="validation.citizenship_name">
                                </v-text-field>
                            </v-col>
                            <v-col>
                                <v-menu
                                    v-model="menu1"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="auto"
                                >
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-text-field
                                            v-model="formData.date_of_birth"
                                            label="Date Of Birth"
                                            prepend-icon="mdi-calendar"
                                            readonly
                                            v-bind="attrs"
                                            v-on="on"
                                        ></v-text-field>
                                    </template>
                                    <v-date-picker
                                        v-model="formData.date_of_birth"
                                        @input="menu1 = false"
                                    ></v-date-picker>
                                </v-menu>

                            </v-col>
                        </v-row>
                        <v-row class="dialog-form-wrapper">
                            <v-col>
                                <v-text-field
                                    type="number"
                                    label="Mobile No"
                                    v-model="formData.mobile"
                                    :error-messages="validation.mobile">
                                </v-text-field>
                            </v-col>
                            <v-col>
                                <v-text-field
                                    type="number"
                                    label="Official Phone No"
                                    v-model="formData.phone"
                                    :error-messages="validation.phone">
                                </v-text-field>
                            </v-col>
                            <v-col>
                                <v-text-field
                                    label="Work Experience"
                                    v-model="formData.work_experience"
                                    :error-messages="validation.work_experience">
                                </v-text-field>
                            </v-col>
                        </v-row>
                        <v-row class="dialog-form-wrapper">
                            <v-col>
                                <v-text-field
                                    label="Citizenship No"
                                    v-model="formData.citizenship_no"
                                    :error-messages="validation.citizenship_no">
                                </v-text-field>
                            </v-col>
                            <v-col>
                                <v-menu
                                    v-model="menu2"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="auto"
                                >
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-text-field
                                            v-model="formData.issued_date"
                                            label="Issued Date"
                                            prepend-icon="mdi-calendar"
                                            readonly
                                            v-bind="attrs"
                                            v-on="on"
                                        ></v-text-field>
                                    </template>
                                    <v-date-picker
                                        v-model="formData.issued_date"
                                        @input="menu2 = false"
                                    ></v-date-picker>
                                </v-menu>
                            </v-col>
                            <v-col>
                                <v-text-field
                                    label="Issued Place"
                                    v-model="formData.issued_palace"
                                    :error-messages="validation.issued_palace">
                                </v-text-field>
                            </v-col>
                        </v-row>
                        <v-row class="dialog-form-wrapper">
                            <v-col>
                                <v-text-field
                                    label="Father Name"
                                    v-model="formData.father_name"
                                    :error-messages="validation.father_name">
                                </v-text-field>
                            </v-col>
                            <v-col>
                                <v-text-field
                                    label="Mother Name"
                                    v-model="formData.mother_name"
                                    :error-messages="validation.mother_name">
                                </v-text-field>
                            </v-col>
                            <v-col>
                                <v-text-field
                                    label="Grand Father Name"
                                    v-model="formData.grand_father_name"
                                    :error-messages="validation.grand_father_name">
                                </v-text-field>
                            </v-col>
                        </v-row>
                        <v-row class="dialog-form-wrapper">
                            <v-col>
                                <v-text-field
                                    label="Address"
                                    v-model="formData.address"
                                    :error-messages="validation.address">
                                </v-text-field>
                            </v-col>
                            <v-col>
                                <v-text-field
                                    label="State"
                                    v-model="formData.state"
                                    :error-messages="validation.state">
                                </v-text-field>
                            </v-col>
                            <v-col>
                                <v-text-field
                                    label="District"
                                    v-model="formData.district"
                                    :error-messages="validation.district">
                                </v-text-field>
                            </v-col>
                        </v-row>
                        <v-row class="dialog-form-wrapper">
                            <v-col>
                                <v-text-field
                                    label="Municipality"
                                    v-model="formData.municipality"
                                    :error-messages="validation.municipality">
                                </v-text-field>
                            </v-col>
                            <v-col>
                                <v-text-field
                                    label="Ward No"
                                    v-model="formData.ward_no"
                                    :error-messages="validation.ward_no">
                                </v-text-field>
                            </v-col>
                            <v-col>
                                <v-text-field
                                    label="Pan No"
                                    v-model="formData.pan_no"
                                    :error-messages="validation.pan_no">
                                </v-text-field>
                            </v-col>
                        </v-row>
                        <v-row class="dialog-form-wrapper">
                            <v-col>
                                <v-text-field
                                    label="Bank Acc No"
                                    v-model="formData.bank_acc_no"
                                    :error-messages="validation.bank_acc_no">
                                </v-text-field>
                            </v-col>
                            <v-col>
                                <v-text-field
                                    label="Bank Name"
                                    v-model="formData.bank_name"
                                    :error-messages="validation.bank_name">
                                </v-text-field>
                            </v-col>
                            <v-col>
                                <v-text-field
                                    label="Bank Branch"
                                    v-model="formData.bank_branch"
                                    :error-messages="validation.bank_branch">
                                </v-text-field>
                            </v-col>
                        </v-row>
                        <v-row class="dialog-form-wrapper">
                            <v-col>
                                <v-text-field
                                    label="Designation"
                                    v-model="formData.designation"
                                    :error-messages="validation.designation">
                                </v-text-field>
                            </v-col>
                            <v-col>
                                <v-text-field
                                    label="Description"
                                    v-model="formData.description"
                                    :error-messages="validation.description">
                                </v-text-field>
                            </v-col>
                            <v-col>
                                <v-text-field
                                    label="License No"
                                    v-model="formData.license_no"
                                    :error-messages="validation.license_no">
                                </v-text-field>
                            </v-col>
                        </v-row>
                        <v-row class="dialog-form-wrapper">
                            <v-col>
                                <v-menu
                                    v-model="menu3"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="auto"
                                >
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-text-field
                                            v-model="formData.license_issued_date"
                                            label="Licesnse Issued Date"
                                            prepend-icon="mdi-calendar"
                                            readonly
                                            v-bind="attrs"
                                            v-on="on"
                                        ></v-text-field>
                                    </template>
                                    <v-date-picker
                                        v-model="formData.license_issued_date"
                                        @input="menu3 = false"
                                    ></v-date-picker>
                                </v-menu>
                            </v-col>
                            <v-col>
                                <v-text-field
                                    label="Management Skills"
                                    v-model="formData.management_skills"
                                    :error-messages="validation.management_skills">
                                </v-text-field>
                            </v-col>
                            <v-col v-if="formData.is_active">
                                <v-menu
                                    v-model="menu4"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="auto"
                                >
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-text-field
                                            v-model="formData.resign_date"
                                            label="Resign Date"
                                            prepend-icon="mdi-calendar"
                                            readonly
                                            v-bind="attrs"
                                            v-on="on"
                                        ></v-text-field>
                                    </template>
                                    <v-date-picker
                                        v-model="formData.resign_date"
                                        @input="menu4 = false"
                                    ></v-date-picker>
                                </v-menu>
                            </v-col>
                        </v-row>
                        <v-row class="dialog-form-wrapper">
                            <v-col>
                                <v-file-input
                                    v-model="profile_image"
                                    accept="image/*"
                                    outlined
                                    label="Select Profile Image"
                                    small-chips
                                    show-size
                                    dense
                                    style="margin-top:10px;"
                                    v-on:change="profileImageSelected"
                                ></v-file-input>
                            </v-col>
                            <v-col>
                                <v-file-input
                                    v-model="pan_image"
                                    outlined
                                    label="Select Pan"
                                    small-chips
                                    show-size
                                    dense
                                    style="margin-top:10px;"
                                    v-on:change="panImageSelected"
                                ></v-file-input>
                            </v-col>
                            <v-col>
                                <v-file-input
                                    v-model="citizenship_image"
                                    outlined
                                    label="Select Citizenship"
                                    small-chips
                                    show-size
                                    dense
                                    style="margin-top:10px;"
                                    v-on:change="citizenshipImageSelected"
                                ></v-file-input>
                            </v-col>
                        </v-row>
                        <v-row class="dialog-form-wrapper">
                            <v-col>
                                <v-file-input
                                    v-model="license_image"
                                    outlined
                                    label="Select License"
                                    small-chips
                                    show-size
                                    dense
                                    style="margin-top:10px;"
                                    v-on:change="licenseImageSelected"
                                ></v-file-input>
                            </v-col>
                        </v-row>
                    </div>
                </v-card-text>
                <v-card-actions class="dialog-action">
                    <v-spacer></v-spacer>
                    <v-btn class="close-button" @click="close()">Close</v-btn>
                    <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                           :disabled="$store.getters.buttonLoader">Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
    import api from '../../handler/axios'
    export default {
        data: () => ({
            dialog: false,
            formData: {},
            validation: {},
            menu: false,
            menu1: false,
            menu2: false,
            menu3: false,
            menu4: false,
            title: 'Add Employee',
            isEdit: false,
            profile_image: null,
            pan_image: null,
            citizenship_image: null,
            license_image: null,
            uploadDocument: false,
        }),
        created() {
            this.$bus.$on('add-employee', data => {
                this.validation = {};
                this.formData = {};
                this.isEdit = false;
                this.title = 'Add Employee';
                this.profile_image = null;
                this.pan_image = null;
                this.citizenship_image = null;
                this.license_image = null;
                if (data) {
                    this.formData = data;
                    if(data.resign_date.length > 0 && !data.is_active) {
                        this.formData.resign_date = data.resign_date[data.resign_date.length - 1].resign_date;
                    }else {
                        this.formData.resign_date = null;
                    }
                    this.title = "Edit Employee";
                    this.isEdit = true;
                }
                this.dialog = true;
            })
        },
        methods: {
            async saveDocument(file, employeeId, docName) {
                let data = new FormData();
                data.append(docName, file);
                data.append("employee_id", employeeId);
                await api.post('/save-profile', data);
            },
            submit() {
                this.$store.dispatch('addEmployee', this.formData).then((res) => {
                    this.dialog = false;
                    if(this.profile_image) {
                        this.saveDocument(this.profile_image, res.id, "profile_image");
                    }
                    if(this.pan_image) {
                        this.saveDocument(this.pan_image, res.id, "pan_image");
                    }
                    if(this.citizenship_image) {
                        this.saveDocument(this.citizenship_image, res.id, "citizenship_image");
                    }
                    if(this.license_image) {
                        this.saveDocument(this.license_image, res.id, "license_image");
                    }
                    this.$bus.$emit('refresh-employee-list');
                }).catch((err) => {
                    console.log(err);
                    this.validation = this.$store.getters.validation
                })
            },
            close() {
                let r = confirm('Are you sure?');
                if (r) {
                    this.dialog = false;
                }
            },
            profileImageSelected(e) {
                const file = e;
                if (file.size > 1542880) {
                    return confirm('File Size cannot be greater than 1.5MB');
                }
                this.profile_image = file;
            },
            panImageSelected(e) {
                const file = e;
                if (file.size > 1542880) {
                    return confirm('File Size cannot be greater than 1.5MB');
                }
                this.pan_image = file;
            },
            citizenshipImageSelected(e) {
                const file = e;
                if (file.size > 1542880) {
                    return confirm('File Size cannot be greater than 1.5MB');
                }
                this.citizenship_image = file;
            },
            licenseImageSelected(e) {
                const file = e;
                if (file.size > 1542880) {
                    return confirm('File Size cannot be greater than 1.5MB');
                }
                this.license_image = file;
            }
        }
    }
</script>
