<template>
    <v-card>
        <v-card-title style="display: flex; justify-content: space-between; align-items:center;">
            <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search By First Name"
                single-line
                @keydown.enter="searchData()"
                style="max-width:50%;"
            ></v-text-field>
            <v-pagination
                v-if="totalPage > 1"
                v-model="page"
                :length="totalPage"
                :total-visible="5"
            ></v-pagination>
        </v-card-title>
        <div class="filter-table">
            <div class="filter-table-child" :class="isActive ? 'selectedFilter' : ''" @click="filterEmployee('active')">
                <span class="material-icons" style="color:green;">fiber_manual_record</span>
                <span>Active</span>
            </div>
            <div class="filter-table-child" :class="isInactive ? 'selectedFilter' : ''" @click="filterEmployee('inactive')">
                <span class="material-icons" style="color:red;">fiber_manual_record</span>
                <span>InActive</span>
            </div>
            <div class="filter-table-child" :class="isAll ? 'selectedFilter' : ''" @click="filterEmployee('all')">
                <span class="material-icons" style="color:blue;">fiber_manual_record</span>
                <span>Show All</span>
            </div>
        </div>
        <v-data-table
            :headers="headers"
            :items="employees"
            class="elevation-1"
            :loading="loading"
            loading-text="Loading... Please wait"
        >
            <template slot="item" slot-scope="props">
                <tr>
                    <td>{{props.item.employee_code}}</td>
                    <td>
                        <span>
                            <v-avatar style="height: 38px;min-width: 38px;width: 38px;" v-if="props.item.profile_image.length > 0" >
                              <img
                                  v-for="image in props.item.profile_image"
                                  v-if="image.name === 'profile_image'"
                                  :src="image.path"
                                  alt="Image"
                              >
                            </v-avatar>
                            <v-avatar style="height: 38px;min-width: 38px;width: 39px;line-height:3rem" v-else>
                                  <span class="white--text headline" style="width:100%;line-height:3rem;">{{getName(props.item.first_name, props.item.last_name)}}</span>
                            </v-avatar>
                        </span>
                        <span style="text-decoration: underline;cursor:pointer;color:blue;" @click="viewEmployee(props.item)">{{capitalizeFirstLetter(props.item.first_name)}}</span>
                    </td>
                    <td v-if="props.item.middle_name">{{capitalizeFirstLetter(props.item.middle_name) }}</td>
                    <td v-else>N/a</td>
                    <td>{{capitalizeFirstLetter(props.item.last_name)}}</td>
                    <td>{{props.item.date_of_join}}</td>
                    <td style="display: flex;align-items:center">
                        <v-menu
                            bottom
                            origin="center center"
                            transition="scale-transition"
                        >
                            <template v-slot:activator="{on, attrs}">
                                <i class="material-icons" v-bind="attrs" v-on="on" style="margin-right: 20px;">more_horiz</i>
                            </template>
                            <v-list>
                                <v-list-item @click="viewEmployee(props.item)">View</v-list-item>
                                <v-list-item @click="editEmployee(props.item)">Edit</v-list-item>
                                <v-list-item @click="deleteEmployee(props.item.id)">Delete</v-list-item>
                                <v-list-item @click="markActive(props.item)" v-if="!props.item.is_active">Rejoin</v-list-item>
                            </v-list>
                        </v-menu>
                    </td>
                </tr>
            </template>
        </v-data-table>
        <v-pagination
            v-if="totalPage > 1"
            v-model="page"
            :length="totalPage"
            :total-visible="5"
            style="float:right; padding:10px;"
        ></v-pagination>
    </v-card>
</template>
<script>
    export default {
        data() {
            return {
                headers: [
                    {text: 'Code', align: 'left', sortable: false, value: 'employee_code'},
                    {text: 'First Name', align: 'left', sortable: false, value: 'first_name'},
                    {text: 'Middle Name', align: 'left', sortable: false, value: 'middle_name'},
                    {text: 'Last Name', align: 'left', sortable: false, value: 'last_name'},
                    {text: 'Date Of Join', align: 'left', sortable: false, value: 'date_of_join'},
                    {text: 'Actions', align: 'left', sortable: false, value: 'action'},

                ],
                employees: [],
                loading: true,
                page: 1,
                totalPage: 1,
                search: '',
                type: 'active',
                isActive: true,
                isInactive: false,
                isAll: false,
            }
        },
        created() {
            this.$bus.$on('refresh-employee-list', () => {
                this.loading = true;
                this.getEmployeesLists();
            })
        },
        destroyed() {
            this.$bus.$off('refresh-employees-list');
        },
        mounted() {
            this.getEmployeesLists();
        },
        watch: {
            page(val) {
                this.page = val;
                this.getEmployeesLists();
            }
        },
        methods: {
            capitalizeFirstLetter(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            },
            markActive(item){
                let r = confirm('Are you sure?');
                if (r) {
                    this.$store.dispatch('toggleActive', item.id).then(() => {
                        this.page = 1;
                        this.totalPage = 1;
                        this.getEmployeesLists();
                    })
                }
            },
            getName(first, last){
                return first.slice(0,1).toUpperCase()+last.slice(0,1).toUpperCase();
            },
            filterEmployee(data) {
                this.type = data;
                this.page = 1;
                if(data === 'active') {
                    this.isActive = true;
                    this.isInactive = false;
                    this.isAll = false;
                }
                if(data === 'inactive') {
                    this.isActive = false;
                    this.isAll= false;
                    this.isInactive = true;
                }
                if(data === 'all') {
                    this.isActive = false;
                    this.isInactive = false;
                    this.isAll = true;
                }
                this.getEmployeesLists();
            },
            searchData() {
                this.getEmployeesLists();
            },
            getEmployeesLists() {
                this.loading = true;
                this.$store.dispatch('getAllEmployees', {
                    page: this.page,
                    search: this.search,
                    type: this.type
                }).then((res) => {
                    this.employees = res.data;
                    this.totalPage = res.last_page;
                    this.loading = false;
                })
            },
            viewEmployee(item) {
                this.$router.push('/employee/'+ item.id)
            },
            editEmployee(item) {
                this.$bus.$emit('add-employee', item);
            },
            deleteEmployee(id) {
                let r = confirm('Are you sure want to delete?');
                if (r) {
                    this.$store.dispatch('deleteEmployee', id).then(() => {
                        this.$bus.$emit('refresh-employee-list');
                    })
                }
            }
        }
    }
</script>
<style lang="scss" scoped>
    .selectedFilter{
        /*color:white;*/
        background: #dcdbdb;
        border: 2px solid;
        border-radius: 5px;
    }
    .expansion-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .question-wrapper {
            margin: 1rem;
        }

        .answer-wrapper {
            display: flex;
            margin: .5rem 3rem;
        }

        .hint-wrapper {
            margin: 1rem;
        }
    }


</style>
