<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent scrollable max-width="800px">
            <v-card class="dialog-card">
                <v-card-title>
                    <span>{{title}}</span>
                </v-card-title>
                <v-card-text style="margin-top: 30px">
                    <v-row class="dialog-form-wrapper">
                        <v-col xs12>
                            <v-select
                                :items="categories.map(function(category) {
                                    return {text: category.name, value: category.id}
                                })"
                                v-model="formData.category_id"
                                label="Select Category*"
                                :error-messages="validation.category_id"

                            ></v-select>
                            <v-select
                                :items="products.map(function(product) {
                                    return {text: product.name, value: product.id}
                                })"
                                v-model="formData.product_id"
                                label="Select Product*"
                                :error-messages="validation.product_id"

                            >
                            </v-select>
                            <v-text-field
                                label="Estimated Quantity"
                                type="number"
                                v-model="formData.quantity"
                                :error-messages="validation.quantity"

                            >
                            </v-text-field>
                            <v-text-field
                                label="Approved Rate"
                                type="number"
                                v-model="formData.approved_rate"
                                :error-messages="validation.approved_rate"

                            >
                            </v-text-field>
                            <v-select
                                :items="contracts.map(function(contract) {
                                    return {text: contract.contract_type, value: contract.id}
                                })"
                                v-model="formData.contract_id"
                                label="Contract Type*"
                                :error-messages="validation.contract_id"

                            >
                            </v-select>
                            <v-select
                                :items="units.map(function(unit) {
                                    return {text: unit.code, value: unit.id}
                                })"
                                v-model="formData.unit_id"
                                label="Unit*"
                                :error-messages="validation.unit_id"

                            >
                            </v-select>
                            <v-select
                                :items="employees.map(function(employee) {
                                    return {text: `${employee.first_name } ${employee.last_name}`, value: employee.id}
                                })"
                                v-model="formData.employee_id"
                                label="Product Leader*"
                                :error-messages="validation.employee_id"

                            >
                            </v-select>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions class="dialog-action">
                    <v-spacer></v-spacer>
                    <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                    <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                           :disabled="$store.getters.buttonLoader">Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
    export default {
        data() {
            return {
                dialog: false,
                formData: {},
                validation: {},
                title: 'Edit Work Details',
                categories: [],
                products: [],
                employees: [],
                categoryId: null,
                contracts: [],
                units: []
            }
        },
        created() {
            this.$bus.$on('edit-project-detail', data => {
                this.validation = {};
                this.formData = {};
                this.$store.dispatch('getAllCategories', {page: 1, search: ''}).then((res) => {
                    this.categories = res.data;
                    this.$store.dispatch('getAllEmployees', {page: 1, search: '', type:'active'}).then((response) => {
                        this.employees = response.data;
                        this.dialog = true;
                    });
                });
                this.$store.dispatch('getAllContracts').then((res) => {
                    this.contracts = res;
                });
                this.$store.dispatch('getAllUnits').then((res) => {
                    this.units = res;
                });
                this.categoryId = data.category.id;
                this.formData.project_id = data.project_id;
                this.formData.category_id = data.category.id;
                this.formData.product_id = data.product.id;
                this.formData.employee_id = data.employee.id;
                this.formData.quantity = data.quantity;
                this.formData.approved_rate = data.approved_rate;
                this.formData.contract_id = data.contract_id;
                this.formData.unit_id = data.unit_id;
                this.formData.id = data.id;
                this.dialog = true;
            })
        },
        watch: {
            'formData.category_id': {
                immediate: true,
                handler(val) {
                    if (val) {
                        this.$store.dispatch('getCategoryProducts', {category_id: val}).then((res) => {
                            this.products = res;
                        })
                        return;
                    }
                    this.products = [];
                }
            }
        },
        methods: {
            submit() {
                this.$store.dispatch('addProjectDetail', this.formData).then((res)=> {
                    this.dialog = false;
                    this.$bus.$emit('refresh-project-detail-list');
                }).catch(err => {
                    this.validation = this.$store.getters.validation;
                });

            }
        }
    }
</script>
