<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent scrollable max-width="1300px">
            <v-card>
                <v-card-title>
                    <span>{{title}}</span>
                </v-card-title>
                <v-card-text style="margin-top: 30px;">
                    <v-row class="dialog-form-wrapper" style="margin-left: 30px;">
                            <v-select
                                :items="categories.map(function(category) {
                                    return {text: category.name, value: category.id}
                                })"
                                v-model="formData.category_id"
                                label="Select Category*"
                                :error-messages="validation.category_id"
                                class="project__detail__fields"
                            ></v-select>
                            <v-select
                                :items="products.map(function(product) {
                                    return {text: product.name, value: product.id}
                                })"
                                v-model="formData.product_id"
                                label="Select Product*"
                                :error-messages="validation.product_id"
                                class="project__detail__fields"
                            >
                            </v-select>
                            <v-text-field
                                label="Estimated Quantity"
                                type="number"
                                v-model="formData.quantity"
                                :error-messages="validation.quantity"
                                class="project__detail__fields"
                            >
                            </v-text-field>
                            <v-text-field
                                label="Approved Rate"
                                type="number"
                                v-model="formData.approved_rate"
                                :error-messages="validation.approved_rate"
                                class="project__detail__fields"
                            >
                            </v-text-field>
                            <v-select
                                :items="contracts.map(function(contract) {
                                    return {text: `${contract.contract_type}  (${contract.name})`, value: contract.id}
                                })"
                                v-model="formData.contract_id"
                                label="Contract Type*"
                                :error-messages="validation.contract_id"
                                class="project__detail__fields"
                            >
                            </v-select>
<!--                            <v-select-->
<!--                                :items="units.map(function(unit) {-->
<!--                                    return {text: unit.code, value: unit.id}-->
<!--                                })"-->
<!--                                v-model="formData.unit_id"-->
<!--                                label="Unit*"-->
<!--                                :error-messages="validation.unit_id"-->
<!--                                class="project__detail__fields"-->
<!--                            >-->
<!--                            </v-select>-->
                            <v-select
                                :items="employees.map(function(employee) {
                                    return {text: `${employee.first_name } ${employee.last_name}`, value: employee.id}
                                })"
                                v-model="formData.employee_id"
                                label="Product Leader*"
                                :error-messages="validation.employee_id"
                                class="project__detail__fields"
                            >
                            </v-select>
                    </v-row>
                    <v-row class="dialog-form-wrapper" style="margin-left: 30px;">
                        <v-select
                            :items="categories.map(function(category) {
                                    return {text: category.name, value: category.id}
                                })"
                            v-model="formData1.category_id"
                            label="Select Category*"
                            :error-messages="validation1.category_id"
                            class="project__detail__fields"
                        ></v-select>
                        <v-select
                            :items="products1.map(function(product) {
                                    return {text: product.name, value: product.id}
                                })"
                            v-model="formData1.product_id"
                            label="Select Product*"
                            :error-messages="validation1.product_id"
                            class="project__detail__fields"
                        >
                        </v-select>
                        <v-text-field
                            label="Estimated Quantity"
                            type="number"
                            v-model="formData1.quantity"
                            :error-messages="validation1.quantity"
                            class="project__detail__fields"
                        >
                        </v-text-field>
                        <v-text-field
                            label="Approved Rate"
                            type="number"
                            v-model="formData1.approved_rate"
                            :error-messages="validation1.approved_rate"
                            class="project__detail__fields"
                        >
                        </v-text-field>
                        <v-select
                            :items="contracts.map(function(contract) {
                                    return {text: `${contract.contract_type}  (${contract.name})`, value: contract.id}
                                })"
                            v-model="formData1.contract_id"
                            label="Contract Type*"
                            :error-messages="validation1.contract_id"
                            class="project__detail__fields"
                        >
                        </v-select>
<!--                        <v-select-->
<!--                            :items="units.map(function(unit) {-->
<!--                                    return {text: unit.code, value: unit.id}-->
<!--                                })"-->
<!--                            v-model="formData1.unit_id"-->
<!--                            label="Unit*"-->
<!--                            :error-messages="validation1.unit_id"-->
<!--                            class="project__detail__fields"-->
<!--                        >-->
<!--                        </v-select>-->
                        <v-select
                            :items="employees.map(function(employee) {
                                    return {text: `${employee.first_name } ${employee.last_name}`, value: employee.id}
                                })"
                            v-model="formData1.employee_id"
                            label="Product Leader*"
                            :error-messages="validation1.employee_id"
                            class="project__detail__fields"
                        >
                        </v-select>
                    </v-row>
                    <v-row class="dialog-form-wrapper" style="margin-left: 30px;">
                        <v-select
                            :items="categories.map(function(category) {
                                    return {text: category.name, value: category.id}
                                })"
                            v-model="formData2.category_id"
                            label="Select Category*"
                            :error-messages="validation2.category_id"
                            class="project__detail__fields"
                        ></v-select>
                        <v-select
                            :items="products2.map(function(product) {
                                    return {text: product.name, value: product.id}
                                })"
                            v-model="formData2.product_id"
                            label="Select Product*"
                            :error-messages="validation2.product_id"
                            class="project__detail__fields"
                        >
                        </v-select>
                        <v-text-field
                            label="Estimated Quantity"
                            type="number"
                            v-model="formData2.quantity"
                            :error-messages="validation2.quantity"
                            class="project__detail__fields"
                        >
                        </v-text-field>
                        <v-text-field
                            label="Approved Rate"
                            type="number"
                            v-model="formData2.approved_rate"
                            :error-messages="validation2.approved_rate"
                            class="project__detail__fields"
                        >
                        </v-text-field>
                        <v-select
                            :items="contracts.map(function(contract) {
                                    return {text: `${contract.contract_type}  (${contract.name})`, value: contract.id}
                                })"
                            v-model="formData2.contract_id"
                            label="Contract Type*"
                            :error-messages="validation2.contract_id"
                            class="project__detail__fields"
                        >
                        </v-select>
<!--                        <v-select-->
<!--                            :items="units.map(function(unit) {-->
<!--                                    return {text: unit.code, value: unit.id}-->
<!--                                })"-->
<!--                            v-model="formData2.unit_id"-->
<!--                            label="Unit*"-->
<!--                            :error-messages="validation2.unit_id"-->
<!--                            class="project__detail__fields"-->
<!--                        >-->
<!--                        </v-select>-->
                        <v-select
                            :items="employees.map(function(employee) {
                                    return {text: `${employee.first_name } ${employee.last_name}`, value: employee.id}
                                })"
                            v-model="formData2.employee_id"
                            label="Product Leader*"
                            :error-messages="validation2.employee_id"
                            class="project__detail__fields"
                        >
                        </v-select>
                    </v-row>
                    <v-row class="dialog-form-wrapper" style="margin-left: 30px;">
                        <v-select
                            :items="categories.map(function(category) {
                                    return {text: category.name, value: category.id}
                                })"
                            v-model="formData3.category_id"
                            label="Select Category*"
                            :error-messages="validation3.category_id"
                            class="project__detail__fields"
                        ></v-select>
                        <v-select
                            :items="products3.map(function(product) {
                                    return {text: product.name, value: product.id}
                                })"
                            v-model="formData3.product_id"
                            label="Select Product*"
                            :error-messages="validation3.product_id"
                            class="project__detail__fields"
                        >
                        </v-select>
                        <v-text-field
                            label="Estimated Quantity"
                            type="number"
                            v-model="formData3.quantity"
                            :error-messages="validation3.quantity"
                            class="project__detail__fields"
                        >
                        </v-text-field>
                        <v-text-field
                            label="Approved Rate"
                            type="number"
                            v-model="formData3.approved_rate"
                            :error-messages="validation3.approved_rate"
                            class="project__detail__fields"
                        >
                        </v-text-field>
                        <v-select
                            :items="contracts.map(function(contract) {
                                    return {text: `${contract.contract_type}  (${contract.name})`, value: contract.id}
                                })"
                            v-model="formData3.contract_id"
                            label="Contract Type*"
                            :error-messages="validation3.contract_id"
                            class="project__detail__fields"
                        >
                        </v-select>
<!--                        <v-select-->
<!--                            :items="units.map(function(unit) {-->
<!--                                    return {text: unit.code, value: unit.id}-->
<!--                                })"-->
<!--                            v-model="formData3.unit_id"-->
<!--                            label="Unit*"-->
<!--                            :error-messages="validation3.unit_id"-->
<!--                            class="project__detail__fields"-->
<!--                        >-->
<!--                        </v-select>-->
                        <v-select
                            :items="employees.map(function(employee) {
                                    return {text: `${employee.first_name } ${employee.last_name}`, value: employee.id}
                                })"
                            v-model="formData3.employee_id"
                            label="Product Leader*"
                            :error-messages="validation3.employee_id"
                            class="project__detail__fields"
                        >
                        </v-select>
                    </v-row>
                    <v-row class="dialog-form-wrapper" style="margin-left: 30px;">
                        <v-select
                            :items="categories.map(function(category) {
                                    return {text: category.name, value: category.id}
                                })"
                            v-model="formData4.category_id"
                            label="Select Category*"
                            :error-messages="validation4.category_id"
                            class="project__detail__fields"
                        ></v-select>
                        <v-select
                            :items="products4.map(function(product) {
                                    return {text: product.name, value: product.id}
                                })"
                            v-model="formData4.product_id"
                            label="Select Product*"
                            :error-messages="validation4.product_id"
                            class="project__detail__fields"
                        >
                        </v-select>
                        <v-text-field
                            label="Estimated Quantity"
                            type="number"
                            v-model="formData4.quantity"
                            :error-messages="validation4.quantity"
                            class="project__detail__fields"
                        >
                        </v-text-field>
                        <v-text-field
                            label="Approved Rate"
                            type="number"
                            v-model="formData4.approved_rate"
                            :error-messages="validation4.approved_rate"
                            class="project__detail__fields"
                        >
                        </v-text-field>
                        <v-select
                            :items="contracts.map(function(contract) {
                                    return {text: `${contract.contract_type}  (${contract.name})`, value: contract.id}
                                })"
                            v-model="formData4.contract_id"
                            label="Contract Type*"
                            :error-messages="validation4.contract_id"
                            class="project__detail__fields"
                        >
                        </v-select>
<!--                        <v-select-->
<!--                            :items="units.map(function(unit) {-->
<!--                                    return {text: unit.code, value: unit.id}-->
<!--                                })"-->
<!--                            v-model="formData4.unit_id"-->
<!--                            label="Unit*"-->
<!--                            :error-messages="validation4.unit_id"-->
<!--                            class="project__detail__fields"-->
<!--                        >-->
<!--                        </v-select>-->
                        <v-select
                            :items="employees.map(function(employee) {
                                    return {text: `${employee.first_name } ${employee.last_name}`, value: employee.id}
                                })"
                            v-model="formData4.employee_id"
                            label="Product Leader*"
                            :error-messages="validation4.employee_id"
                            class="project__detail__fields"
                        >
                        </v-select>
                    </v-row>
                </v-card-text>
                <v-card-actions class="dialog-action">
                    <v-spacer></v-spacer>
                    <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                    <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                           :disabled="$store.getters.buttonLoader">Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
    export default {
        data: () => ({
            dialog: false,
            formData: {},
            formData1:{},
            formData2:{},
            formData3:{},
            formData4:{},
            validation: {},
            validation1: {},
            validation2: {},
            validation3: {},
            validation4: {},
            title: 'Add Work Details',
            categories: [],
            products: [],
            products1: [],
            products2: [],
            products3: [],
            products4: [],
            employees: [],
            categoryId: null,
            contracts: [],
            units:[]

        }),
        created() {
            this.$bus.$on('add-project-detail', data => {
                this.validation = {};
                this.validation1 = {};
                this.validation2 = {};
                this.validation3 = {};
                this.validation4 = {};
                this.formData = {};
                this.formData1 = {};
                this.formData2 = {};
                this.formData3 = {};
                this.formData4 = {};

                this.categories = [];
                this.title = 'Add Detail';
                this.categoryId = null;
                this.$store.dispatch('getAllCategories', {page: 1, search: ''}).then((res) => {
                    this.categories = res.data;
                        this.$store.dispatch('getAllEmployees', {page: 1, search: '', type:'active'}).then((response) => {
                            this.employees = response.data;
                            this.dialog = true;
                        });
                });
                this.$store.dispatch('getAllContracts').then((res) => {
                    this.contracts = res;
                });
                this.$store.dispatch('getAllUnits').then((res) => {
                    this.units = res;
                });
                // if (data) {
                //     this.categoryId = data.category.id;
                //     this.formData.category_id = data.category.id;
                //     this.formData.product_id = data.product.id;
                //     this.formData.employee_id = data.employee.id;
                //     this.formData.quantity = data.quantity;
                //     this.formData.approved_rate = data.approved_rate;
                //     // this.formData.contract_type = data.contract_type;
                //     this.formData.contract_id = data.contract_id;
                //     this.formData.unit_id = data.unit_id;
                //     this.formData.id = data.id;
                //     this.title = "Edit Detail";
                // }
                this.dialog = true;

            })
        },
        watch: {
            'formData.category_id': {
                immediate: true,
                handler(val){
                    if(val) {
                        this.$store.dispatch('getCategoryProducts', {category_id: val}).then((res) => {
                            this.products = res;
                        })
                        return;
                    }
                    this.products = [];
                }
            },
            'formData1.category_id': {
                immediate: true,
                handler(val){
                    if(val) {
                        this.$store.dispatch('getCategoryProducts', {category_id: val}).then((res) => {
                            this.products1 = res;
                        })
                        return;
                    }
                    this.products1 = [];
                }
            },
            'formData2.category_id': {
                immediate: true,
                handler(val){
                    if(val) {
                        this.$store.dispatch('getCategoryProducts', {category_id: val}).then((res) => {
                            this.products2 = res;
                        })
                        return;
                    }
                    this.products2 = [];
                }
            },
            'formData3.category_id': {
                immediate: true,
                handler(val){
                    if(val) {
                        this.$store.dispatch('getCategoryProducts', {category_id: val}).then((res) => {
                            this.products3 = res;
                        })
                        return;
                    }
                    this.products3 = [];
                }
            },
            'formData4.category_id': {
                immediate: true,
                handler(val){
                    if(val) {
                        this.$store.dispatch('getCategoryProducts', {category_id: val}).then((res) => {
                            this.products4 = res;
                        })
                        return;
                    }
                    this.products4 = [];
                }
            }
        },
        methods: {
            submit() {
                if(this.formData) {
                    this.formData.project_id  = this.$route.params.project_id;
                    this.$store.dispatch('addProjectDetail', this.formData).catch(err => {
                        this.validation = this.$store.getters.validation;
                    })
                }
                if(this.formData1) {
                    this.formData1.project_id  = this.$route.params.project_id;
                    this.$store.dispatch('addProjectDetail', this.formData1).catch(err => {
                        this.validation1 = this.$store.getters.validation;
                    })
                }
                if(this.formData2) {
                    this.formData2.project_id  = this.$route.params.project_id;
                    this.$store.dispatch('addProjectDetail', this.formData2).catch(err => {
                        this.validation2 = this.$store.getters.validation;
                    })
                }
                if(this.formData3) {
                    this.formData3.project_id  = this.$route.params.project_id;
                    this.$store.dispatch('addProjectDetail', this.formData3).catch(err => {
                        this.validation3 = this.$store.getters.validation;
                    })
                }
                if(this.formData4) {
                    this.formData4.project_id  = this.$route.params.project_id;
                    this.$store.dispatch('addProjectDetail', this.formData4).catch(err => {
                        this.validation4 = this.$store.getters.validation;
                    })
                }
                this.dialog = false;
                this.$bus.$emit('refresh-project-detail-list');
                // this.formData.project_id = this.$route.params.project_id;
                // this.$store.dispatch('addProjectDetail', this.formData).then((res) => {
                //     this.dialog = false;
                //     this.$bus.$emit('refresh-project-detail-list');
                // }).catch((err) => {
                //     this.validation = this.$store.getters.validation
                // })
            },
        }
    }
</script>
<style>
    .project__detail__fields{
        max-width:150px !important;
        margin-right:20px !important;
    }
</style>
