<template>
    <v-data-table
        :headers="headers"
        :items="manufactures"
        class="elevation-1"
        :loading="loading"
        loading-text="Loading... Please wait"
    >
        <template slot="item" slot-scope="props">
            <tr>
                <td>{{props.item.name}}</td>
                <td>{{props.item.code}}</td>
                <td>{{props.item.country}}</td>
                <td>
                    <v-icon small class="action-button" @click="editManufacture(props.item)">mdi-pencil</v-icon>
                    <v-icon small class="action-button" @click="deleteManufacture(props.item.id)">mdi-delete</v-icon>
                </td>
            </tr>
        </template>
    </v-data-table>
</template>
<script>
    export default {
        data() {
            return {
                headers: [
                    {text: 'Manufacture Name', align: 'left', sortable: false, value: 'name'},
                    {text: 'Manufacture Code', align: 'left', sortable: false, value: 'code'},
                    {text: 'Manufacture Country', align: 'left', sortable: false, value: 'country'},
                    {text: 'Actions', align: 'left', sortable: false, value: 'action'},
                ],
                manufactures: [],
                loading: true,
            }
        },
        created() {
            this.$bus.$on('refresh-manufacture-list', () => {
                this.loading = true;
                this.getManufactures();
            })
        },
        destroyed() {
            this.$bus.$off('refresh-manufacture-list');
        },
        mounted() {
            this.getManufactures();
        },
        methods: {
            getManufactures() {
                this.loading = true;
                this.$store.dispatch('getAllManufactures').then((res) => {
                    this.manufactures = res;
                });
                this.loading = false;
            },
            editManufacture(item) {
                this.$bus.$emit('add-manufacture', item);
            },
            deleteManufacture(id) {
                let r = confirm('Are you sure want to delete?');
                if (r) {
                    this.$store.dispatch('deleteManufacture', id).then(() => {
                        this.$bus.$emit('refresh-manufacture-list');
                    });
                }
            }
        }
    }
</script>
