<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent scrollable max-width="800px">
            <v-card >
                <v-card-title>
                    <span>{{title}}</span>
                </v-card-title>
                <v-card-text style="margin-top: 20px;">
                    <v-row class="dialog-form-wrapper" style="margin-top:20px;">
                            <div style="display:flex;flex-direction:column;">
                                <label>Select Shade Card *</label>
                                <select v-model="formData.shade_id" class="form-control"  style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;height:33px;width:320px;margin-right:80px;"
                                >
                                    <option v-for="(shadeCard, index) in shadeCards" :key="index"
                                            :value="shadeCard.id">{{ shadeCard.manufacture.code }} {{ shadeCard.name }}
                                    </option>
                                </select>
                                <span v-if="validation.shade_id" style="color:red;"> {{validation.shade_id}}</span>
                            </div>
                            <v-text-field
                                label="Page No *"
                                type="number"
                                v-model="formData.page_no"
                                :error-messages="validation.page_no"
                                style="margin-right:50px;"
                            >
                            </v-text-field>
                    </v-row>
                    <v-row class="dialog-form-wrapper" style="margin-top:20px;" v-if="isEdit">
                        <div style="display:flex;flex-direction:column;">
                            <v-text-field
                                label="Shade Name *"
                                v-model="formData.shade_name"
                                style="width:320px;margin-right:80px;"
                                :error-messages="validation.shade_name">
                            </v-text-field>
                        </div>
                        <v-text-field
                            label="Shade Code *"
                            v-model="formData.shade_code"
                            :error-messages="validation.shade_code"
                            @keydown.enter="addNewRow()"
                            style="margin-right:50px;"
                        >
                        </v-text-field>
                    </v-row>
                    <v-row class="dialog-form-wrapper" style="display: flex;" v-if="!isEdit">
                        <table>
                            <tr>
                                <td>Shade Name</td>
                                <td>Shade Code</td>
                            </tr>
                            <tr v-for="(tableData, index) in tableDatas" :key="index">
                                <td style="padding:0 8px;">
                                    <v-text-field
                                        label="Shade Name *"
                                        v-model="tableData.shade_name"
                                        :error-messages="validation.shade_name">
                                    </v-text-field>
                                </td>
                                <td style="padding:0 8px;">
                                    <v-text-field
                                        label="Shade Code *"
                                        v-model="tableData.shade_code"
                                        :error-messages="validation.shade_code"
                                        @keydown.enter="addNewRow()"
                                    >
                                    </v-text-field>
                                </td>
                                <span style="cursor:pointer;display: flex;align-items: center;justify-content:
                            flex-start;font-size: 30px;margin-right: 5px;margin-left:5px;margin-top:25px;"
                                      @click="deleteNewRow(index)" v-if="index > 0">x</span>
                            </tr>
                        </table>
                    </v-row>
                </v-card-text>
                <v-card-actions class="dialog-action">
                    <v-spacer></v-spacer>
                    <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                    <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                           :disabled="$store.getters.buttonLoader">Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
    export default {
        data: () => ({
            dialog: false,
            formData: {},
            validation: {},
            title: 'Add Shade Palette',
            shadeCards: [],
            tableDatas: [
                {
                    shade_name: '',
                    shade_code: ''
                },
                {
                    shade_name: '',
                    shade_code: ''
                }
            ],
            isEdit: false,
        }),
        created() {
            this.$bus.$on('add-shade-palette', data => {
                this.validation = {};
                this.formData = {};
                this.title = 'Add Shade Palette';
                this.isEdit = false;
                this.tableDatas = [
                    {
                        shade_name: '',
                        shade_code: ''
                    },
                    {
                        shade_name: '',
                        shade_code: ''
                    }
                ];
                this.$store.dispatch('getAllShades').then((res) => {
                    this.shadeCards = res;
                });
                if (data) {
                    this.formData = data;
                    this.title = "Edit Shade Palette";
                    this.isEdit = true;
                }
                this.dialog = true;
            })
        },
        methods: {
            addNewRow() {
                this.tableDatas.push({
                    shade_name: '',
                    shade_code: '',
                });
            },
            deleteNewRow(index) {
                this.tableDatas.splice(index, 1);
            },
            submit() {
                this.validation = {};
                if (!this.formData.shade_id) {
                    this.validation.shade_id = "Shade Card is required"
                }
                if (!this.formData.page_no) {
                    this.validation.page_no = "Page no  is required"
                }
                if(!this.isEdit) {
                    this.tableDatas.map(data => {
                        if(!data.shade_name){
                            this.validation.shade_name = "Shade Name is required"
                        }
                        if(!data.shade_code) {
                            this.validation.shade_code = "Shade Code is required"
                        }
                    });
                }else {
                    if (!this.formData.shade_name) {
                        this.validation.shade_name = "Shade Name is required"
                    }
                    if (!this.formData.shade_code) {
                        this.validation.shade_code = "Shade Code is required"
                    }
                }

                if (Object.keys(this.validation).length > 0) {
                    return false;
                }

                if(!this.isEdit) {
                    let data = {};
                    data.formData = this.formData;
                    data.tableDatas = this.tableDatas;
                    this.$store.dispatch('addShadePalette', data).then((res) => {
                        this.dialog = false;
                        this.$bus.$emit('refresh-shade-palette-list');
                    }).catch((err) => {
                        this.validation = this.$store.getters.validation
                    })
                }else {
                    this.$store.dispatch('addShadePalette', this.formData).then((res) => {
                        this.dialog = false;
                        this.$bus.$emit('refresh-shade-palette-list');
                    }).catch((err) => {
                        this.validation = this.$store.getters.validation
                    })
                }
            },
        }
    }
</script>
<style scoped>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 2px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>
