<template>
    <v-data-table
        :headers="headers"
        :items="shadePalettes"
        class="elevation-1"
        :loading="loading"
        loading-text="Loading... Please wait"
    >
        <template slot="item" slot-scope="props">
            <tr>
                <td v-if="props.item.shade_card">{{props.item.shade_card.manufacture.code}} {{props.item.shade_card.name}}</td>
                <td>{{props.item.shade_name}}</td>
                <td>{{props.item.shade_code}}</td>
                <td>{{props.item.page_no}}</td>
                <td>
                    <v-icon small class="action-button" @click="editShadePalette(props.item)">mdi-pencil</v-icon>
                    <v-icon small class="action-button" @click="deleteShadePalette(props.item.id)">mdi-delete</v-icon>
                </td>
            </tr>
        </template>
    </v-data-table>
</template>
<script>
    export default {
        data() {
            return {
                headers: [
                    {text: 'Shade Card', align: 'left', sortable: false, value: 'shade_card.name'},
                    {text: 'Shade Name', align: 'left', sortable: false, value: 'shade_name'},
                    {text: 'Shade Code', align: 'left', sortable: false, value: 'shade_code'},
                    {text: 'Page No', align: 'left', sortable: false, value: 'page_no'},
                    {text: 'Actions', align: 'left', sortable: false, value: 'action'},
                ],
                shadePalettes: [],
                loading: true,
            }
        },
        created() {
            this.$bus.$on('refresh-shade-palette-list', () => {
                this.loading = true;
                this.getShadePalettes();
            })
        },
        destroyed() {
            this.$bus.$off('refresh-shade-palette-list');
        },
        mounted() {
            this.getShadePalettes();
        },
        methods: {
            getShadePalettes() {
                this.loading = true;
                this.$store.dispatch('getAllShadePalettes').then((res) => {
                    this.shadePalettes = res;
                });
                this.loading = false;
            },
            editShadePalette(item) {
                this.$bus.$emit('add-shade-palette', item);
            },
            deleteShadePalette(id) {
                let r = confirm('Are you sure want to delete?');
                if (r) {
                    this.$store.dispatch('deleteShadePalette', id).then(() => {
                        this.$bus.$emit('refresh-shade-palette-list');
                    });
                }
            }
        }
    }
</script>
