<template>
    <v-data-table
        :headers="headers"
        :items="packTypes"
        class="elevation-1"
        :loading="loading"
        loading-text="Loading... Please wait"
    >
        <template slot="item" slot-scope="props">
            <tr>
                <td>{{props.item.name}}</td>
                <td>{{props.item.code}}</td>
                <td>
                    <v-icon small class="action-button" @click="editPackType(props.item)">mdi-pencil</v-icon>
                    <v-icon small class="action-button" @click="deletePackType(props.item.id)">mdi-delete</v-icon>
                </td>
            </tr>
        </template>
    </v-data-table>
</template>
<script>
    export default {
        data() {
            return {
                headers: [
                    {text: 'PackType Name', align: 'left', sortable: false, value: 'name'},
                    {text: 'PackType Code', align: 'left', sortable: false, value: 'code'},
                    {text: 'Actions', align: 'left', sortable: false, value: 'action'},
                ],
                packTypes: [],
                loading: true,
            }
        },
        created() {
            this.$bus.$on('refresh-pack-type-list', () => {
                this.loading = true;
                this.getPackTypes();
            })
        },
        destroyed() {
            this.$bus.$off('refresh-pack-type-list');
        },
        mounted() {
            this.getPackTypes();
        },
        methods: {
            getPackTypes() {
                this.loading = true;
                this.$store.dispatch('getAllPackTypes').then((res) => {
                    this.packTypes = res;
                });
                this.loading = false;
            },
            editPackType(item) {
                this.$bus.$emit('add-pack-type', item);
            },
            deletePackType(id) {
                let r = confirm('Are you sure want to delete?');
                if (r) {
                    this.$store.dispatch('deletePackType', id).then(() => {
                        this.$bus.$emit('refresh-pack-type-list');
                    });
                }
            }
        }
    }
</script>
