<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent scrollable max-width="800px">
            <v-card class="dialog-card">
                <v-card-title>
                    <span>{{title}}</span>
                </v-card-title>
                <v-card-text style="padding-top: 30px; padding-bottom:20px !important;">
                    <v-row class="dialog-form-wrapper">
                        <v-col>
                            <v-autocomplete
                                :items="projects"
                                item-text="name"
                                item-value="id"
                                v-model="formData.project_id"
                                label="Select Project *"
                                :error-messages="validation.project_id"
                                attach="true"
                            ></v-autocomplete>
                            <v-select
                                :items="employees.map(function(employee) {
                                    return {text: `${employee.first_name } ${employee.last_name}`, value: employee.id}
                                })"
                                v-model="formData.employee_id"
                                label="Select Employee *"
                                :error-messages="validation.employee_id"
                            ></v-select>
                            <v-text-field type="date" v-model="formData.date" label="Select Date"></v-text-field>
                            <v-text-field type="time" v-model="formData.job_start" label="Select Start Time"></v-text-field>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions class="dialog-action">
                    <v-spacer></v-spacer>
                    <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                    <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                           :disabled="$store.getters.buttonLoader">Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
    export default {
        data() {
            return {
                formData: {},
                validation: {},
                title: 'Edit Attendance',
                employees: [],
                projects: [],
                dialog: false
            }
        },
        created() {
            this.$bus.$on('edit-phase-attendance-form', (data) => {
                if(data) {
                    this.formData.id = data.id;
                    this.formData.project_id = data.project_id;
                    this.formData.employee_id = data.employee_id;
                    this.formData.job_start = data.job_start;
                    this.formData.date = data.date;
                    this.title = 'Edit Attendance';
                    this.$store.dispatch('getAllEmployees', {page: 1, search: '', type: 'active'}).then((res) => {
                        this.employees = res.data;
                    });
                    this.$store.dispatch('getAllProjects', {page: 1, search: '', status: 'OnGoing'}).then((res) => {
                        this.projects = res.data;
                    });
                    console.log(this.formData);
                    this.dialog = true;
                }
            })
        },
        methods: {
            submit() {
                this.$store.dispatch('editPhaseAttendance', this.formData).then((res) => {
                    this.dialog = false;
                    this.$bus.$emit('refresh-today-attendance');
                }).catch((err) => {
                    this.validation = this.$store.getters.validation
                });
            }
        }
    }
</script>
