<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent scrollable max-width="800px">
            <v-card class="dialog-card">
                <v-card-title>
                    <span>{{title}}</span>
                </v-card-title>
                <v-card-text class="dialog-text" style="margin-top: 20px;">
                    <v-row class="dialog-form-wrapper">
                        <v-col cols="12">

                            <v-menu
                                v-model="menu"
                                :close-on-content-click="false"
                                :nudge-right="40"
                                transition="scale-transition"
                                offset-y
                                min-width="auto"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                        v-model="formData.date"
                                        label="Date"
                                        prepend-icon="mdi-calendar"
                                        readonly
                                        v-bind="attrs"
                                        v-on="on"
                                        :error-messages="validation.date"
                                    ></v-text-field>
                                </template>
                                <v-date-picker
                                    v-model="formData.date"
                                    @input="menu = false"
                                ></v-date-picker>
                            </v-menu>
                            <v-select
                                :items="employees.map(function(employee) {
                                    return {text: `${employee.first_name } ${employee.last_name}`, value: employee.id}
                                })"
                                v-model="formData.employee_id"
                                label="Employee"
                                :error-messages="validation.employee_id"
                            >
                            </v-select>
                            <v-menu
                                ref="menu2"
                                v-model="menu2"
                                :close-on-content-click="false"
                                :nudge-right="40"
                                :return-value.sync="formData.job_start"
                                transition="scale-transition"
                                offset-y
                                max-width="290px"
                                min-width="290px"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                        v-model="formData.job_start"
                                        label="Job Start Time"
                                        prepend-icon="mdi-clock-time-four-outline"
                                        readonly
                                        v-bind="attrs"
                                        v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-time-picker
                                    v-if="menu2"
                                    v-model="formData.job_start"
                                    full-width
                                    @click:minute="$refs.menu2.save(formData.job_start)"
                                ></v-time-picker>
                            </v-menu>

                            <v-menu
                                ref="menu3"
                                v-model="menu3"
                                :close-on-content-click="false"
                                :nudge-right="40"
                                :return-value.sync="formData.job_end"
                                transition="scale-transition"
                                offset-y
                                max-width="290px"
                                min-width="290px"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                        v-model="formData.job_end"
                                        label="Job End Time"
                                        prepend-icon="mdi-clock-time-four-outline"
                                        readonly
                                        v-bind="attrs"
                                        v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-time-picker
                                    v-if="menu3"
                                    v-model="formData.job_end"
                                    full-width
                                    @click:minute="$refs.menu3.save(formData.job_end)"
                                ></v-time-picker>
                            </v-menu>

                            <v-select
                                :items="processes.map(function(process) {
                                    return {text: process.name, value: process.id}
                                })"
                                v-model="formData.process_id"
                                label="Select Process"
                                :error-messages="validation.process_id"
                            >
                            </v-select>
                            <v-select
                                :items="stocks.map(function(stock) {
                                    return {text: stock.name, value: stock.id}
                                })"
                                v-model="formData.stock_id"
                                label="Select Stock"
                                :error-messages="validation.stock_id"
                            >
                            </v-select>

                            <v-text-field
                                label="Item Description*"
                                v-model="formData.item_description"
                                :error-messages="validation.item_description">
                            </v-text-field>
                            <v-text-field
                                label="Quantity"
                                v-model="formData.quantity"
                                type="number"
                                :error-messages="validation.quantity">
                            </v-text-field>
                            <v-select
                                :items="equipments.map(function(equipment) {
                                    return {text: equipment.code, value: equipment.id}
                                })"
                                v-model="formData.equipment_id"
                                label="Select Equipment"
                                :error-messages="validation.equipment_id"
                            >
                            </v-select>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions class="dialog-action">
                    <v-spacer></v-spacer>
                    <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                    <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                           :disabled="$store.getters.buttonLoader">Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
    export default {
        data() {
            return {
                menu: false,
                formData: {},
                validation: {},
                employees: [],
                title: 'Add Attendance',
                dialog: false,
                menu2: false,
                menu3: false,
                processes: [],
                stocks: [],
                equipments: []
            }
        },
        created() {
            this.$bus.$on('add-attendance', data => {
                this.validation = {};
                this.title = 'Add Attendance';
                this.$store.dispatch('getAllEmployees', {page: 1, search: '', type: 'active'}).then((res) => {
                    this.employees = res.data;
                });
                this.$store.dispatch('getSingleProjectDetail', this.$route.params.detail_id).then((res) => {
                    this.$store.dispatch('getSingleProduct', res.product_id).then((res) => {
                        this.processes = res.process;
                    });
                });
                this.$store.dispatch('getAllStocks').then((res) => {
                    this.stocks = res;
                });
                this.$store.dispatch('getAllEquipments').then((res) => {
                    this.equipments = res;
                });
                if (data) {
                    this.title = 'Edit Attendance';
                }
                this.dialog = true;
            })
        },
        methods: {
            submit() {
                this.formData.project_work_detail_id = this.$route.params.detail_id;
                this.$store.dispatch('addAttendance', this.formData).then((res) => {
                    this.dialog = false;
                    this.$bus.$emit('refresh-attendance-list');
                }).catch((err) => {
                    this.validation = this.$store.getters.validation
                })
            }
        }

    }
</script>
