<template>
    <v-card>
        <v-card-title style="display: flex; justify-content: space-between; align-items:center;">
            <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                @keydown.enter="searchData()"
                style="max-width:50%;"
            ></v-text-field>
        </v-card-title>
        <v-data-table
            :headers="headers"
            :items="attendances"
            class="elevation-1"
            :loading="loading"
            loading-text="Loading... Please wait"
        >
            <template slot="item" slot-scope="props">
                <tr>
                    <td>{{props.item.date}}</td>
                    <td>{{props.item.employee.first_name}}</td>
                    <td>{{props.item.job_start}}</td>
                    <td>{{props.item.job_end}}</td>
                    <td v-if="props.item.process">{{props.item.process.name}}</td>
                    <td v-else>N/a</td>
                    <td v-if="props.item.stock">{{props.item.stock.name}}</td>
                    <td v-else>N/a</td>
                    <td v-if="props.item.code">{{props.item.equipment.code}}</td>
                    <td v-else>N/a</td>
                    <td v-if="props.item.description">{{props.item.item_description}}</td>
                    <td v-else>N/a</td>
                    <td v-if="props.item.quantity">{{props.item.quantity}}</td>
                    <td v-else>N/a</td>
                    <td >{{props.item.process_start_time}}</td>
                    <td>{{props.item.process_end_time}}</td>
                </tr>
            </template>
        </v-data-table>
    </v-card>
</template>
<script>
    export default {
        data() {
            return {
                headers: [
                    {text: 'Date', align: 'left', sortable:false, value:'date'},
                    {text: 'Employee', align: 'left', sortable: false, value: 'employee.first_name'},
                    {text: 'Job Start Time', align: 'left', sortable: false, value: 'job_start'},
                    {text: 'Job End Time', align: 'left', sortable: false, value: 'job_end'},
                    {text: 'Process', align: 'left', sortable: false, value: 'process_name'},
                    {text: 'Stock', align: 'left', sortable: false, value: 'stock.name'},
                    {text: 'Equipment', align: 'left', sortable: false, value: 'equipment.code'},
                    {text: 'Description', align: 'left', sortable: false, value: 'item_description'},
                    {text: 'Quantity', align: 'left', sortable: false, value: 'quantity'},
                    {text: 'Process Start Time', align: 'left', sortable: false, value: 'process_start_time'},
                    {text: 'Process End Time', align: 'left', sortable: false, value: 'process_end_time'},
                ],
                attendances: [],
                loading: true,
                search: '',
            }
        },
        created() {
            this.$bus.$on('refresh-attendance-list', () => {
                this.loading = true;
                this.getAttendanceLists();
            })
        },
        destroyed() {
            this.$bus.$off('refresh-attendance-list');
        },
        mounted() {
            this.getAttendanceLists();
        },
        methods: {
            getAttendanceLists() {
                this.loading = true;
                this.$store.dispatch('getAllAttendance', this.$route.params.detail_id).then((res) => {
                    this.attendances = res;
                    this.loading = false;
                })
            }
        }
    }
</script>
