<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent scrollable max-width="400px">
            <v-card class="dialog-card">
                <v-card-title>
                    <span>{{title}}</span>
                </v-card-title>
                <v-card-text style="padding-top: 30px; padding-bottom:20px !important;">
                    <v-row class="dialog-form-wrapper">
                        <v-col>
                            <v-text-field type="time" v-model="formData.job_end" label="Select End Time"></v-text-field>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions class="dialog-action">
                    <v-spacer></v-spacer>
                    <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                    <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                           :disabled="$store.getters.buttonLoader">Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
    export default {
        data() {
            return {
                formData: {},
                validation: {},
                title: 'Add Job End Time',
                dialog: false
            }
        },
        created() {
            this.$bus.$on('attendance-job-end-form', (data) => {
                if(data) {
                    this.formData.id = data.id;
                    this.title = 'Add Job End Time';
                    this.dialog = true;
                }
            })
        },
        methods: {
            submit() {
                this.$store.dispatch('addPhaseAttendanceJobEnd', this.formData).then((res) => {
                    this.dialog = false;
                    this.$bus.$emit('refresh-today-attendance');
                }).catch((err) => {
                    this.validation = this.$store.getters.validation
                });
            }
        }
    }
</script>
