<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent scrollable max-width="900px">
            <v-card class="dialog-card">
                <!--                <ValidationObserver ref="form">-->
                <v-card-title>
                    <span>{{ title }}</span>
                </v-card-title>
                <v-card-text style="padding-top: 30px; padding-bottom:20px !important;">
                    <v-row>
                        <v-select
                            :items="projects.map(function(project) {
                                    return {text: project.name , value: project.id}
                                })"
                            v-model="project_id"
                            label="Select Project *"
                            :error-messages="validation.project_id"
                            style="margin-right:30px;margin-left: 30px;width:130px;"
                        >
                        </v-select>
                        <v-text-field type="date" v-model="date" label="Select Date"
                                      style="margin-right:30px;width:130px;"></v-text-field>
                    </v-row>

                    <v-row class="dialog-form-wrapper" v-for="(formData, index) in formDatas" :key="index"
                           style="display:flex;">

                        <!--                            <ValidationProvider name="Employee" rules="required" v-slot="{ errors }">-->
                        <v-select
                            :items="employees.map(function(employee) {
                                    return {text: `${employee.first_name } ${employee.last_name}`, value: employee.id}
                                })"
                            v-model="formData.employee_id"
                            label="Select Employee"
                            :error-messages="validation.employee_id"
                            style="margin-right:30px;margin-left: 30px;width:130px;"
                        >
                            <!--                                    <span>{{ errors[0] }}</span>-->
                        </v-select>
                        <!--                            </ValidationProvider>-->

                        <v-text-field type="time" v-model="formData.job_start" label="Select Start Time"
                                      @keydown.enter="addNewRow" style="margin-right:10px;width:100px;">
                        </v-text-field>

                        <span style="cursor:pointer;display: flex;align-items: center;justify-content:
                            flex-start;font-size: 19px;margin-right: 5px;"
                              @click="deleteNewRow(index)" v-if="index > 0">x</span>
                    </v-row>
                </v-card-text>
                <v-card-actions class="dialog-action">
                    <v-spacer></v-spacer>
                    <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                    <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                           :disabled="$store.getters.buttonLoader">Save
                    </v-btn>
                </v-card-actions>
                <!--                </ValidationObserver>-->

            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
    export default {
        data() {
            return {
                menu: false,
                menu2: false,
                formDatas: [
                    {
                        employee_id: '',
                        job_start: ''
                    }
                ],
                title: 'Add Attendance',
                dialog: false,
                employees: [],
                projects: [],
                validation: {},
                project_id: '',
                date: this.getTodaysDate(),
            }
        },
        computed: {

        },
        created() {
            this.$bus.$on('phase-attendance-form', (data) => {
                this.date = this.getTodaysDate();
                this.project_id = '';
                this.formDatas = [
                    {
                        employee_id: '',
                        job_start: ''
                    },
                    {
                        employee_id: '',
                        job_start: ''
                    }
                ];
                this.title = 'Add Attendance';
                this.$store.dispatch('getAllEmployees', {page: 1, search: '', type: 'active'}).then((res) => {
                    this.employees = res.data;
                });
                this.$store.dispatch('getAllProjects', {page: 1, search: '', status: 'OnGoing'}).then((res) => {
                    this.projects = res.data;
                });
                this.dialog = true;

            })
        },
        methods: {
            getTodaysDate() {
                let now = new Date();
                let month = (now.getMonth() + 1);
                let day = now.getDate();
                if (month < 10)
                    month = "0" + month;
                if (day < 10)
                    day = "0" + day;
                return now.getFullYear() + '-' + month + '-' + day;
            },
            addNewRow() {
                this.formDatas.push({
                    date: this.getTodaysDate(),
                    employee_id: '',
                    job_start: ''
                })
            },
            deleteNewRow(index) {
                this.formDatas.splice(index, 1);
            },
            submit() {
                // this.$refs.form.validate().then(success => {
                //     if (success) {
                        this.formDatas = this.formDatas.map(v => ({...v, project_id: this.project_id, date: this.date}));
                        this.$store.dispatch('addPhaseAttendance', this.formDatas).then((res) => {
                            this.dialog = false;
                            this.$bus.$emit('refresh-today-attendance');
                        }).catch((err) => {
                            this.validation = this.$store.getters.validation
                        });
                    // }
                    // this.$nextTick(() => {
                    //     this.$refs.form.reset();
                    // });
            //     });
            }
        }
    }
</script>
