<template>
    <v-data-table
        :headers="headers"
        :items="contracts"
        class="elevation-1"
        :loading="loading"
        loading-text="Loading... Please wait"
    >
        <template slot="item" slot-scope="props">
            <tr>
                <td>{{props.item.contract_type}}</td>
                <td>{{props.item.name}}</td>
                <td>{{props.item.code}}</td>
                <td>
                    <v-icon small class="action-button" @click="editContract(props.item)">mdi-pencil</v-icon>
                    <v-icon small class="action-button" @click="deleteContract(props.item.id)">mdi-delete</v-icon>
                </td>
            </tr>
        </template>
    </v-data-table>
</template>
<script>
    export default {
        data() {
            return {
                headers: [
                    {text: 'Contract Type', align: 'left', sortable: false, value: 'contract_type'},
                    {text: 'Name', align: 'left', sortable: false, value: 'name'},
                    {text: 'Code', align: 'left', sortable: false, value: 'code'},
                    {text: 'Actions', align: 'left', sortable: false, value: 'action'},
                ],
                contracts: [],
                loading: true,
            }
        },
        created() {
            this.$bus.$on('refresh-contract-list', () => {
                this.loading = true;
                this.getContracts();
            })
        },
        destroyed() {
            this.$bus.$off('refresh-contract-list');
        },
        mounted() {
            this.getContracts();
        },
        methods: {
            getContracts() {
                this.loading = true;
                this.$store.dispatch('getAllContracts').then((res) => {
                    this.contracts = res;
                });
                this.loading = false;
            },
            editContract(item) {
                this.$bus.$emit('add-contract', item);
            },
            deleteContract(id) {
                let r = confirm('Are you sure want to delete?');
                if (r) {
                    this.$store.dispatch('deleteContract', id).then(() => {
                        this.$bus.$emit('refresh-contract-list');
                    });
                }
            }
        }
    }
</script>
