<template>
    <v-data-table
        :headers="headers"
        :items="projectDetails"
        class="elevation-1"
        :loading="loading"
        loading-text="Loading... Please wait"
    >
        <template slot="item" slot-scope="props">
            <tr>
                <td style="text-decoration: underline;cursor:pointer;color:blue;" @click="viewAttendance(props.item)">{{props.item.category.name}}</td>
                <td>{{props.item.product.name}}</td>
                <td>{{props.item.quantity}}</td>
                <td>{{props.item.approved_rate}}</td>
                <td v-if="props.item.contract">{{props.item.contract.code}}</td>
                <td v-else>N/a</td>
                <td v-if="props.item.product.units">{{props.item.product.units.code}}</td>
                <td v-else>N/a</td>
                <td>{{props.item.employee.first_name + props.item.employee.last_name}}</td>
                <td>
                    <v-icon small class="action-button" @click="editProjectDetail(props.item)">mdi-pencil</v-icon>
                    <v-icon small class="action-button" @click="deleteProjectDetail(props.item.id)">mdi-delete</v-icon>
                </td>
            </tr>
        </template>
    </v-data-table>
</template>
<script>
    export default {
        data() {
            return {
                headers: [
                    {text: 'Category', align: 'left', sortable: false, value: 'category.name'},
                    {text: 'Product', align: 'left', sortable: false, value: 'product.name'},
                    {text: 'Estimated Quantity', align: 'left', sortable: false, value: 'quantity'},
                    {text: 'Approved Rate', align: 'left', sortable: false, value: 'approved_rate'},
                    {text: 'Contract', align: 'left', sortable: false, value: 'contract.contract_type'},
                    {text: 'Unit', align: 'left', sortable: false, value: 'unit.name'},
                    {text: 'Product Leader', align: 'left', sortable: false, value: 'employee'},
                    {text: 'Actions', align: 'left', sortable: false, value: 'action'},
                ],
                projectDetails: [],
                loading: true,
            }
        },
        created() {
            this.$bus.$on('refresh-project-detail-list', () => {
                this.loading = true;
                this.getProjectDetailsLists();
            })
        },
        destroyed() {
            this.$bus.$off('refresh-project-detail-list');
        },
        mounted() {
            this.getProjectDetailsLists();
        },
        methods: {
            viewAttendance(item) {
                this.$router.push(`/attendance/${item.id}`);
            },
            getProjectDetailsLists() {
                this.loading = true;
                this.$store.dispatch('getAllProjectDetails', {project_id: this.$route.params.project_id}).then((res) => {
                    this.projectDetails = res;
                });
                this.loading = false;
            },
            editProjectDetail(item) {
                this.$bus.$emit('edit-project-detail', item);
            },
            deleteProjectDetail(id) {
                let r = confirm('Are you sure want to delete?');
                if (r) {
                    this.$store.dispatch('deleteProjectDetail', id).then(() => {
                        this.$bus.$emit('refresh-project-detail-list');
                    });
                }
            }
        }
    }
</script>
