<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent scrollable max-width="800px">
            <v-card class="dialog-card">
                <v-card-title>
                    <span>{{title}}</span>
                </v-card-title>
                <v-card-text style="margin-top: 20px;">
                    <v-row class="dialog-form-wrapper" style="margin-top:20px;">
                        <v-col cols="12">
                            <div style="display:flex;flex-direction:column;">
                                <label>Select Owner *</label>
                                <select v-model="formData.customer_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;height:33px;margin-bottom:10px;"
                                >
                                    <option v-for="(customer, index) in customers" :key="index"
                                            :value="customer.id">{{ customer.name }}
                                    </option>
                                </select>
                                <span style="color:red" v-if="validation && validation.customer_id"> {{validation.customer_id}}</span>
                            </div>

                            <v-container style="padding: unset;">
                                <v-radio-group v-model="checkReferral" row>
                                    <template v-slot:label>
                                        <div>Choose Referral Type</div>
                                    </template>
                                    <v-radio value="Referral">
                                        <template v-slot:label>
                                            <div>Referral</div>
                                        </template>
                                    </v-radio>
                                    <v-radio value="Customer">
                                        <template v-slot:label>
                                            <div>Customer</div>
                                        </template>
                                    </v-radio>
                                </v-radio-group>
                            </v-container>
                            <div style="display:flex;flex-direction:column;" v-if="checkReferral === 'Referral'">
                                <label>Select Referral</label>
                                <select v-model="formData.referral_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;height:33px;margin-bottom:10px;"
                                >
                                    <option v-for="(referral, index) in referrals" :key="index"
                                            :value="referral.id">{{ referral.name }}
                                    </option>
                                </select>
                            </div>
                            <div style="display:flex;flex-direction:column;" v-else>
                                <label>Select Referral From Customers</label>
                                <select v-model="formData.customer_referral_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;height:33px;margin-bottom:10px;"
                                        @change="formData.referral_id = null"
                                >
                                    <option v-for="(customer, index) in customers" :key="index"
                                            :value="customer.id">{{ customer.name }}
                                    </option>
                                </select>
                            </div>
                            <v-text-field
                                label="Address"
                                v-model="formData.address"
                                :error-messages="validation.address">
                            </v-text-field>
                            <v-menu
                                v-model="menu3"
                                :close-on-content-click="false"
                                :nudge-right="40"
                                transition="scale-transition"
                                offset-y
                                min-width="auto"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                        v-model="formData.sample_start_date"
                                        label="Sampling Start Date"
                                        prepend-icon="mdi-calendar"
                                        readonly
                                        v-bind="attrs"
                                        v-on="on"
                                        :error-messages="validation.sample_start_date"
                                    ></v-text-field>
                                </template>
                                <v-date-picker
                                    v-model="formData.sample_start_date"
                                    @input="menu3 = false"
                                ></v-date-picker>
                            </v-menu>
                            <v-menu
                                v-model="menu1"
                                :close-on-content-click="false"
                                :nudge-right="40"
                                transition="scale-transition"
                                offset-y
                                min-width="auto"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                        v-model="formData.start_date"
                                        label="Project Start Date"
                                        prepend-icon="mdi-calendar"
                                        readonly
                                        v-bind="attrs"
                                        v-on="on"
                                        :error-messages="validation.start_date"
                                    ></v-text-field>
                                </template>
                                <v-date-picker
                                    v-model="formData.start_date"
                                    @input="menu1 = false"
                                ></v-date-picker>
                            </v-menu>
                            <v-menu
                                v-model="menu2"
                                :close-on-content-click="false"
                                :nudge-right="40"
                                transition="scale-transition"
                                offset-y
                                min-width="auto"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                        v-model="formData.completed_date"
                                        label="Project Handover Date"
                                        prepend-icon="mdi-calendar"
                                        readonly
                                        v-bind="attrs"
                                        v-on="on"
                                        :error-messages="validation.completed_date"
                                    ></v-text-field>
                                </template>
                                <v-date-picker
                                    v-model="formData.completed_date"
                                    @input="menu2 = false"
                                ></v-date-picker>
                            </v-menu>

                            <div style="display:flex;flex-direction:column;">
                                <label>Project Leader</label>
                                <select v-model="formData.employee_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;height:33px;margin-bottom:10px;"
                                >
                                    <option v-for="(employee, index) in employees" :key="index"
                                            :value="employee.id">{{ employee.first_name  }} {{ employee.last_name}}
                                    </option>
                                </select>
                            </div>
                            <label>Description</label>
                            <wysiwyg v-model="formData.work_process" label="Work Process"/>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions class="dialog-action">
                    <v-spacer></v-spacer>
                    <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                    <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                           :disabled="$store.getters.buttonLoader">Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
    export default {
        data: () => ({
            dialog: false,
            formData: {},
            validation: {},
            title: 'Add Project',
            customers: [],
            menu1: false,
            menu2: false,
            menu3: false,
            referrals: [],
            employees: [],
            status: [
                'Sampling',
                'OnGoing',
                'HandOver'
            ],
            checkReferral: 'Referral'

        }),
        created() {
            this.$bus.$on('add-project', data => {
                this.validation = {};
                this.formData = {};
                this.categories = [];
                this.title = 'Add Project';
                this.$store.dispatch('getAllCustomers', {page: 1, search: ''}).then((res) => {
                    this.customers = res.data;
                    this.$store.dispatch('getAllReferrals', {page: 1, search: ''}).then((resp) => {
                        this.referrals = resp.data;
                        this.$store.dispatch('getAllEmployees', {page: 1, search: '', type: 'active'}).then((response) => {
                            this.employees = response.data;
                            this.dialog = true;
                        })
                    });
                });
                if (data) {
                    this.formData = data;
                    if(this.formData.customer_referral_id) {
                        this.checkReferral = 'Customer';
                    }
                    this.title = "Edit Project";
                }
                this.dialog = true;

            })
        },
        watch: {},
        methods: {
            submit() {
                this.$store.dispatch('addProject', this.formData).then((res) => {
                    this.dialog = false;
                    if(this.formData.id) {
                        this.$bus.$emit('refresh-single-project');
                    }else{
                        this.$bus.$emit('refresh-project-list');
                    }
                }).catch((err) => {
                    this.validation = this.$store.getters.validation
                })
            },
        }
    }
</script>
