<template>
    <div>
        <v-row>
            <v-col xs12 style="display:flex;align-items: center;padding:20px 30px;">
                <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Search"
                    single-line
                    @keydown.enter="searchData()"
                    style="max-width:50%;"
                ></v-text-field>
                <v-btn @click="searchData()" style="margin-left:20px;color: green;">Search</v-btn>
                <v-btn @click="resetData()" style="margin-left:20px;color:#2700ff80;">Reset</v-btn>
            </v-col>
        </v-row>
        <v-row dense>
            <v-col v-for="project in projects" :key="project.id"
                   style="max-width:350px;min-width:350px;cursor:pointer;padding:20px;" v-if="projects">
                <div v-if="project.status === 'OnGoing'" class="project-status">
                    <h3>{{project.status}}</h3>
                    <v-card
                        color="#385F73"
                        dark
                    >
                        <v-card-title class="text-h5">
                            {{project.name}}
                        </v-card-title>

                        <v-card-subtitle style="margin-top:20px;">Project Status: {{project.status}}</v-card-subtitle>

                        <v-card-actions>
                            <v-btn text @click="$router.push('/project/'+project.id)">
                                View Details
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </div>
            </v-col>
        </v-row>
        <v-row>
            <v-col v-for="project in projects" :key="project.id"
                   style="max-width:350px;min-width:350px;cursor:pointer;padding:20px;" v-if="project.status === 'Sampling'">
                <div  class="project-status">
                    <h3>{{project.status}}</h3>
                    <v-card
                        color="#385F73"
                        dark
                    >
                        <v-card-title class="text-h5">
                            {{project.name}}
                        </v-card-title>

                        <v-card-subtitle style="margin-top:20px;">Project Status: {{project.status}}</v-card-subtitle>

                        <v-card-actions>
                            <v-btn text @click="$router.push('/project/'+project.id)">
                                View Details
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </div>
            </v-col>
        </v-row>
        <v-row>
            <v-col v-for="project in projects" :key="project.id"
                   style="max-width:350px;min-width:350px;cursor:pointer;padding:20px;" v-if="project.status === 'HandOver'">
                <div  class="project-status">
                    <h3>{{project.status}}</h3>
                    <v-card
                        color="#385F73"
                        dark
                    >
                        <v-card-title class="text-h5">
                            {{project.name}}
                        </v-card-title>

                        <v-card-subtitle style="margin-top:20px;">Project Status: {{project.status}}</v-card-subtitle>

                        <v-card-actions>
                            <v-btn text @click="$router.push('/project/'+project.id)">
                                View Details
                            </v-btn>
                            <v-btn text @click="reactiveProject(project)">
                                Reactive Project
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </div>
            </v-col>
<!--            <div class="no__projects" v-else>-->
<!--                No Project Available! Please Add.-->
<!--            </div>-->
        </v-row>
    </div>

</template>
<script>
    export default {
        data() {
            return {
                projects: [],
                loading: true,
                page: 1,
                totalPage: 1,
                search: '',
                isSampling: true,
                isOnGoing: false,
                isHandOver: false,
                isAll: false,
                status: 'all',
            }
        },
        created() {
            this.$bus.$on('refresh-project-list', (data) => {
                this.loading = true;
                this.filterProject(data);
            })

        },
        destroyed() {
            this.$bus.$off('refresh-project-list');
        },
        mounted() {
            this.getProjectsLists();
        },
        watch: {
            page(val) {
                this.page = val;
                this.getProjectsLists();
            }
        },

        methods: {
            reactiveProject(project) {
                let r = confirm('Are you sure?');
                if(r) {
                    this.$store.dispatch('toggleProject', project.id).then((res) => {
                        this.getProjectsLists();
                    })
                }
            },
            searchData() {
                this.getProjectsLists();
            },
            getProjectsLists() {
                this.loading = true;
                this.$store.dispatch('getAllProjects', {
                    page: this.page,
                    search: this.search,
                    status: this.status
                }).then((res) => {
                    this.projects = res.data;
                    this.totalPage = res.last_page;
                    this.loading = false;
                });
            },
            deleteProject(id) {
                let r = confirm('Are you sure want to delete?');
                if (r) {
                    this.$store.dispatch('deleteProject', id).then(() => {
                        this.$bus.$emit('refresh-project-list');
                    })
                }
            },
            viewProject(item) {
                this.$router.push('/project/' + item.id);
            },
            resetData() {
                this.search = '';
                this.getProjectsLists();
            },
            filterProject(data) {
                this.status = data;
                this.page = 1;
                if (data === 'Sampling') {
                    this.isSampling = true;
                    this.isHandOver = false;
                    this.isOnGoing = false;
                    this.isAll = false;
                }
                if (data === 'OnGoing') {
                    this.isSampling = false;
                    this.isOnGoing = true;
                    this.isHandOver = false;
                    this.isAll = false;
                }
                if (data === 'HandOver') {
                    this.isHandOver = true;
                    this.isSampling = false;
                    this.isOnGoing = false;
                    this.isAll = false;
                }
                if (data === 'all') {
                    this.isHandOver = false;
                    this.isSampling = false;
                    this.isOnGoing = false;
                    this.isAll = true;
                }
                this.getProjectsLists();
            }
        }
    }
</script>
<style lang="scss" scoped>
    h3 {
        padding: 10px;
        font-size: 1.6rem;
    }

    .selectedFilter {
        background: #dcdbdb;
        border: 2px solid;
        border-radius: 5px;
    }

    .expansion-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .question-wrapper {
            margin: 1rem;
        }

        .answer-wrapper {
            display: flex;
            margin: .5rem 3rem;
        }

        .hint-wrapper {
            margin: 1rem;
        }
    }

    .no__projects {
        display: grid;
        margin: auto;
        font-size: 1.5rem;
        margin-top: 50px;
    }

</style>
