<template>
    <v-data-table
        :headers="headers"
        :items="receipts"
        class="elevation-1"
        :loading="loading"
        loading-text="Loading... Please wait"
    >
        <template slot="item" slot-scope="props">
            <tr>
                <td>{{props.item.sn}}</td>
                <td>{{props.item.date}}</td>
                <td>{{props.item.vendor.name}}</td>
                <td>{{props.item.material.brand_name}}</td>
                <td>{{props.item.description}}</td>
                <td>{{props.item.pack.name}}</td>
                <td>{{props.item.quantity}}</td>
                <td>{{props.item.base_name}}</td>
                <td>{{props.item.batch_no}}</td>
                <td>{{props.item.details}}</td>
                <td>
                    <v-icon small class="action-button" @click="editReceipt(props.item)">mdi-pencil</v-icon>
                    <v-icon small class="action-button" @click="deleteReceipt(props.item.id)">mdi-delete</v-icon>
                    <v-icon small class="material-icons action-button" @click="transferStock(props.item)">transform</v-icon>
                </td>
            </tr>
        </template>
    </v-data-table>
</template>
<script>
    export default {
        data() {
            return{
                headers: [
                    {text:'PO No',align:'left',sortable:false, value:'sn'},
                    {text:'Date',align:'left',sortable:false, value:'date'},
                    {text:'Vendor',align:'left',sortable:false, value:'vendor.name'},
                    {text:'Product Name',align:'left',sortable:false, value:'material.brand_name'},
                    {text:'Description',align:'left',sortable:false, value:'description'},
                    {text:'Pack Type',align:'left',sortable:false, value:'pack.name'},
                    {text:'Quantity',align:'left',sortable:false, value:'quantity'},
                    {text:'Base Name',align:'left',sortable:false, value: 'base_name'},
                    {text: 'Batch No', align:'left',sortable:false, value:'batch_no'},
                    {text: 'Details', align:'left', sortable:false, value: 'details'},
                    {text: 'Actions', align: 'left', sortable: false, value: 'action'},
                ],
                receipts: [],
                loading: true,
            }
        },
        created() {
            this.$bus.$on('refresh-receipt-list', () => {
                this.loading = true;
                this.getReceipts();
            })
        },
        destroyed() {
            this.$bus.$off('refresh-receipt-list');
        },
        mounted() {
            this.getReceipts();
        },
        methods: {
            getReceipts() {
                this.loading = true;
                this.$store.dispatch('getAllReceipts',{project_id: this.$route.params.project_id}).then((res) => {
                    this.receipts = res;
                });
                this.loading = false;
            },
            editReceipt(item) {
                this.$bus.$emit('add-receipt', item);
            },
            deleteReceipt(id) {
                let r = confirm('Are you sure want to delete?');
                if(r) {
                    this.$store.dispatch('deleteReceipt', id).then(() => {
                        this.$bus.$emit('refresh-receipt-list')
                    });
                }
            },
            transferStock(item) {
                this.$bus.$emit('transfer-material-form', item);
            }
        }
    }
</script>
