<template>
    <v-dialog v-model="dialog" persistent scrollable max-width="950px">
        <v-card class="dialog-card">
            <v-card-title>
                <span>{{title}}</span>
            </v-card-title>
            <v-card-text>
                <v-row style="margin-top: 20px;">
                    <label>Project *</label>
                    <select v-model="formData.project_id" class="form-control" style="border: 1px solid
                                #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;
                                margin-right:75px;height:33px;width: 75%;"
                    >
                        <option v-for="(project, index) in projects" :key="index" :value="project.id">
                            {{project.name}}
                        </option>
                    </select>
                    <span v-if="validation.project_id" style="color: red;"> {{validation.project_id}}</span>
                </v-row>
                <v-row style="margin-top: 35px;">
                    <label>Product Name *</label>
                    <select v-model="formData.material_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;height:33px;width:70%;"
                    >
                        <option v-for="(material, index) in materials" :key="index" :value="material.id">
                            {{material.brand_name}}
                        </option>
                    </select>
                    <span v-if="validation.material_id" style="color:red;"> {{validation.material_id}}</span>
                </v-row>
                <v-row style="display:flex;">
                    <label style="margin-top:20px;">Quantity *</label>
                    <v-text-field
                        outlined
                        type="number"
                        v-model="formData.quantity"
                        :error-messages="validation.quantity"
                        id="transfer-qty"
                        style="margin-top:20px;"
                        min="0"
                    ></v-text-field>
                </v-row>
            </v-card-text>
            <v-card-actions class="dialog-action">
                <v-spacer></v-spacer>
                <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                       :disabled="$store.getters.buttonLoader">Save
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    export default {
        data() {
            return {
                dialog: false,
                formData: {},
                validation: {},
                title: 'Transfer Material',
                materials: [],
                projects: [],
                receipt: null,
            }
        },
        created() {
            this.$bus.$on('transfer-material-form', data => {
                this.validation = {};
                this.formData = {};
                if (data) {
                    this.$store.dispatch('getAllTransferMaterials', data.id).then((res) => {
                        this.materials = res;
                    });
                    this.$store.dispatch('getAllProjects', {
                        'page': '',
                        'search': '',
                        'status': ''
                    }).then((res) => {
                        this.projects = res.data;
                    });
                    this.formData.receipt_id = data.id;
                    this.receipt = data;
                    this.dialog = true;
                }
            });
        },
        methods: {
            submit() {
                this.validation = {};
                if (!this.formData.project_id) {
                    this.validation.project_id = 'Project is required';
                }
                if (!this.formData.material_id) {
                    this.validation.material_id = 'Product is required';
                }
                if (!this.formData.quantity) {
                    this.validation.quantity = 'Quantity is required';
                }
                if(parseFloat(this.formData.quantity) > parseInt(this.receipt.quantity) || parseInt(this.formData.quantity) < 0 || (this.formData.quantity) === 0) {
                    this.validation.quantity = 'Invalid Quantity';
                }
                if (Object.keys(this.validation).length > 0) {
                    return false;
                }
                this.$store.dispatch('transferProjectProducts', this.formData).then((res) => {
                    this.dialog = false;
                });
            }
        }
    }
</script>
<style>
</style>
