<template>
    <v-dialog v-model="dialog" persistent scrollable max-width="950px">
        <v-card class="dialog-card">
            <v-card-title>
                <span>{{title}}</span>
            </v-card-title>
            <v-card-text>
                <div>
                    <v-row class="dialog-form-wrapper" style="margin-top: 20px;">
                        <div style="display: flex; flex-direction: column;width:47%;margin-right:20px;">
                            <label>Vendor *</label>
                            <select v-model="formData.vendor_id" class="form-control" style="border: 1px solid
                                #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;
                                margin-right:75px;height:33px;"
                            >
                                <option v-for="(vendor, index) in vendors" :key="index" :value="vendor.id">
                                    {{vendor.name}}
                                </option>
                            </select>
                            <span v-if="validation.vendor_id" style="color: red;"> {{validation.vendor_id}}</span>
                        </div>
                        <div style="display: flex; flex-direction: column;width:47%;margin-left:20px;">
                            <label>PO No *</label>
                            <select v-model="formData.purchase_order_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;height:33px;"
                            >
                                <option v-for="(purchaseOrder, index) in purchaseOrders" :key="index" :value="purchaseOrder.id">
                                    {{purchaseOrder.sn}}
                                </option>
                            </select>
                            <span v-if="validation.purchase_order_id" style="color:red;"> {{validation.purchase_order_id}}</span>
                        </div>
                    </v-row>
                    <v-row  style="margin-top: 20px;">
                        <v-text-field
                            type="date"
                            v-model="formData.date"
                            label="Date"
                            style="margin-top:30px;width:40%;margin-right:78px;"
                            :error-messages="validation.date"
                        ></v-text-field>
                        <div style="display: flex; flex-direction: column;width: 47%;margin:20px 0" v-if="isEdit">
                            <label>Product Name *</label>
                            <select v-model="formData.material_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;height:33px;"
                            >
                                <option v-for="(material, index) in materials" :key="index" :value="material.id">
                                    {{material.brand_name}}
                                </option>
                            </select>
                            <span v-if="validation.material_id" style="color:red;"> {{validation.material_id}}</span>
                        </div>
                    </v-row>
                    <v-row style="margin-top:20px;" v-if="isEdit">
                        <v-text-field
                            label="Product Description *"
                            v-model="formData.description"
                            :error-messages="validation.description"
                            style="margin-top:30px;width:40%;margin-right:78px;"
                        ></v-text-field>
                        <div style="display: flex; flex-direction: column;width: 47%;margin:20px 0">
                            <label>Pack Size *</label>
                            <select v-model="formData.pack_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;height:33px;"
                            >
                                <option v-for="(pack, index) in packs" :key="index" :value="pack.id">
                                    {{pack.name}}
                                </option>
                            </select>
                            <span v-if="validation.pack_id" style="color:red;"> {{validation.pack_id}}</span>
                        </div>
                    </v-row>
                    <v-row v-if="isEdit">
                        <v-text-field
                            label="Quantity *"
                            type="number"
                            v-model="formData.quantity"
                            :error-messages="validation.quantity"
                            style="margin-right:40px;"
                        ></v-text-field>
                        <v-text-field
                            label="Details"
                            v-model="formData.details"
                            style="margin-left:40px;"
                        ></v-text-field>
                    </v-row>
                    <v-row v-if="isEdit">
                        <v-text-field
                            label="Batch Number"
                            v-model="formData.batch_no"
                            :error-messages="validation.quantity"
                            style="margin-right:40px;"
                        ></v-text-field>
                        <v-text-field
                            label="Base Name"
                            v-model="formData.base_name"
                            style="margin-left:40px;"
                        ></v-text-field>
                    </v-row>
                </div>
                <v-row class="dialog-form-wrapper" style="display: flex;" v-if="!isEdit">
                    <table>
                        <tr>
                            <td>Product Name</td>
                            <td>Product Description</td>
                            <td>Pack Size</td>
                            <td>Quantity</td>
                            <td>Base Name</td>
                            <td>Batch No</td>
                            <td>Details</td>
                        </tr>
                        <tr v-for="(tableData, index) in tableDatas" :key="index">
                            <td style="padding: 0 8px">
                                <div style="display: flex; flex-direction: column;">
                                    <label>Product Name *</label>
                                    <select v-model="tableData.material_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;width:150px;height:33px;"
                                    >
                                        <option v-for="(material, index) in materials" :key="index" :value="material.id">
                                            {{material.brand_name}}
                                        </option>
                                    </select>
                                    <span v-if="validation.material_id" style="color:red;"> {{validation.material_id}}</span>
                                </div>
                            </td>
                            <td style="padding: 0 8px">
                                <v-text-field
                                    label="Product Description *"
                                    v-model="tableData.description"
                                    :error-messages="validation.description"
                                ></v-text-field>
                            </td>
                            <td style="padding: 0 8px">
                                <div style="display: flex; flex-direction: column;">
                                    <label>Pack Size *</label>
                                    <select v-model="tableData.pack_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;width:150px;height:33px;"
                                    >
                                        <option v-for="(pack, index) in packs" :key="index" :value="pack.id">
                                            {{pack.name}}
                                        </option>
                                    </select>
                                    <span v-if="validation.pack_id" style="color:red;"> {{validation.pack_id}}</span>
                                </div>
                            </td>
                            <td style="padding: 0 8px;">
                                <v-text-field
                                    label="Quantity *"
                                    type="number"
                                    v-model="tableData.quantity"
                                    :error-messages="validation.quantity"
                                ></v-text-field>
                            </td>
                            <td style="padding: 0 8px">
                                <v-text-field
                                    label="Base Name"
                                    v-model="tableData.base_name"
                                ></v-text-field>
                            </td>
                            <td style="padding: 0 8px">
                                <v-text-field
                                    label="Batch No"
                                    v-model="tableData.batch_no"
                                ></v-text-field>
                            </td>
                            <td style="padding: 0 8px">
                                <v-text-field
                                    label="Details"
                                    v-model="tableData.details"
                                    @keydown.enter="addNewRow()"
                                ></v-text-field>
                            </td>
                            <span style="cursor:pointer;display: flex;align-items: center;justify-content:
                            flex-start;font-size: 30px;margin-right: 5px;margin-left:5px;margin-top:25px;"
                                  @click="deleteNewRow(index)" v-if="index > 0">x</span>
                        </tr>
                    </table>
                </v-row>
            </v-card-text>
            <v-card-actions class="dialog-action">
                <v-spacer></v-spacer>
                <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                       :disabled="$store.getters.buttonLoader">Save
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    export default {
        data: ()=> ({
            dialog:false,
            formData: {},
            validation: {},
            title: 'Add Receipt',
            materials:[],
            packs:[],
            vendors:[],
            purchaseOrders:[],
            tableDatas:[
                {
                    material_id: '',
                    description: '',
                    pack_id: '',
                    quantity: '',
                    details: '',
                    batch_no:'',
                    base_name:'',
                },
                {
                    material_id: '',
                    description: '',
                    pack_id: '',
                    quantity: '',
                    details: '',
                    batch_no: '',
                    base_name: '',
                }
            ],
            isEdit: false,
        }),
        created() {
            this.$bus.$on('add-receipt', data => {
                this.validation = {};
                this.formData = {};
                this.title = 'Add Receipt';
                this.isEdit = false;
                this.tableDatas = [
                    {
                        material_id: '',
                        description: '',
                        pack_id: '',
                        quantity: '',
                        details: '',
                        batch_no: '',
                        base_name: '',
                    },
                    {
                        material_id: '',
                        description: '',
                        pack_id: '',
                        quantity: '',
                        details: '',
                        batch_no: '',
                        base_name: ''
                    }
                ];
                this.$store.dispatch('getAllMaterials').then((res) => {
                    this.materials = res;
                });
                this.$store.dispatch('getAllVendors',{page: 1, search: '', type: 'all'}).then((res) => {
                    this.vendors = res.data;
                });
                this.$store.dispatch('getAllPackTypes').then((res) => {
                    this.packs = res;
                });
                this.$store.dispatch('getAllPurchaseOrders',{project_id: parseInt(this.$route.params.project_id)}).then((res) => {
                    this.purchaseOrders = res;
                });
                if(data) {
                    this.formData = data;
                    this.title = 'Edit Receipt';
                    this.isEdit = true;
                }
                this.dialog = true;
            })
        },
        methods: {
            addNewRow() {
                this.tableDatas.push({
                    material_id: '',
                    description: '',
                    pack_id: '',
                    quantity: '',
                    details: '',
                    batch_no: '',
                    base_name: '',
                });
            },
            deleteNewRow(index) {
                this.tableDatas.splice(index, 1);
            },
            submit() {
                this.validation = {};
                if(!this.formData.vendor_id){
                    this.validation.vendor_id = "Vendor is required"
                }
                if(!this.formData.purchase_order_id){
                    this.validation.purchase_order_id = "Purchase Order is required"
                }
                if(!this.formData.date){
                    this.validation.date = "Date is required"
                }
                if(!this.isEdit) {
                    this.tableDatas.map(data => {
                        if(!data.material_id) {
                            this.validation.material_id = 'Product Name is required'
                        }
                        if(!data.pack_id) {
                            this.validation.pack_id = 'Pack Type is required'
                        }
                        if(!data.description) {
                            this.validation.description = 'Description is required'
                        }
                        if(!data.quantity) {
                            this.validation.quantity = 'Quantity is required'
                        }
                    })
                }else {
                    if(!this.formData.material_id) {
                        this.validation.material_id = 'Product Name is required'
                    }
                    if(!this.formData.pack_id) {
                        this.validation.pack_id = 'Pack Type is required'
                    }
                    if(!this.formData.description) {
                        this.validation.description = 'Description is required'
                    }
                    if(!this.formData.quantity) {
                        this.validation.quantity = 'Quantity is required'
                    }
                }
                if(Object.keys(this.validation).length > 0) {
                    return false;
                }
                this.formData.project_id = parseInt(this.$route.params.project_id);
                if(!this.isEdit) {
                    let data = {};
                    data.formData = this.formData;
                    data.tableDatas = this.tableDatas;
                    this.$store.dispatch('addReceipt', data).then((res) => {
                        this.dialog = false;
                        this.$bus.$emit('refresh-receipt-list');
                    }).catch(err=> {
                        console.log(err)
                    })
                }else {
                    this.$store.dispatch('addReceipt', this.formData).then((res) => {
                        this.dialog = false;
                        this.$bus.$emit('refresh-receipt-list');
                    }).catch(err => {
                        console.log(err);
                    })
                }
            }
        }
    }
</script>
<style scoped>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 2px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>
