<template>
    <v-data-table
        :headers="headers"
        :items="purchaseOrders"
        class="elevation-1"
        :loading="loading"
        loading-text="Loading... Please wait"
    >
        <template slot="item" slot-scope="props">
            <tr>
                <td>{{props.item.sn}}</td>
                <td>{{props.item.date}}</td>
                <td>{{props.item.requisition.sn}}</td>
                <td>{{props.item.vendor.name}}</td>
                <td>{{props.item.material.brand_name}}</td>
                <td>{{props.item.description}}</td>
                <td>{{props.item.pack.name}}</td>
                <td>{{props.item.quantity}}</td>
                <td>{{props.item.details}}</td>
                <td>
                    <v-icon small class="action-button" @click="editPurchaseOrder(props.item)">mdi-pencil</v-icon>
                    <v-icon small class="action-button" @click="deletePurchaseOrder(props.item.id)">mdi-delete</v-icon>
                </td>
            </tr>
        </template>
    </v-data-table>
</template>
<script>
    export default {
        data() {
            return{
                headers: [
                    {text:'SN',align:'left',sortable:false, value:'sn'},
                    {text:'Date',align:'left',sortable:false, value:'date'},
                    {text:'Requisition No',align:'left',sortable:false, value:'requisition.sn'},
                    {text:'Vendor',align:'left',sortable:false, value:'vendor.name'},
                    {text:'Material',align:'left',sortable:false, value:'material.brand_name'},
                    {text:'Description',align:'left',sortable:false, value:'description'},
                    {text:'Pack Type',align:'left',sortable:false, value:'pack.name'},
                    {text:'Quantity',align:'left',sortable:false, value:'quantity'},
                    {text:'Detail',align:'left',sortable:false, value: 'details'},
                    {text: 'Actions', align: 'left', sortable: false, value: 'action'},
                ],
                purchaseOrders: [],
                loading: true,
            }
        },
        created() {
            this.$bus.$on('refresh-purchase-order-list', () => {
                this.loading = true;
                this.getPurchaseOrders();
            })
        },
        destroyed() {
            this.$bus.$off('refresh-purchase-order-list');
        },
        mounted() {
            this.getPurchaseOrders();
        },
        methods: {
            getPurchaseOrders() {
                this.loading = true;
                this.$store.dispatch('getAllPurchaseOrders',{project_id: this.$route.params.project_id}).then((res) => {
                    this.purchaseOrders = res;
                });
                this.loading = false;
            },
            editPurchaseOrder(item) {
                this.$bus.$emit('add-purchase-order', item);
            },
            deletePurchaseOrder(id) {
                let r = confirm('Are you sure want to delete?');
                if(r) {
                    this.$store.dispatch('deletePurchaseOrder', id).then(() => {
                        this.$bus.$emit('refresh-purchase-order-list')
                    });
                }
            }
        }
    }
</script>
