<template>
    <v-data-table
        :headers="headers"
        :items="rawMaterialQuotations"
        class="elevation-1"
        :loading="loading"
        loading-text="Loading... Please wait"
    >
        <template slot="item" slot-scope="props">
            <tr>
                <td>{{props.item.vendor.name}}</td>
                <td>{{props.item.material.brand_name}}</td>
                <td>{{props.item.pack.name}}</td>
                <td>{{props.item.rate}}</td>
                <td>{{props.item.effective_from}}</td>
                <td>
                    <v-icon small class="action-button" @click="editRawMaterialQuotation(props.item)">mdi-pencil</v-icon>
                    <v-icon small class="action-button" @click="deleteRawMaterialQuotation(props.item.id)">mdi-delete</v-icon>
                </td>
            </tr>
        </template>
    </v-data-table>
</template>
<script>
    export default {
        data() {
            return{
                headers: [
                    {text:'Vendor',align:'left',sortable:false, value:'vendor.name'},
                    {text:'Material',align:'left',sortable:false, value:'material.brand_name'},
                    {text:'Pack Type',align:'left',sortable:false, value:'pack.name'},
                    {text:'Rate',align:'left',sortable:false, value:'rate'},
                    {text:'Effective From',align:'left',sortable:false, value: 'effective_from'},
                    {text: 'Actions', align: 'left', sortable: false, value: 'action'},
                ],
                rawMaterialQuotations: [],
                loading: true,
            }
        },
        created() {
            this.$bus.$on('refresh-raw-material-quotation-list', () => {
                this.loading = true;
                this.getRawMaterialQuotations();
            })
        },
        destroyed() {
            this.$bus.$off('refresh-raw-material-quotation-list');
        },
        mounted() {
            this.getRawMaterialQuotations();
        },
        methods: {
            getRawMaterialQuotations() {
                this.loading = true;
                this.$store.dispatch('getAllRawMaterialQuotations',{project_id: this.$route.params.project_id}).then((res) => {
                    this.rawMaterialQuotations = res;
                });
                this.loading = false;
            },
            editRawMaterialQuotation(item) {
                this.$bus.$emit('add-raw-material-quotation', item);
            },
            deleteRawMaterialQuotation(id) {
                let r = confirm('Are you sure want to delete?');
                if(r) {
                    this.$store.dispatch('deleteRawMaterialQuotation', id).then(() => {
                        this.$bus.$emit('refresh-raw-material-quotation-list')
                    });
                }
            }
        }
    }
</script>
