<template>
    <v-dialog v-model="dialog" persistent scrollable max-width="950px">
        <v-card class="dialog-card">
            <v-card-title>
                <span>{{title}}</span>
            </v-card-title>
            <v-card-text>
                <div style="padding: 0 5rem">
                    <v-row class="dialog-form-wrapper" style="margin-top: 20px">
                        <div style="display: flex; flex-direction: column">
                            <label>Vendor *</label>
                            <select v-model="formData.vendor_id" class="form-control" style="border: 1px solid
                                #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;width:200px;
                                margin-right:75px;height:33px;"
                            >
                                <option v-for="(vendor, index) in vendors" :key="index" :value="vendor.id">
                                    {{vendor.name}}
                                </option>
                            </select>
                            <span v-if="validation.vendor_id" style="color: red;"> {{validation.vendor_id}}</span>
                        </div>
                        <v-text-field
                            type="date"
                            v-model="formData.effective_from"
                            label="Effective From"
                            style="margin-right:0px;max-width:180px;margin-top:7px;"
                        ></v-text-field>
                    </v-row>
                    <v-row class="dialog-form-wrapper" style="margin-top: 20px;" v-if="isEdit">
                        <div style="display: flex; flex-direction: column;">
                            <label>Product Name *</label>
                            <select v-model="formData.material_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;width:150px;height:33px;"
                            >
                                <option v-for="(material, index) in materials" :key="index" :value="material.id">
                                    {{material.brand_name}}
                                </option>
                            </select>
                            <span v-if="validation.material_id" style="color:red;"> {{validation.material_id}}</span>
                        </div>
                        <div style="display: flex; flex-direction: column;margin-left: 128px;">
                            <label>Pack Size *</label>
                            <select v-model="formData.pack_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;width:150px;height:33px;"
                            >
                                <option v-for="(pack, index) in packs" :key="index" :value="pack.id">
                                    {{pack.name}}
                                </option>
                            </select>
                            <span v-if="validation.pack_id" style="color:red;"> {{validation.pack_id}}</span>
                        </div>
                    </v-row>
                    <v-row class="dialog-form-wrapper" style="margin-top:20px;width:150px;" v-if="isEdit">
                        <v-text-field
                            label="Rate *"
                            type="number"
                            v-model="formData.rate"
                            :error-messages="validation.rate"
                        ></v-text-field>
                    </v-row>
                </div>
                <v-row class="dialog-form-wrapper" style="display: flex;" v-if="!isEdit">
                    <table>
                        <tr>
                            <td>Product Name</td>
                            <td>Pack Size</td>
                            <td>Rate</td>
                        </tr>
                        <tr v-for="(tableData, index) in tableDatas" :key="index">
                            <td style="padding: 0 8px">
                                <div style="display: flex; flex-direction: column;">
                                    <label>Product Name *</label>
                                    <select v-model="tableData.material_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;width:150px;height:33px;"
                                    >
                                        <option v-for="(material, index) in materials" :key="index" :value="material.id">
                                            {{material.brand_name}}
                                        </option>
                                    </select>
                                    <span v-if="validation.material_id" style="color:red;"> {{validation.material_id}}</span>
                                </div>
                            </td>
                            <td style="padding: 0 8px">
                                <div style="display: flex; flex-direction: column;">
                                    <label>Pack Size *</label>
                                    <select v-model="tableData.pack_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;width:150px;height:33px;"
                                    >
                                        <option v-for="(pack, index) in packs" :key="index" :value="pack.id">
                                            {{pack.name}}
                                        </option>
                                    </select>
                                    <span v-if="validation.pack_id" style="color:red;"> {{validation.pack_id}}</span>
                                </div>
                            </td>
                            <td style="padding: 0 8px; width:30%;">
                                <v-text-field
                                    label="Rate *"
                                    type="number"
                                    v-model="tableData.rate"
                                    :error-messages="validation.rate"
                                    @keydown.enter="addNewRow()"
                                ></v-text-field>
                            </td>
                            <span style="cursor:pointer;display: flex;align-items: center;justify-content:
                            flex-start;font-size: 30px;margin-right: 5px;margin-left:5px;margin-top:25px;"
                                  @click="deleteNewRow(index)" v-if="index > 0">x</span>
                        </tr>
                    </table>
                </v-row>
            </v-card-text>
            <v-card-actions class="dialog-action">
                <v-spacer></v-spacer>
                <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                       :disabled="$store.getters.buttonLoader">Save
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    export default {
        data: ()=> ({
           dialog:false,
           formData: {},
           validation: {},
           title: 'Add Raw Material Quotation',
           materials:[],
           packs:[],
           vendors:[],
           tableDatas:[
               {
                   material_id: '',
                   pack_id: '',
                   rate: ''
               },
               {
                   material_id: '',
                   pack_id: '',
                   rate: ''
               }
           ],
           isEdit: false,
        }),
        created() {
            this.$bus.$on('add-raw-material-quotation', data => {
                this.validation = {};
                this.formData = {};
                this.title = 'Add Raw Material Quotation';
                this.isEdit = false;
                this.tableDatas = [
                    {
                        material_id: '',
                        pack_id: '',
                        rate: ''
                    },
                    {
                        material_id: '',
                        pack_id: '',
                        rate: ''
                    }
                ];
                this.$store.dispatch('getAllMaterials').then((res) => {
                    this.materials = res;
                });
                this.$store.dispatch('getAllVendors',{page: 1, search: '', type: 'all'}).then((res) => {
                    this.vendors = res.data;
                });
                this.$store.dispatch('getAllPackTypes').then((res) => {
                    this.packs = res;
                })
                if(data) {
                    this.formData = data;
                    this.title = 'Edit Raw Material Quotation';
                    this.isEdit = true;
                }
                this.dialog = true;
            })
        },
        methods: {
            addNewRow() {
                this.tableDatas.push({
                    material_id: '',
                    pack_id: '',
                    rate: ''
                });
            },
            deleteNewRow(index) {
                this.tableDatas.splice(index, 1);
            },
            submit() {
                this.validation = {};
                if(!this.formData.vendor_id){
                    this.validation.vendor_id = "Vendor is required"
                }
                if(!this.isEdit) {
                    this.tableDatas.map(data => {
                        if(!data.material_id) {
                            this.validation.material_id = 'Product Name is required'
                        }
                        if(!data.pack_id) {
                            this.validation.pack_id = 'Pack Type is required'
                        }
                        if(!data.rate) {
                            this.validation.rate = 'Rate is required'
                        }
                    })
                }else {
                    if(!this.formData.material_id) {
                        this.validation.material_id = 'Product Name is required'
                    }
                    if(!this.formData.pack_id) {
                        this.validation.pack_id = 'Pack Type is required'
                    }
                    if(!this.formData.rate) {
                        this.validation.rate = 'Rate is required'
                    }
                }
                if(Object.keys(this.validation).length > 0) {
                    return false;
                }
                this.formData.project_id = parseInt(this.$route.params.project_id);
                if(!this.isEdit) {
                    let data = {};
                    data.formData = this.formData;
                    data.tableDatas = this.tableDatas;
                    this.$store.dispatch('addRawMaterialQuotation', data).then((res) => {
                        this.dialog = false;
                        this.$bus.$emit('refresh-raw-material-quotation-list');
                    }).catch(err=> {
                        console.log(err)
                    })
                }else {
                    this.$store.dispatch('addRawMaterialQuotation', this.formData).then((res) => {
                        this.dialog = false;
                        this.$bus.$emit('refresh-raw-material-quotation-list');
                    }).catch(err => {
                        console.log(err);
                    })
                }
            }
        }
    }
</script>
<style scoped>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 2px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>
