<template>
    <v-data-table
        :headers="headers"
        :items="requisitions"
        class="elevation-1"
        :loading="loading"
        loading-text="Loading... Please wait"
    >
        <template slot="item" slot-scope="props">
            <tr>
                <td>{{props.item.sn}}</td>
                <td>{{props.item.entry_date}}</td>
                <td>{{props.item.material.brand_name}}</td>
                <td>{{props.item.description}}</td>
                <td>{{props.item.quantity}}</td>
                <td>{{props.item.detail}}</td>
                <td>{{props.item.slip_received_date}}</td>
                <td>{{props.item.required_date}}</td>
                <td>
                    <v-icon small class="action-button" @click="editRequisition(props.item)">mdi-pencil</v-icon>
                    <v-icon small class="action-button" @click="deleteRequisition(props.item.id)">mdi-delete</v-icon>
                </td>
            </tr>
        </template>
    </v-data-table>
</template>
<script>
    export default {
        data() {
            return{
                headers: [
                    {text:'SN', align:'left', sortable:false, value:'sn'},
                    {text:'Entry Date',align:'left',sortable:false, value:'entry_date'},
                    {text:'Material',align:'left',sortable:false, value:'material.brand_name'},
                    {text:'Description',align:'left',sortable:false, value:'description'},
                    {text:'Quantity',align:'left',sortable:false, value:'quantity'},
                    {text:'Detail',align:'left',sortable:false, value: 'detail'},
                    {text:'Slip Received Date',align:'left',sortable:false, value: 'slip_received_date'},
                    {text:'Required Date',align:'left',sortable:false, value: 'required_date'},
                    {text: 'Actions', align: 'left', sortable: false, value: 'action'},
                ],
                requisitions: [],
                loading: true,
            }
        },
        created() {
            this.$bus.$on('refresh-requisition-list', () => {
                this.loading = true;
                this.getRequisitions();
            })
        },
        destroyed() {
            this.$bus.$off('refresh-requisition-list');
        },
        mounted() {
            this.getRequisitions();
        },
        methods: {
            getRequisitions() {
                this.loading = true;
                this.$store.dispatch('getAllRequisitions',{project_id: this.$route.params.project_id}).then((res) => {
                    this.requisitions = res;
                });
                this.loading = false;
            },
            editRequisition(item) {
                this.$bus.$emit('add-requisition', item);
            },
            deleteRequisition(id) {
                let r = confirm('Are you sure want to delete?');
                if(r) {
                    this.$store.dispatch('deleteRequisition', id).then(() => {
                        this.$bus.$emit('refresh-requisition-list')
                    });
                }
            }
        }
    }
</script>
