<template>
    <v-dialog v-model="dialog" persistent scrollable max-width="950px">
        <v-card class="dialog-card">
            <v-card-title>
                <span>{{title}}</span>
            </v-card-title>
            <v-card-text>
                <div style="padding: 0 1rem">
                    <v-row class="dialog-form-wrapper" style="margin-top: 20px">
                        <v-text-field
                            type="date"
                            v-model="formData.entry_date"
                            label="Entry Date"
                            style="margin-right:20px;margin-top:7px;"
                            :error-messages="validation.entry_date"
                        ></v-text-field>
                        <v-text-field
                            type="date"
                            v-model="formData.slip_received_date"
                            label="Slip Received Date"
                            style="margin-left:20px;margin-top:7px;margin-right:20px;"
                        ></v-text-field>
                    </v-row>
                    <v-row class="dialog-form-wrapper" style="margin-top: 20px;" v-if="isEdit">
                        <div style="display: flex; flex-direction: column;width:47%;margin-right:20px;">
                            <label>Product Name *</label>
                            <select v-model="formData.material_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius:2.5px;height:33px;margin-left:20px;"
                            >
                                <option v-for="(material, index) in materials" :key="index" :value="material.id">
                                    {{material.brand_name}}
                                </option>
                            </select>
                            <span v-if="validation.material_id" style="color:red;"> {{validation.material_id}}</span>
                        </div>
                        <v-text-field
                            label="Description *"
                            v-model="formData.description"
                            :error-messages="validation.description"
                        ></v-text-field>
                    </v-row>
                    <v-row class="dialog-form-wrapper" style="margin-top:20px;" v-if="isEdit">
                        <v-text-field
                            label="Quantity *"
                            type="number"
                            v-model="formData.quantity"
                            :error-messages="validation.quantity"
                            style="margin-right:20px;"
                        ></v-text-field>
                        <v-text-field
                            label="Details *"
                            v-model="formData.detail"
                            style="margin-left:20px;"
                        ></v-text-field>
                    </v-row>
                    <v-row class="dialog-form-wrapper" style="margin-top: 20px;" v-if="isEdit">
                        <v-text-field
                            label="Required Date *"
                            type="date"
                            v-model="formData.required_date"
                        ></v-text-field>
                    </v-row>
                </div>
                <v-row class="dialog-form-wrapper" style="display: flex;" v-if="!isEdit">
                    <table>
                        <tr>
                            <td>Product Name</td>
                            <td>Product Description</td>
                            <td>Quantity</td>
                            <td>Details</td>
                            <td>Required Date</td>
                        </tr>
                        <tr v-for="(tableData, index) in tableDatas" :key="index">
                            <td style="padding: 0 8px">
                                <div style="display: flex; flex-direction: column;">
                                    <label>Product Name *</label>
                                    <select v-model="tableData.material_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;width:150px;height:33px;"
                                    >
                                        <option v-for="(material, index) in materials" :key="index" :value="material.id">
                                            {{material.brand_name}}
                                        </option>
                                    </select>
                                    <span v-if="validation.material_id" style="color:red;"> {{validation.material_id}}</span>
                                </div>
                            </td>
                            <td style="padding: 0 8px; width:30%;">
                                <v-text-field
                                    label="Description *"
                                    v-model="tableData.description"
                                    :error-messages="validation.description"
                                ></v-text-field>
                            </td>
                            <td style="padding: 0 8px; width:30%;">
                                <v-text-field
                                    label="Quantity *"
                                    type="number"
                                    v-model="tableData.quantity"
                                    :error-messages="validation.quantity"
                                ></v-text-field>
                            </td>
                            <td style="padding: 0 8px; width:30%;">
                                <v-text-field
                                    label="Details *"
                                    v-model="tableData.detail"
                                ></v-text-field>
                            </td>
                            <td style="padding: 0 8px; width:30%;">
                                <v-text-field
                                    label="Required Date *"
                                    type="date"
                                    v-model="tableData.required_date"
                                    @keydown.enter="addNewRow()"
                                ></v-text-field>
                            </td>
                            <span style="cursor:pointer;display: flex;align-items: center;justify-content:
                            flex-start;font-size: 30px;margin-right: 5px;margin-left:5px;margin-top:25px;"
                                  @click="deleteNewRow(index)" v-if="index > 0">x</span>
                        </tr>
                    </table>
                </v-row>
            </v-card-text>
            <v-card-actions class="dialog-action">
                <v-spacer></v-spacer>
                <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                       :disabled="$store.getters.buttonLoader">Save
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    export default {
        data: ()=> ({
            dialog:false,
            formData: {},
            validation: {},
            title: 'Add Requisition',
            materials:[],
            tableDatas:[
                {
                    material_id: '',
                    description: '',
                    quantity: '',
                    detail: '',
                    required_date: ''
                },
                {
                    material_id: '',
                    description: '',
                    quantity: '',
                    detail: '',
                    required_date: ''
                }
            ],
            isEdit: false,
        }),
        created() {
            this.$bus.$on('add-requisition', data => {
                this.validation = {};
                this.formData = {};
                this.title = 'Add Requisition';
                this.isEdit = false;
                this.tableDatas = [
                    {
                        material_id: '',
                        description: '',
                        quantity: '',
                        detail: '',
                        required_date: ''
                    },
                    {
                        material_id: '',
                        description: '',
                        quantity: '',
                        detail: '',
                        required_date: ''
                    }
                ];
                this.$store.dispatch('getAllMaterials').then((res) => {
                    this.materials = res;
                });
                if(data) {
                    this.formData = data;
                    this.title = 'Edit Raw Material Quotation';
                    this.isEdit = true;
                }
                this.dialog = true;
            })
        },
        methods: {
            addNewRow() {
                this.tableDatas.push({
                    material_id: '',
                    description: '',
                    quantity: '',
                    detail: '',
                    required_date: ''
                });
            },
            deleteNewRow(index) {
                this.tableDatas.splice(index, 1);
            },
            submit() {
                this.validation = {};
                if(!this.formData.entry_date){
                    this.validation.entry_date = "Entry Date is required"
                }
                if(!this.isEdit) {
                    this.tableDatas.map(data => {
                        if(!data.material_id) {
                            this.validation.material_id = 'Product Name is required'
                        }
                        if(!data.description) {
                            this.validation.description = 'Description is required'
                        }
                        if(!data.quantity) {
                            this.validation.quantity = 'Quantity is required'
                        }
                    })
                }else {
                    if(!this.formData.material_id) {
                        this.validation.material_id = 'Product Name is required'
                    }
                    if(!this.formData.description) {
                        this.validation.description = 'Description is required'
                    }
                    if(!this.formData.quantity) {
                        this.validation.quantity = 'Quantity is required'
                    }
                }
                if(Object.keys(this.validation).length > 0) {
                    return false;
                }
                this.formData.project_id = parseInt(this.$route.params.project_id);
                if(!this.isEdit) {
                    let data = {};
                    data.formData = this.formData;
                    data.tableDatas = this.tableDatas;
                    this.$store.dispatch('addRequisition', data).then((res) => {
                        this.dialog = false;
                        this.$bus.$emit('refresh-requisition-list');
                    }).catch(err=> {
                        console.log(err)
                    })
                }else {
                    this.$store.dispatch('addRequisition', this.formData).then((res) => {
                        this.dialog = false;
                        this.$bus.$emit('refresh-requisition-list');
                    }).catch(err => {
                        console.log(err);
                    })
                }
            }
        }
    }
</script>
<style scoped>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 2px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>
