<template>
    <v-dialog v-model="dialog" persistent scrollable max-width="950px">
        <v-card class="dialog-card">
            <v-card-title>
                <span>{{ title }}</span>
            </v-card-title>
            <v-card-text>
                <div style="padding:0 5rem;">
                    <v-row class="dialog-form-wrapper" style="margin-top:20px;">
                        <div style="display:flex;flex-direction:column;">
                            <label>Shade Card *</label>
                            <select v-model="formData.shade_card_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;width:200px;margin-right:75px;height:33px;"
                            >
                                <option v-for="(shadeCard, index) in shadeCards" :key="index"
                                        :value="shadeCard.id">{{shadeCard.manufacture.name}}{{ shadeCard.name }}
                                </option>
                            </select>
                            <span v-if="validation.shade_card_id" style="color:red;">{{validation.shade_card_id}}</span>
                        </div>
                        <v-text-field v-model="formData.room_name" label="Room Name *"
                                      style="margin-right:75px;max-width:200px;margin-top:7px;"
                                      :error-messages="validation.room_name"
                        >
                        </v-text-field>
                        <v-text-field v-model="formData.alternative_room_name" label="Alternative Room Name"
                                      style="margin-right:0px;max-width:180px;margin-top:7px;">
                        </v-text-field>
                    </v-row>
                    <v-row class="dialog-form-wrapper" style="display: flex;margin-bottom:20px;">
                        <v-text-field v-model="formData.room_position" label="Room Position"
                                      style="margin-right:75px;max-width:200px;width:200px;">
                        </v-text-field>
                        <v-text-field
                            v-model="formData.chosen_by"
                            label="Chosen By"
                            style="margin-right:75px;max-width:200px;width:200px;"
                        >
                        </v-text-field>
                        <v-text-field
                            type="date"
                            v-model="formData.chosen_date"
                            label="Chosen Date"
                            style="max-width:180px;width:190px;"
                        >
                        </v-text-field>
                    </v-row>
                    <v-row class="dialog-form-wrapper" style="display: flex;margin-bottom:20px;">
                        <div style="display:flex;flex-direction:column;" v-if="isEdit">
                            <label>Status</label>
                            <select v-model="formData.status" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;margin-right:75px;max-width:200px;width:200px;height:33px;"
                            >
                                <option :selected="true" :disabled="true">Select Status</option>
                                <option value="Approved">Approved</option>
                                <option value="Cancelled">Cancelled</option>
                            </select>
                        </div>
                        <v-text-field
                            type="date"
                            v-model="formData.approved_date"
                            label="Approved Date"
                            style="margin-right:10px;max-width:200px;margin-top:10px;"
                            v-if="isEdit"
                        >
                        </v-text-field>
                    </v-row>

                </div>
                <v-row class="dialog-form-wrapper" style="display: flex;">
                    <table>
                        <tr>
                            <td>Surface Description</td>
                            <td>Shade Code</td>
                            <td>Using Product</td>
                        </tr>
                        <tr v-for="(tableData, index) in tableDatas" :key="index">
                            <td style="padding: 0 8px;">
                                <v-text-field
                                    v-model="tableData.surface_description"
                                    label="Surface Description *"
                                    style="margin-top:20px;width:180px;"
                                >
                                </v-text-field>
                            </td>
                            <td style="padding: 0 8px;">
                                <div style="display:flex;flex-direction:column;">
                                    <label>Shade Code *</label>
                                    <select v-model="tableData.shade_palette_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;width:150px;height:33px;"
                                    >
                                        <option v-for="(shadePalette, index) in shadePalettes" :key="index"
                                                :value="shadePalette.id">{{shadePalette.shade_code}} - ( {{
                                            shadePalette.shade_name }} )
                                        </option>
                                    </select>
                                </div>
                            </td>
                            <td style="padding: 0 8px;">
                                <div style="display:flex;flex-direction:column;">
                                    <label>Using Product *</label>
                                    <select v-model="tableData.material_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;width:150px;height:33px;"
                                            @keydown.enter="addNewRow()"
                                    >
                                        <option v-for="(material, index) in materials" :key="index"
                                                :value="material.id">{{material.brand_name}}
                                        </option>
                                    </select>
                                </div>
                            </td>
                            <span style="cursor:pointer;display: flex;align-items: center;justify-content:
                            flex-start;font-size: 30px;margin-right: 5px;margin-left:5px;margin-top:25px;"
                                  @click="deleteNewRow(index)" v-if="index > 0">x</span>
                        </tr>
                    </table>
                </v-row>
            </v-card-text>
            <v-card-actions class="dialog-action">
                <v-spacer></v-spacer>
                <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                       :disabled="$store.getters.buttonLoader">Save
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    export default {
        data() {
            return {
                dialog: false,
                title: "Add Room Shade",
                shadeCards: [],
                validation: {},
                formData: {},
                tableDatas: [
                    {
                        surface_description: '',
                        shade_palette_id: '',
                        using_product: '',
                    },
                    {
                        surface_description: '',
                        shade_palette_id: '',
                        using_product: '',
                    }
                ],
                shadePalettes: [],
                materials: [],
                isEdit: false,
            }
        },
        created() {
            this.$bus.$on('add-project-room-shade', data => {
                this.isEdit = false;
                this.formData = {};
                this.validation = {};
                this.tableDatas = [
                    {
                        surface_description: '',
                        shade_palette_id: '',
                        using_product: '',
                    },
                    {
                        surface_description: '',
                        shade_palette_id: '',
                        using_product: '',
                    }
                ];
                this.formData.status = 'Sample';
                this.$store.dispatch('getAllShades').then(res => {
                    this.shadeCards = res
                });
                this.$store.dispatch('getAllShadePalettes').then(res => {
                    this.shadePalettes = res
                });
                this.$store.dispatch('getAllMaterials').then((res) => {
                    this.materials = res
                });
                if (data) {
                    this.isEdit = true;
                    // this.formData = data;
                    this.formData.id = data.id;
                    this.formData.shade_card_id  = data.shade_card_id;
                    this.formData.room_name =  data.room_name;
                    this.formData.alternative_room_name = data.alternative_room_name;
                    this.formData.room_position = data.room_position;
                    this.formData.project_id = data.project_id;
                    this.formData.chosen_by = data.surface[0].chosen_by;
                    this.formData.chosen_date = data.surface[0].chosen_date;
                    this.formData.status = data.surface[0].status;
                    this.formData.approved_date = data.surface[0].approved_date;
                    if (data.surface.length > 0) {
                        this.tableDatas = data.surface.map((surf) => {
                            return {
                                'surface_description': surf.surface_description,
                                'shade_palette_id': surf.shade_palette_id,
                                'material_id': surf.material_id
                            };
                        })
                    }
                    this.title = "Edit Room Shade";
                }
                this.title = "Add Room Shade";
                this.dialog = true;
            })
        },
        methods: {
            addNewRow() {
                this.tableDatas.push({
                    surface_description: '',
                    shade_palette_id: '',
                    using_product: '',
                });
            },
            deleteNewRow(index) {
                this.tableDatas.splice(index, 1);
            },
            submit() {
                this.validation = {};
                if (!this.formData.shade_card_id) {
                    this.validation.shade_card_id = "Shade Card is required"
                }
                if (!this.formData.room_name) {
                    this.validation.room_name = "Room name  is required"
                }
                if (Object.keys(this.validation).length > 0) {
                    return false;
                }

                this.tableDatas = this.tableDatas.map(v => ({
                    ...v,
                    project_id: parseInt(this.$route.params.project_id),
                    shade_card_id: this.formData.shade_id
                }));
                this.formData.project_id = parseInt(this.$route.params.project_id);
                let data = {};
                data.formData = this.formData;
                data.tableDatas = this.tableDatas;
                this.$store.dispatch('addProjectRoomShade', data).then(res => {
                    this.dialog = false;
                    this.$bus.$emit('refresh-room-shade-list');
                }).catch(err => {
                    this.validation = this.$store.getters.validation;
                })
            }
        },

    }
</script>
<style scoped>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 2px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>
