<template>
    <v-data-table
        :headers="headers"
        :items="projectRoomShades"
        class="elevation-1"
        :loading="loading"
        loading-text="Loading... Please wait"
    >
        <template slot="item" slot-scope="props">
            <tr>
<!--                <td>{{props.item.project.name}}</td>-->
                <td>{{props.item.shade_card.name}}</td>
                <td>{{props.item.room_name}}</td>
                <td v-if="props.item.alternative_room_name">{{props.item.alternative_room_name}}</td>
                <td v-else>N/a</td>
                <td v-if="props.item.room_position">{{props.item.room_position}}</td>
                <td v-else>N/a</td>
                <td>
                    <v-icon small class="action-button" @click="editProjectRoomShade(props.item)">mdi-pencil</v-icon>
                    <v-icon small class="action-button" @click="deleteProjectRoomShade(props.item.id)">mdi-delete</v-icon>
                </td>
            </tr>
        </template>
    </v-data-table>
</template>
<script>
    export default {
        data() {
            return {
                headers: [
                    {text: 'Shade Name', align: 'left', sortable: false, value: 'shadeCard.name'},
                    {text: 'Room Name', align: 'left', sortable: false, value: 'room_name'},
                    {text: 'Alternative Room Name', align: 'left', sortable: false, value: 'alternative_room_name'},
                    {text: 'Room Position', align: 'left', sortable: false, value: 'room_position'},
                    {text: 'Actions', align: 'left', sortable: false, value: 'action'},
                ],
                projectRoomShades: [],
                loading: true,
            }
        },
        created() {
            this.$bus.$on('refresh-room-shade-list', () => {
                this.loading = true;
                this.getProjectRoomShadesLists();
            })
        },
        destroyed() {
            this.$bus.$off('refresh-project-room-shade-list');
        },
        mounted() {
            this.getProjectRoomShadesLists();
        },
        methods: {
            getProjectRoomShadesLists() {
                this.loading = true;
                this.$store.dispatch('getAllProjectRoomShades', {project_id: this.$route.params.project_id}).then((res) => {
                    this.projectRoomShades = res;
                });
                this.loading = false;
            },
            editProjectRoomShade(item) {
                this.$bus.$emit('add-project-room-shade', item);
            },
            deleteProjectRoomShade(id) {
                let r = confirm('Are you sure want to delete?');
                if (r) {
                    this.$store.dispatch('deleteProjectRoomShade', id).then(() => {
                        this.$bus.$emit('refresh-project-room-shade-list');
                    });
                }
            }
        }
    }
</script>
