<template>
    <v-dialog v-model="dialog" persistent scrollable max-width="1400px">
        <v-card class="dialog-card">
            <v-card-title>
                <span>{{ title }}</span>
            </v-card-title>
            <v-card-text style="margin-top: 30px;">
                <v-row class="dialog-form-wrapper">
                    <v-col xs12>
                        <v-select
                            :items="shadeCards.map(function(shade) {
                                    return {text: shade.name , value: shade.id}
                                })"
                            v-model="shade_id"
                            label="Select Project *"
                            :error-messages="validation.project_id"
                            style="margin-right:30px;margin-left: 30px;width:130px;"
                        >
                        </v-select>

                    </v-col>
                </v-row>
                <v-row class="dialog-form-wrapper" v-for="(formData, index) in formDatas" :key="index"
                       style="display: flex;">
                    <v-text-field v-model="formData.surface_description" label="Surface Description"
                                   style="margin-right:10px;width:100px;">
                    </v-text-field>
                    <v-text-field v-model="formData.shade_name" label="Shade Name"
                                   style="margin-right:10px;width:100px;">
                    </v-text-field>
                    <v-text-field v-model="formData.shade_code" label="Shade Code"
                                  style="margin-right:10px;width:100px;">
                    </v-text-field>
                    <v-text-field v-model="formData.chosen_by" label="Chosen by"
                                  style="margin-right:10px;width:100px;">
                    </v-text-field>
                    <v-text-field type="date" v-model="formData.chosen_date" label="Chosen Date"
                                  style="margin-right:10px;width:100px;">
                    </v-text-field>
                    <v-select
                        :items="materials.map(function(material) {
                                    return {text:  material.name , value: material.id}
                                })"
                        v-model="formData.material_id"
                        label="Using Product *"
                        :error-messages="validation.material_id"
                        style="margin-right:30px;margin-left: 30px;width:130px;"
                    >
                    </v-select>
                    <v-text-field v-model="formData.status" label="Status"
                                  @keydown.enter="addNewRow" style="margin-right:10px;width:100px;">
                    </v-text-field>

                    <span style="cursor:pointer;display: flex;align-items: center;justify-content:
                            flex-start;font-size: 19px;margin-right: 5px;"
                          @click="deleteNewRow(index)" v-if="index > 0">x</span>
                </v-row>
            </v-card-text>
            <v-card-actions class="dialog-action">
                <v-spacer></v-spacer>
                <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                       :disabled="$store.getters.buttonLoader">Save
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    export default {
        data() {
            return {
                dialog: false,
                title: "Add Surface Shade",
                shadeCards: [],
                validation: {},
                shade_id: '',
                material_id: '',
                materials: [],
                formDatas: [
                    {
                        surface_description: '',
                        shade_name: '',
                        shade_code: '',
                        chosen_by: '',
                        chosen_date: '',
                        status: '',
                        material_id: '',
                    }
                ]
            }
        },
        created() {
            this.$bus.$on('add-project-surface-shade', data => {
                this.formDatas = [
                    {
                        surface_description: '',
                        shade_name: '',
                        shade_code: '',
                        chosen_by: '',
                        chosen_date: '',
                        status: '',
                        material_id: '',
                    }
                ];
                this.$store.dispatch('getAllShades').then(res => {
                    this.shadeCards = res;
                });
                this.$store.dispatch('getAllMaterials').then(res => {
                    this.materials = res;
                });
                this.title = "Add Surface Shade";
                this.dialog = true;
            })
        },
        methods: {
            addNewRow() {
                this.formDatas.push({
                    surface_description: '',
                    shade_name: '',
                    shade_code: '',
                    chosen_by: '',
                    chosen_date: '',
                    status: '',
                    material_id: '',
                })
            },
            deleteNewRow(index) {
                this.formDatas.splice(index, 1);
            },
            submit() {
                this.formDatas = this.formDatas.map(v => ({
                    ...v,
                    project_id: parseInt(this.$route.params.project_id),
                    shade_card_id: this.shade_id,
                }));
                this.$store.dispatch('addProjectSurfaceShade', this.formDatas).then(res => {
                    this.dialog = false;
                    this.$bus.$emit('refresh-surface-shade-list');
                }).catch(err => {
                    this.validation = this.$store.getters.validation;
                })
            }
        },

    }
</script>
