<template>
    <v-data-table
        :headers="headers"
        :items="projectSurfaceShades"
        class="elevation-1"
        :loading="loading"
        loading-text="Loading... Please wait"
    >
        <template slot="item" slot-scope="props">
            <tr>
                <!--                <td>{{props.item.project.name}}</td>-->
                <td>{{props.item.shadeCard.name}}</td>
                <td>{{props.item.surface_description}}</td>
                <td>{{props.item.shade_name}}</td>
                <td>{{props.item.shade_code}}</td>
                <td v-if="props.item.chosen_by">{{props.item.chosen_by}}</td>
                <td v-else>N/a</td>
                <td v-if="props.item.chosen_date">{{props.item.chosen_date}}</td>
                <td v-else>N/a</td>
                <td>{{props.item.status}}</td>
                <td>{{props.item.material.name}}</td>
                <td>
                    <v-icon small class="action-button" @click="editProjectSurfaceShade(props.item)">mdi-pencil</v-icon>
                    <v-icon small class="action-button" @click="deleteProjectSurfaceShade(props.item.id)">mdi-delete</v-icon>
                </td>
            </tr>
        </template>
    </v-data-table>
</template>
<script>
    export default {
        data() {
            return {
                headers: [
                    {text: 'Shade Name', align: 'left', sortable: false, value: 'shadeCard.name'},
                    {text: 'Surface Description', align: 'left', sortable: false, value: 'surface_description'},
                    {text: 'Shade Name', align: 'left', sortable: false, value: 'shade_name'},
                    {text: 'Shade Code', align: 'left', sortable: false, value: 'shade_code'},
                    {text: 'Chosen By', align: 'left', sortable: false, value: 'chosen_by'},
                    {text: 'Chosen Date', align: 'left', sortable: false, value: 'chosen_date'},
                    {text: 'Status', align: 'left', sortable: false, value: 'status'},
                    {text: 'Using Product', align: 'left', sortable: false, value: 'material.name'},
                    {text: 'Actions', align: 'left', sortable: false, value: 'action'},
                ],
                projectSurfaceShades: [],
                loading: true,
            }
        },
        created() {
            this.$bus.$on('refresh-project-surface-shade-list', () => {
                this.loading = true;
                this.getProjectSurfaceShadesLists();
            })
        },
        destroyed() {
            this.$bus.$off('refresh-project-surface-shade-list');
        },
        mounted() {
            this.getProjectSurfaceShadesLists();
        },
        methods: {
            getProjectSurfaceShadesLists() {
                this.loading = true;
                this.$store.dispatch('getAllProjectSurfaceShades', {project_id: this.$route.params.project_id}).then((res) => {
                    this.projectSurfaceShades = res;
                });
                this.loading = false;
            },
            editProjectSurfaceShade(item) {
                this.$bus.$emit('edit-project-surface-shade', item);
            },
            deleteProjectSurfaceShade(id) {
                let r = confirm('Are you sure want to delete?');
                if (r) {
                    this.$store.dispatch('deleteProjectSurfaceShade', id).then(() => {
                        this.$bus.$emit('refresh-project-surface-shade-list');
                    });
                }
            }
        }
    }
</script>
