<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent scrollable max-width="800px">
            <v-card>
                <v-card-title>
                    <span>{{title}}</span>
                </v-card-title>
                <v-card-text style="margin-top: 20px;">
                    <v-row class="dialog-form-wrapper">
                        <v-col cols="12">
                            <v-text-field
                                label="Referral Name*"
                                v-model="formData.name"
                                :error-messages="validation.name">
                            </v-text-field>
                            <v-text-field
                                label="Address*"
                                v-model="formData.address"
                                :error-messages="validation.address">
                            </v-text-field>
                            <v-text-field
                                label="Phone*"
                                v-model="formData.phone"
                                :error-messages="validation.phone">
                            </v-text-field>
                            <v-text-field
                                label="Position*"
                                v-model="formData.designation"
                                :error-messages="validation.designation">
                            </v-text-field>
<!--                            <v-text-field
                                label="Status"
                                v-model="formData.status"
                                :error-messages="validation.status">
                            </v-text-field>-->
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions class="dialog-action">
                    <v-spacer></v-spacer>
                    <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                    <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                           :disabled="$store.getters.buttonLoader">Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
    export default {
        data: () => ({
            dialog: false,
            formData: {},
            validation: {},
            menu: false,
            title: 'Add Referral',
        }),
        created() {
            this.$bus.$on('add-referral', data => {
                this.validation = {};
                this.formData = {};
                this.isEdit = false;
                this.title = 'Add Referral';
                if (data) {
                    this.formData = data;
                    this.title = "Edit Referral";
                }
                this.dialog = true;
            })
        },
        methods: {
            submit() {
                this.$store.dispatch('addReferral', this.formData).then((res) => {
                    this.dialog = false;
                    this.$bus.$emit('refresh-referral-list');
                }).catch((err) => {
                    this.validation = this.$store.getters.validation
                })
            },
        }
    }
</script>
