<template>
    <v-card>
        <v-card-title style="display: flex; justify-content: space-between; align-items:center;">
            <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                @keydown.enter="searchData()"
                style="max-width:50%;"
            ></v-text-field>
            <v-pagination
                v-if="totalPage > 1"
                v-model="page"
                :length="totalPage"
                :total-visible="5"
            ></v-pagination>
        </v-card-title>
        <v-data-table
            :headers="headers"
            :items="referrals"
            class="elevation-1"
            :loading="loading"
            loading-text="Loading... Please wait"
        >
            <template slot="item" slot-scope="props">
                <tr>
                    <td>{{props.item.name}}</td>
                    <td>{{props.item.address}}</td>
                    <td>{{props.item.phone}}</td>
                    <td>{{props.item.designation}}</td>
                    <td>{{props.item.created_at}}</td>
                    <td>
                        <v-icon small class="action-button" @click="editReferral(props.item)">mdi-pencil</v-icon>
                        <v-icon small class="action-button" @click="deleteReferral(props.item.id)">mdi-delete</v-icon>
                    </td>
                </tr>
            </template>
        </v-data-table>
        <v-pagination
            v-if="totalPage > 1"
            v-model="page"
            :length="totalPage"
            :total-visible="5"
            style="float:right; padding:10px;"
        ></v-pagination>
    </v-card>
</template>
<script>
    export default {
        data() {
            return {
                headers: [
                    {text: 'Name', align: 'left', sortable:false, value:'name'},
                    {text: 'Address', align: 'left', sortable:false, value:'address'},
                    {text: 'Phone', align: 'left', sortable:false, value:'phone'},
                    {text: 'Designation', align: 'left', sortable:false, value:'designation'},
                    {text: 'Created Date', align: 'left', sortable: false, value: 'created_at'},
                    {text: 'Actions', align: 'left', sortable: false, value: 'action'},
                ],
                referrals: [],
                loading: true,
                page: 1,
                totalPage: 1,
                search: '',
                type: 'all'
            }
        },
        created() {
            this.$bus.$on('refresh-referral-list', () => {
                this.loading = true;
                this.getReferralLists();
            })
        },
        destroyed() {
            this.$bus.$off('refresh-referral-list');
        },
        mounted() {
            this.getReferralLists();
        },
        watch: {
            page(val) {
                this.page = val;
                this.getReferralLists();
            }
        },
        methods: {
            filterCategory(data){
                this.type = data;
                this.page = 1;
                this.getReferralLists();
            },
            searchData() {
                this.getReferralLists();
            },
            getReferralLists() {
                this.loading = true;
                this.$store.dispatch('getAllReferrals',{page: this.page, search: this.search, type: this.type}).then((res) => {
                    this.referrals = res.data;
                    this.totalPage = res.last_page;
                    this.loading = false;
                })
            },
            editReferral(item) {
                this.$bus.$emit('add-referral', item);
            },
            deleteReferral(id) {
                let r = confirm('Are you sure want to delete?');
                if(r) {
                    this.$store.dispatch('deleteReferral', id).then(() => {
                        this.$bus.$emit('refresh-referral-list');
                    })
                }
            }
        }
    }
</script>
<style lang="scss" scoped>
    .expansion-wrapper{
        display: flex;
        flex-direction: column;
        height: 100%;
        width:100%;
        .question-wrapper{
            margin:1rem;
        }
        .answer-wrapper{
            display: flex;
            margin:.5rem 3rem;
        }
        .hint-wrapper{
            margin:1rem;
        }
    }


</style>
