<template>
    <v-data-table
        :headers="headers"
        :items="processes"
        class="elevation-1"
        :loading="loading"
        loading-text="Loading... Please wait"
    >
        <template slot="item" slot-scope="props">
            <tr>
                <td>{{props.item.name}}</td>
                <td>{{props.item.code}}</td>
                <td>
                    <v-icon small class="action-button" @click="editProcess(props.item)">mdi-pencil</v-icon>
                    <v-icon small class="action-button" @click="deleteProcess(props.item.id)">mdi-delete</v-icon>
                </td>
            </tr>
        </template>
    </v-data-table>
</template>
<script>
    export default {
        data() {
            return {
                headers: [
                    {text: 'Process Name', align: 'left', sortable: false, value: 'name'},
                    {text: 'Process Code', align: 'left', sortable: false, value: 'code'},
                    {text: 'Actions', align: 'left', sortable: false, value: 'action'},
                ],
                processes: [],
                loading: true,
            }
        },
        created() {
            this.$bus.$on('refresh-process-list', () => {
                this.loading = true;
                this.getProcesses();
            })
        },
        destroyed() {
            this.$bus.$off('refresh-process-list');
        },
        mounted() {
            this.getProcesses();
        },
        methods: {
            getProcesses() {
                this.loading = true;
                this.$store.dispatch('getAllProcesses').then((res) => {
                    this.processes = res;
                });
                this.loading = false;
            },
            editProcess(item) {
                this.$bus.$emit('add-process', item);
            },
            deleteProcess(id) {
                let r = confirm('Are you sure want to delete?');
                if (r) {
                    this.$store.dispatch('deleteProcess', id).then(() => {
                        this.$bus.$emit('refresh-process-list');
                    });
                }
            }
        }
    }
</script>
