<template>
    <v-data-table
        :headers="headers"
        :items="units"
        class="elevation-1"
        :loading="loading"
        loading-text="Loading... Please wait"
    >
        <template slot="item" slot-scope="props">
            <tr>
                <td>{{props.item.name}}</td>
                <td>{{props.item.code}}</td>
                <td>
                    <v-icon small class="action-button" @click="editUnit(props.item)">mdi-pencil</v-icon>
                    <v-icon small class="action-button" @click="deleteUnit(props.item.id)">mdi-delete</v-icon>
                </td>
            </tr>
        </template>
    </v-data-table>
</template>
<script>
    export default {
        data() {
            return {
                headers: [
                    {text: 'Unit Name', align: 'left', sortable: false, value: 'name'},
                    {text: 'Unit Code', align: 'left', sortable: false, value: 'code'},
                    {text: 'Actions', align: 'left', sortable: false, value: 'action'},
                ],
                units: [],
                loading: true,
            }
        },
        created() {
            this.$bus.$on('refresh-unit-list', () => {
                this.loading = true;
                this.getUnits();
            })
        },
        destroyed() {
            this.$bus.$off('refresh-unit-list');
        },
        mounted() {
            this.getUnits();
        },
        methods: {
            getUnits() {
                this.loading = true;
                this.$store.dispatch('getAllUnits').then((res) => {
                    this.units = res;
                });
                this.loading = false;
            },
            editUnit(item) {
                this.$bus.$emit('add-unit', item);
            },
            deleteUnit(id) {
                let r = confirm('Are you sure want to delete?');
                if (r) {
                    this.$store.dispatch('deleteUnit', id).then(() => {
                        this.$bus.$emit('refresh-unit-list');
                    });
                }
            }
        }
    }
</script>
