<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent scrollable max-width="800px">
            <v-card >
                <v-card-title>
                    <span>{{title}}</span>
                </v-card-title>
                <v-card-text style="margin-top: 20px;">
                    <v-row class="dialog-form-wrapper" style="margin-top:20px;">
                        <v-col cols="12">
                            <div style="display:flex;flex-direction:column;">
                                <label>Select Manufacture *</label>
                                <select v-model="formData.manufacture_id" class="form-control" style="border: 1px solid
                                        #ccd;padding: 0 5px;background: #f5f5f5;border-radius: 2.5px;height:33px;"
                                >
                                    <option v-for="(manufacture, index) in manufactures" :key="index"
                                            :value="manufacture.id">{{ manufacture.name }}
                                    </option>
                                </select>
                                <span v-if="validation.manufacture_id" style="color:red;"> {{validation.manufacture_id}}</span>
                            </div>
                            <v-text-field
                                label="Name"
                                v-model="formData.name"
                                :error-messages="validation.name">
                            </v-text-field>
                            <v-text-field
                                label="Code"
                                v-model="formData.code"
                                :error-messages="validation.code">
                            </v-text-field>
                            <v-text-field
                                label="Version"
                                v-model="formData.version"
                                :error-messages="validation.version">
                            </v-text-field>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions class="dialog-action">
                    <v-spacer></v-spacer>
                    <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                    <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                           :disabled="$store.getters.buttonLoader">Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
    export default {
        data: () => ({
            dialog: false,
            formData: {},
            validation: {},
            title: 'Add Shade Card',
            manufactures: []

        }),
        created() {
            this.$bus.$on('add-shade', data => {
                this.validation = {};
                this.formData = {};
                this.title = 'Add Shade Card';
                this.$store.dispatch('getAllManufactures').then((res) => {
                    this.manufactures = res;
                })
                if (data) {
                    this.formData = data;
                    this.title = "Edit Shade Card";
                }
                this.dialog = true;
            })
        },
        methods: {
            submit() {
                this.$store.dispatch('addShade', this.formData).then((res) => {
                    this.dialog = false;
                    this.$bus.$emit('refresh-shade-list');
                }).catch((err) => {
                    this.validation = this.$store.getters.validation
                })
            },
        }
    }
</script>
