<template>
    <v-data-table
        :headers="headers"
        :items="shades"
        class="elevation-1"
        :loading="loading"
        loading-text="Loading... Please wait"
    >
        <template slot="item" slot-scope="props">
            <tr>
                <td>{{props.item.manufacture.name}}</td>
                <td>{{props.item.name}}</td>
                <td>{{props.item.code}}</td>
                <td>{{props.item.version}}</td>
                <td>
                    <v-icon small class="action-button" @click="editShade(props.item)">mdi-pencil</v-icon>
                    <v-icon small class="action-button" @click="deleteShade(props.item.id)">mdi-delete</v-icon>
                </td>
            </tr>
        </template>
    </v-data-table>
</template>
<script>
    export default {
        data() {
            return {
                headers: [
                    {text: 'Manufacture', align: 'left', sortable: false, value: 'manufacture.name'},
                    {text: 'Shade Card Name', align: 'left', sortable: false, value: 'name'},
                    {text: 'Shade Card Code', align: 'left', sortable: false, value: 'code'},
                    {text: 'Shade Card Version', align: 'left', sortable: false, value: 'version'},
                    {text: 'Actions', align: 'left', sortable: false, value: 'action'},
                ],
                shades: [],
                loading: true,
            }
        },
        created() {
            this.$bus.$on('refresh-shade-list', () => {
                this.loading = true;
                this.getShades();
            })
        },
        destroyed() {
            this.$bus.$off('refresh-shade-list');
        },
        mounted() {
            this.getShades();
        },
        methods: {
            getShades() {
                this.loading = true;
                this.$store.dispatch('getAllShades').then((res) => {
                    this.shades = res;
                });
                this.loading = false;
            },
            editShade(item) {
                this.$bus.$emit('add-shade', item);
            },
            deleteShade(id) {
                let r = confirm('Are you sure want to delete?');
                if (r) {
                    this.$store.dispatch('deleteShade', id).then(() => {
                        this.$bus.$emit('refresh-shade-list');
                    });
                }
            }
        }
    }
</script>
