<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent scrollable max-width="800px">
            <v-card>
                <v-card-title>
                    <span>{{title}}</span>
                </v-card-title>
                <v-card-text style="margin-top: 20px;">
                    <v-row class="dialog-form-wrapper">
                        <v-col cols="12">
                            <v-select
                                :items="equipmentCategories.map(function(category) {
                                    return {text: category.name, value: category.id}
                                })"
                                v-model="formData.category_id"
                                label="Select Equipment Category*"
                                :error-messages="validation.category_id"
                            >
                            </v-select>
                            <v-select
                                :items="manufactures.map(function(manufacture) {
                                    return {text: manufacture.name, value: manufacture.id}
                                })"
                                v-model="formData.manufacture_id"
                                label="Select Manufacture*"
                                :error-messages="validation.manufacture_id"
                            >
                            </v-select>
<!--                            <v-text-field-->
<!--                                label="Manufacture"-->
<!--                                v-model="formData.manufacture"-->
<!--                                :error-messages="validation.manufacture">-->
<!--                            </v-text-field>-->
                            <v-text-field
                                label="Variant"
                                v-model="formData.variant"
                                :error-messages="validation.variant">
                            </v-text-field>
                            <v-text-field
                                type="number"
                                label="Model No"
                                v-model="formData.model_no"
                                :error-messages="validation.model_no">
                            </v-text-field>
                            <v-text-field
                                label="Part No"
                                v-model="formData.part_no"
                                :error-messages="validation.part_no">
                            </v-text-field>
                            <v-menu
                                v-model="menu"
                                :close-on-content-click="false"
                                :nudge-right="40"
                                transition="scale-transition"
                                offset-y
                                min-width="auto"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                        v-model="formData.date_of_used"
                                        label="Date Of Used"
                                        prepend-icon="mdi-calendar"
                                        readonly
                                        v-bind="attrs"
                                        v-on="on"
                                        :error-messages="validation.date_of_used"
                                    ></v-text-field>
                                </template>
                                <v-date-picker
                                    v-model="formData.date_of_used"
                                    @input="menu = false"
                                ></v-date-picker>
                            </v-menu>
                            <v-text-field
                                type="number"
                                label="Expected Life In Hours"
                                v-model="formData.expected_life"
                                :error-messages="validation.expected_life">
                            </v-text-field>
                            <v-text-field
                                type="number"
                                label="Purchase Amount"
                                v-model="formData.purchase_amount"
                                :error-messages="validation.purchase_amount">
                            </v-text-field>
<!--                            <v-text-field-->
<!--                                type="number"-->
<!--                                label="Operating Cost"-->
<!--                                v-model="formData.operating_cost"-->
<!--                                :error-messages="validation.operating_cost">-->
<!--                            </v-text-field>-->
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions class="dialog-action">
                    <v-spacer></v-spacer>
                    <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                    <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                           :disabled="$store.getters.buttonLoader">Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
    export default {
        data: () => ({
            dialog: false,
            formData: {},
            validation: {},
            title: 'Add Equipment',
            equipmentCategories:[],
            menu: false,
            manufactures: []
        }),
        created() {
            this.$bus.$on('add-equipment', data => {
                this.validation = {};
                this.formData = {};
                this.title = 'Add Equipment';
                this.$store.dispatch('getAllEquipmentCategories').then((res) => {
                    this.equipmentCategories = res;
                });
                this.$store.dispatch('getAllManufactures').then((res) => {
                    this.manufactures = res;
                });
                if (data) {
                    this.formData = data;
                    this.title = "Edit Equipment";
                }
                this.dialog = true;
            })
        },
        methods: {
            submit() {
                this.$store.dispatch('addEquipment', this.formData).then((res) => {
                    this.dialog = false;
                    this.$bus.$emit('refresh-equipment-list');
                }).catch((err) => {
                    this.validation = this.$store.getters.validation
                })
            },
        }
    }
</script>
