<template>
    <v-data-table
        :headers="headers"
        :items="equipments"
        class="elevation-1"
        :loading="loading"
        loading-text="Loading... Please wait"
    >
        <template slot="item" slot-scope="props">
            <tr>
                <td>{{props.item.category.name}}</td>
                <td v-if="props.item.manufacture">{{props.item.manufacture.code}}</td>
                <td v-else> {{ 'N/a' }}</td>
                <td>{{props.item.variant}}</td>
                <td>{{props.item.model_no}}</td>
                <td>{{props.item.part_no}}</td>
                <td>{{props.item.date_of_used}}</td>
                <td>{{props.item.code}}</td>
                <td>{{props.item.expected_life}}</td>
                <td>{{props.item.purchase_amount}}</td>
                <td>{{props.item.operating_cost}}</td>
                <td>
                    <v-icon small class="action-button" @click="editEquipment(props.item)">mdi-pencil</v-icon>
                    <v-icon small class="action-button" @click="deleteEquipment(props.item.id)">mdi-delete</v-icon>
                </td>
            </tr>
        </template>
    </v-data-table>

</template>
<script>
    export default {
        data() {
            return {
                headers: [
                    {text: 'Category Name', align: 'left', sortable: false, value: 'category.name'},
                    {text: 'Manufacture', align: 'left', sortable: false, value: 'manufacture.code'},
                    {text: 'Variant', align: 'left', sortable: false, value: 'variant'},
                    {text: 'Model No', align: 'left', sortable: false, value: 'model_no'},
                    {text: 'Part No', align: 'left', sortable: false, value: 'part_no'},
                    {text: 'Date Of Used', align: 'left', sortable: false, value: 'date_of_used'},
                    {text: 'Code', align: 'left', sortable: false, value: 'code'},
                    {text: 'Expected Life Per Hour', align: 'left', sortable: false, value: 'expected_life'},
                    {text: 'Purchase Amount', align: 'left', sortable: false, value: 'purchase_amount'},
                    {text: 'Operating Cost Per Hour' , align: 'left', sortable: false, value: 'operating_cost'},
                    {text: 'Actions', align: 'left', sortable: false, value: 'action'},
                ],
                equipments: [],
                loading: true,
            }
        },
        created() {
            this.$bus.$on('refresh-equipment-list', () => {
                this.loading = true;
                this.getEquipments();
            })
        },
        destroyed() {
            this.$bus.$off('refresh-equipment-list');
        },
        mounted() {
            this.getEquipments();
        },
        methods: {
            getEquipments() {
                this.loading = true;
                this.$store.dispatch('getAllEquipments').then((res) => {
                    this.equipments = res;
                });
                this.loading = false;
            },
            editEquipment(item) {
                this.$bus.$emit('add-equipment', item);
            },
            deleteEquipment(id) {
                let r = confirm('Are you sure want to delete?');
                if (r) {
                    this.$store.dispatch('deleteEquipment', id).then(() => {
                        this.$bus.$emit('refresh-equipment-list');
                    });
                }
            }
        }
    }
</script>
