<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent scrollable max-width="800px">
            <v-card>
                <v-card-title>
                    <span>{{title}}</span>
                </v-card-title>
                <v-card-text style="margin-top: 20px;">
                    <v-row class="dialog-form-wrapper">
                        <v-col cols="12">
                            <v-text-field
                                label="Name"
                                v-model="formData.name"
                                :error-messages="validation.name">
                            </v-text-field>
                            <v-text-field
                                label="Quantity"
                                type="number"
                                v-model="formData.quantity"
                                :error-messages="validation.quantity">
                            </v-text-field>
                            <v-text-field
                                label="Code"
                                v-model="formData.code"
                                :error-messages="validation.code">
                            </v-text-field>
                            <v-text-field
                                label="Purchase Price"
                                type="number"
                                v-model="formData.purchase_price"
                                :error-messages="validation.purchase_price">
                            </v-text-field>
                            <v-text-field
                                label="Sales Price"
                                type="number"
                                v-model="formData.sales_price"
                                :error-messages="validation.sales_price">
                            </v-text-field>
                            <v-select
                                :items="units.map(function(unit) {
                                    return {text: unit.code, value: unit.id}
                                })"
                                v-model="formData.unit_id"
                                label="Select Unit*"
                                :error-messages="validation.unit_id"
                            >
                            </v-select>
                            <v-text-field
                                label="Damaged Quantity"
                                type="number"
                                v-model="formData.damage_quantity"
                                :error-messages="validation.damage_quantity">
                            </v-text-field>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions class="dialog-action">
                    <v-spacer></v-spacer>
                    <v-btn class="close-button" @click="dialog = false">Close</v-btn>
                    <v-btn class="save-button" @click="submit()" :loading="$store.getters.buttonLoader"
                           :disabled="$store.getters.buttonLoader">Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
    export default {
        data: () => ({
            dialog: false,
            formData: {},
            validation: {},
            title: 'Add Stock',
            units: [],
        }),
        created() {
            this.$bus.$on('add-stock', data => {
                this.validation = {};
                this.formData = {};
                this.title = 'Add Stock';
                this.$store.dispatch('getAllUnits').then((res) => {
                    this.units = res;
                });
                if (data) {
                    this.formData = data;
                    this.title = "Edit Stock";
                }
                this.dialog = true;
            })
        },
        methods: {
            submit() {
                this.$store.dispatch('addStock', this.formData).then((res) => {
                    this.dialog = false;
                    this.$bus.$emit('refresh-stock-list');
                }).catch((err) => {
                    this.validation = this.$store.getters.validation
                })
            },
        }
    }
</script>
