<template>
    <v-data-table
        :headers="headers"
        :items="stocks"
        class="elevation-1"
        :loading="loading"
        loading-text="Loading... Please wait"
    >
        <template slot="item" slot-scope="props">
            <tr>
                <td>{{props.item.name}}</td>
                <td>{{props.item.code}}</td>
                <td>{{props.item.quantity}}</td>
                <td>{{props.item.purchase_price}}</td>
                <td>{{props.item.sales_price}}</td>
                <td>{{props.item.unit.code}}</td>
                <td>{{props.item.damage_quantity}}</td>

                <td>
                    <v-icon small class="action-button" @click="editStock(props.item)">mdi-pencil</v-icon>
                    <v-icon small class="action-button" @click="deleteStock(props.item.id)">mdi-delete</v-icon>
                </td>
            </tr>
        </template>
    </v-data-table>

</template>
<script>
    export default {
        data() {
            return {
                headers: [
                    {text: 'Name', align: 'left', sortable: false, value: 'name'},
                    {text: 'Code', align: 'left', sortable: false, value: 'code'},
                    {text: 'Quantity', align: 'left', sortable: false, value: 'quantity'},
                    {text: 'Purchase Price', align: 'left', sortable: false, value: 'purchase_price'},
                    {text: 'Sales Price', align: 'left', sortable: false, value: 'sales_price'},
                    {text: 'Unit', align: 'left', sortable: false, value: 'unit.code'},
                    {text: 'Damaged Quantity', align: 'left', sortable: false, value: 'damage_quantity'},
                    {text: 'Actions', align: 'left', sortable: false},
                ],
                stocks: [],
                loading: true,
            }
        },
        created() {
            this.$bus.$on('refresh-stock-list', () => {
                this.loading = true;
                this.getStocks();
            })
        },
        destroyed() {
            this.$bus.$off('refresh-stock-list');
        },
        mounted() {
            this.getStocks();
        },
        methods: {
            getStocks() {
                this.loading = true;
                this.$store.dispatch('getAllStocks').then((res) => {
                    this.stocks = res;
                });
                this.loading = false;
            },
            editStock(item) {
                this.$bus.$emit('add-stock', item);
            },
            deleteStock(id) {
                let r = confirm('Are you sure want to delete?');
                if (r) {
                    this.$store.dispatch('deleteStock', id).then(() => {
                        this.$bus.$emit('refresh-stock-list');
                    });
                }
            }
        }
    }
</script>
